/*!
 * Start Bootstrap - Blog Post (https://startbootstrap.com/template-overviews/blog-post)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-post/blob/master/LICENSE)
 
body {
  padding-top: 56px;

  
}

h1 , h2{
    font-family: 'Fjalla One', sans-serif;
    
}

button{
    font-family: 'Fjalla One', sans-serif;
    
}*/
