<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Erro de Permissão!</title>

  <link rel="stylesheet" type="text/css" href="assets/stylesheets/vendors.min.css"/>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/algaworks.min.css"/>

  
</head>

<body class="aw-layout-simple-page">
  <div class="aw-layout-simple-page__container">
	
<div class="aw-error-panel">
	<h1 class="aw-error-panel__code">
		<i class="fa  fa-lock"></i>
	</h1>
	
	<h2 class="aw-error-panel__title">Acesso negado</h2>
	
	<div class="aw-error-panel__description">
		Desculpe, você não está autorizado a acessar a página que solicitou.
		Se você acha que isso é um engano, entre em contato com a gente.
		<br/><br/>
		<a href="javascript:history.back()" class="btn  btn-primary">Voltar para onde estava</a>
	</div>
</div>

  </div>

  <script src="assets/javascripts/vendors.min.js"></script>
  <script src="assets/javascripts/algaworks.min.js"></script>
</body>
</html>