<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Erro 404 - Página não encontrada!</title>


        <link rel="stylesheet" type="text/css" href="/css/404.css"/>


    </head>

    <div class="overlay"></div>
    <div class="terminal">
        <h1>Error <span class="errorcode">404</span></h1>
        <p class="output">A página que você está procurando pode ter sido removida, teve seu nome alterado ou está temporariamente indisponível</ü>
        <p class="output">Por favor tente <a href="/">este link</a> ou <a href="/">este link</a></p>
        <p class="output">Boa sorte</p>
    </div>
</html>