{% extends "baseAdmin.twig" %}

{% block title %}

        <title>JIF - 404</title>
   
    
{% endblock %} 
{% block body %}

    {% block content %}

        
 <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- 404 Error Text -->
          <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">Página Inexistente!</p>
            <p class="text-gray-500 mb-0">Parece que você encontrou uma falha na matrix...</p>
            <a href="/painel">&larr; Voltar para o painel</a>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->


    {% endblock %}
{% endblock %}





