{% extends "baseAdmin.twig" %}

{% block title %}


    <title> JIF - Alteração de dados de usuário</title>

{% endblock %} 
{% block body %}

    {% block content %}


     <div class="alert alert-warning alert-dismissible fade show" role="alert">

            <strong>Atenção! </strong> Para alterar outros dados sem ser senha repita ela nos campos: senha atual, nova senha e confirmação de senha!!!(3 campos)</br>
           
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>



        <div class="col-xl-12 ">
            <div id="div_retorno">

            </div>
            <div class="card shadow mb-4 mx-auto col p-5">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Dados do Usuário: </h6>
                    <div class="dropdown no-arrow">
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                        </div>
                    </div>
                </div>
                <div id="processando" style="display: none;">
                    <img src="/img/ajaxloader.gif" />
                </div>
                <!-- Card Body -->

                <div class="card-body">
                    <form id="alteraSenhaAndDados" enctype="multipart/form-data">

                        <fieldset>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nome">*Nome:</label>                                        
                                    <input type="text" class="nome form-control" value="{{sessao.get("nomeLogado")}}" id="nome" name="nome"  required autofocus>

                                </div>
                                {%if sessao.get('tecnico') != ''%}
                                    <div class="form-group col-md-6">
                                        <label for="siape">Siape:</label>                                        
                                        <input type="text" class="siape form-control" value="{{sessao.get("siapeLogado")}}" id="siape" name="siape" maxlength="7"  >

                                    </div>
                                {%endif%}

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="cpf">*CPF:</label>
                                    <input type="text" class="cpf form-control" value="{{sessao.get("cpfLogado")}}" id="cpf" name="cpf"  readonly >

                                </div>
                                <div class="form-group col-md-4">
                                    <label for="email">*E-mail:</label>
                                    <input type="email" class="email form-control" value="{{sessao.get("emailLogado")}}" id="email" required name="email" >

                                </div>
                                <div class="form-group col-md-2">
                                    <label for="telefone">Telefone:</label>
                                    <input type="text" class="telefone form-control" value="{{sessao.get("telefoneLogado")}}" id="telefone"  name="telefone" >
                                </div>
                            </div>        
                            <div class="form-row">
                                {% if (sessao.get("permissaoLogado") != "administrador" )%}
                                    <input type="hidden" id="campus" value="sessao.get("campusLogado")" class="campus form-control">
                                    {% else %}
                                        <div class="form-group col-md-4">
                                        <label for="campus">Campus:</label>
                                        <select name="campus" id="campus" class="campus form-control">
                                            <option value="">Selecione...</option>
                                            <option value="Ituiutaba" {% if(sessao.get("campusLogado") == "Ituiutaba")%}selected{%endif%}>Ituiutaba</option>
                                            <option value="Paracatu" {% if(sessao.get("campusLogado") == "Paracatu")%}selected{%endif%}>Paracatu</option>
                                            <option value="Campina Verde" {% if(sessao.get("campusLogado") == "Campina Verde")%}selected{%endif%}>Campina Verde</option>
                                            <option value="Ibiá" {% if(sessao.get("campusLogado") == "Ibiá")%}selected{%endif%}>Ibiá</option>
                                            <option value="João Pinheiro" {% if(sessao.get("campusLogado") == "João Pinheiro")%}selected{%endif%}>João Pinheiro</option>
                                            <option value="Patos de Minas" {% if(sessao.get("campusLogado") == "Patos de Minas")%}selected{%endif%}>Patos de Minas</option>
                                            <option value="Patrocínio" {% if(sessao.get("campusLogado") == "Patrocínio")%}selected{%endif%}>Patrocínio</option>
                                            <option value="Uberaba" {% if(sessao.get("campusLogado") == "Uberaba")%}selected{%endif%}>Uberaba</option>
                                            <option value="Uberaba Parque Tecnológico" {% if(sessao.get("campusLogado") == "Uberaba Parque Tecnológico")%}{{selected}}{%endif%}>Uberaba Parque Tecnológico</option>
                                            <option value="Uberlândia" {% if(sessao.get("campusLogado") == "Uberlândia")%}selected{%endif%}>Uberlândia</option>
                                            <option value="Uberlândia Centro" {% if(sessao.get("campusLogado") == "Uberlândia Centro")%}selected{%endif%}>Uberlândia Centro</option>
                                        </select>
                                    </div>


                                    <div class="form-group col-md-4">
                                        <label for="permissao">*Permissão:</label>
                                        <select  name="permissao" id="permissao" disabled class="permissao form-control">
                                            <option value="">Selecione...</option>
                                            <option value="tecnico" {% if(sessao.get("permissaoLogado") == "tecnico")%}selected{%endif%}>Técnico</option>
                                            <option value="assistente" {% if(sessao.get("permissaoLogado") == "assistente")%}selected{%endif%}>Assistente do técnico</option>
                                        </select>
                                    </div>

                                {% endif %}



                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-4">
                                    <label for="senha">Digite a senha atual:</label>
                                    <div class="input-group mb-3">


                                        <input type="password" name="atual" id="atual"  class="atual form-control" required placeholder="Atual">

                                        <div class="input-group-append">

                                            <input id="showPassword2" value="Mostrar" name="showPassword2" class="btn btn-outline-secondary" type="button" />
                                        </div>

                                    </div> 

                                </div> 
                                <div class="form-group col-md-4">
                                    <label for="senha">Digite a nova senha:</label>
                                    <input type="password" name="senha" id="senha"  class="senha form-control" required placeholder="Nova Senha">

                                </div> 
                                <div class="form-group col-md-4">
                                    <label for="conf_password" >Repita a senha:</label>
                                    <div class="input"><input type="password" name="conf_password" id ="conf_password" class="conf_password form-control" required placeholder="Confirmação de nova senha">

                                    </div>
                                </div>  
                            </div>


                        </fieldset>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-success btn btn-primary btn-lg pull-right" />
                            Alterar Dados
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>


    {% endblock %}
{% endblock %}





