{% extends "baseAdmin.twig" %}

{% block title %}

    {% if (sessao.get("alterar") != "" and sessao.get("buscado")%}
        <title> JIF - Alteração de atleta</title>

    {%elseif sessao.get("mostrar") != "" and sessao.get("buscado")%}
        <title> JIF - Visualização de atleta</title>

    {% endif%}

{% endblock %} 
{% block body %}

    {% block content %}

        {% if sessao.get("alterar") != "" and sessao.get("buscado")%}
            <div class="col-xl-12 ">
                <div class="card shadow mb-4 mx-auto col p-5">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Alterar Aluno: </h6>
                        <div class="dropdown no-arrow">
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">

                        <div id="div_retorno">

                        </div>
                        <div id="processando" style="display: none;">
                            <img src="/img/ajaxloader.gif" />
                        </div>
                    </div>

                    <div class="card-body">

                        <form id="atualizarAluno" enctype="multipart/form-data">
                            <fieldset>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="nome">*Nome:</label>                                        
                                        <input type="text" class="nome form-control" id="nome" value="{{dados.nome}}"  name="nome"  required autofocus>

                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="siape">*Registro Acadêmico (RA):</label>                                        
                                        <input type="text" class="form-control"  value="{{dados.ra}}" id="ra" name="ra" placeholder="RA" required> 

                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="cpf">*Data de Nascimento:</label>
                                        <input type="text" class="form-control" value="{{dados.data_nascimento}}" id="datanascimento" name="datanascimento" placeholder="DD/MM/AAAA" required> 

                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="sexo">*Sexo:</label>
                                        <select name="sexo" id="sexo"  class="sexo form-control" required>
                                            <option value="">Selecione...</option>
                                            <option value="m" {% if(dados.sexo == "m")%}selected{%endif%}>Masculino</option>
                                            <option value="f" {% if(dados.sexo == "f")%}selected{%endif%}>Feminino</option>
                                        </select>

                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="telefone" >Telefone:</label>
                                        <input type="text" value="{{dados.telefone}}" class="telefone form-control" id="telefone"  name="telefone" required>
                                    </div>
                                </div>        
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="campus">Campus:</label>

                                        <select name="campus" id="campus"  class="campus form-control">
                                            <option value="">Selecione...</option>
                                            <option value="Ituiutaba" {% if(dados.campus == "Ituiutaba")%}selected{%endif%}>Ituiutaba</option>
                                            <option value="Paracatu" {% if(dados.campus == "Paracatu")%}selected{%endif%}>Paracatu</option>
                                            <option value="Campina Verde" {% if(dados.campus == "Campina Verde")%}selected{%endif%}>Campina Verde</option>
                                            <option value="Ibiá" {% if(dados.campus == "Ibiá")%}selected{%endif%}>Ibiá</option>
                                            <option value="João Pinheiro" {% if(dados.campus == "João Pinheiro")%}selected{%endif%}>João Pinheiro</option>
                                            <option value="Patos de Minas" {% if(dados.campus == "Patos de Minas")%}selected{%endif%}>Patos de Minas</option>
                                            <option value="Patrocínio" {% if(dados.campus == "Patrocínio")%}selected{%endif%}>Patrocínio</option>
                                            <option value="Uberaba" {% if(dados.campus == "Uberaba")%}selected{%endif%}>Uberaba</option>
                                            <option value="Uberaba Parque Tecnológico" {% if(dados.campus == "Uberaba Parque Tecnológico")%}{{selected}}{%endif%}>Uberaba Parque Tecnológico</option>
                                            <option value="Uberlândia Fazenda" {% if(dados.campus == "Uberlândia Fazenda")%}selected{%endif%}>Uberlândia Fazenda</option>
                                            <option value="Uberlândia Centro" {% if(dados.campus == "Uberlândia Centro")%}selected{%endif%}>Uberlândia Centro</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="telefone">RG: </label>
                                        <input type="text" class="rg form-control"  value="{{dados.rg}}"  id="rg"  name="rg" required>

                                    </div>

                                    <div class="form-group col-md-4 mt-4">
                                        <label>Foto: </label>
                                        <input type="file" class="imagem jfilestyle" name="imagem" id="imagem" data-theme="green" data-text="Selecione uma imagem...">

                                    </div>
                                </div>


                            </fieldset>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                  <!-- <a type="submit" class="btn btn-sm btn-success" href="/ativar-aluno/{{dados.ra}}">Ativar</a> --> <a type="submit" class="btn btn-sm btn-success" href="/desativar-aluno/{{dados.ra}}">Desativar</a>


                            </div>
                        </form>
                    </div>
                </div>
            </div>

        {%else if sessao.get("mostrar") != "" and sessao.get("buscado")%}


            <div class="col-xl-12 ">
                <div class="card shadow mb-4 mx-auto col p-5">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Dados do aluno: </h6>
                        <div class="dropdown no-arrow">
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                            </div>
                        </div>
                    </div>
                
                    <div class="card-body">

                            <fieldset>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="nome">*Nome:</label>                                        
                                        <input type="text" disabled class="nome form-control" id="nome" value="{{dados.nome}}"  name="nome"  required autofocus>

                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="siape">*Registro Acadêmico (RA):</label>                                        
                                        <input type="text" disabled class="form-control"  value="{{dados.ra}}" id="ra" name="ra" placeholder="RA" required> 

                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="cpf">*Data de Nascimento:</label>
                                        <input  type="text" class="form-control" disabled value="{{dados.data_nascimento}}" id="datanascimento" name="datanascimento" placeholder="DD/MM/AAAA" required> 

                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="sexo">*Sexo:</label>
                                        <select  name="sexo" disabled id="sexo"  class="sexo form-control" required>
                                            <option value="">Selecione...</option>
                                            <option value="m" {% if(dados.sexo == "m")%}selected{%endif%}>Masculino</option>
                                            <option value="f" {% if(dados.sexo == "f")%}selected{%endif%}>Feminino</option>
                                        </select>

                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="telefone" >Telefone:</label>
                                        <input  disabled type="text" value="{{dados.telefone}}" class="telefone form-control" id="telefone"  name="telefone" required>
                                    </div>
                                </div>        
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="campus">Campus:</label>

                                        <select  disabled name="campus" id="campus"  class="campus form-control">
                                            <option value="">Selecione...</option>
                                            <option value="Ituiutaba" {% if(dados.campus == "Ituiutaba")%}selected{%endif%}>Ituiutaba</option>
                                            <option value="Paracatu" {% if(dados.campus == "Paracatu")%}selected{%endif%}>Paracatu</option>
                                            <option value="Campina Verde" {% if(dados.campus == "Campina Verde")%}selected{%endif%}>Campina Verde</option>
                                            <option value="Ibiá" {% if(dados.campus == "Ibiá")%}selected{%endif%}>Ibiá</option>
                                            <option value="João Pinheiro" {% if(dados.campus == "João Pinheiro")%}selected{%endif%}>João Pinheiro</option>
                                            <option value="Patos de Minas" {% if(dados.campus == "Patos de Minas")%}selected{%endif%}>Patos de Minas</option>
                                            <option value="Patrocínio" {% if(dados.campus == "Patrocínio")%}selected{%endif%}>Patrocínio</option>
                                            <option value="Uberaba" {% if(dados.campus == "Uberaba")%}selected{%endif%}>Uberaba</option>
                                            <option value="Uberaba Parque Tecnológico" {% if(dados.campus == "Uberaba Parque Tecnológico")%}{{selected}}{%endif%}>Uberaba Parque Tecnológico</option>
                                            <option value="Uberlândia Fazenda" {% if(dados.campus == "Uberlândia Fazenda")%}selected{%endif%}>Uberlândia Fazenda</option>
                                            <option value="Uberlândia Centro" {% if(dados.campus == "Uberlândia Centro")%}selected{%endif%}>Uberlândia Centro</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="telefone">RG: </label>
                                        <input disabled type="text" class="rg form-control"  value="{{dados.rg}}"  id="rg"  name="rg" required>

                                    </div>

                                    <div class="form-group col-md-4 mt-4">
                                        <label>Foto: </label>
                                        <input type="file" disabled class="imagem jfilestyle" name="imagem" id="imagem" data-theme="green" data-text="Selecione uma imagem...">

                                    </div>
                                </div>


                            </fieldset>

                     
                    </div>
                </div>
            </div>
        {% endif%}

    {% endblock %}
{% endblock %}





