

<h3 class="mb-3">Cadastro Aluno</h3>
 
<form action="/gravarAluno" method="POST" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-group col-md-6"> <input type="text" class="form-control"  name="ra" placeholder="RA" required> </div>
        <div class="form-group col-md-6"> <input type="text" class="form-control"  name="nome" placeholder="Nome" required> </div>
        <div class="form-group col-md-6"> <input type="text" class="form-control" name="sobrenome" placeholder="Sobrenome" required> </div>
    </div>
    <div class="form-group"> <input type="text" class="form-control" name="datanascimento" placeholder="Data Nascimento" required> </div>
    <div class="form-group"> <input type="text" class="form-control" name="sexo" placeholder="Sexo" required> </div>
    <div class="form-group"> <input type="text" class="form-control" name="rg" placeholder="RG" required > </div>
    <div class="form-group"> <input type="text" class="form-control" name="campus" placeholder="Campus" required> </div>
    <div class="form-row">
        <div class="form-group col-md-12"> <input type="text" class="form-control" name="telefone" placeholder="Telefone" required> </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12"><input type="file" name="imagem" placeholder="Imagem" required=""> </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>







