{% extends "baseAdmin.twig" %}
{% block title %}
    <title> JIF - Atualização de Modalidades</title>
{% endblock %} 
{% block body %}
    {% block content %}
        <div class="col-xl-12 ">
            <div class="card shadow mb-4 mx-auto col p-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 order-md-1">
                           
                             <h6 class="m-0 font-weight-bold text-primary"><b>Atualização de Modalidades</b></h6>
                            <form action="/painel/modalidade/update" method="POST">
                                <div class="row">
                                    
                                        <input type="hidden" name="aaa" class="form-control" value="{{modalidade.idModalidade}}" disabled="true">
                                    
                                    <div class="col-md-6 mb-3">
                                        <input type="hidden" name="codHidden" class="form-control" value="{{modalidade.idModalidade}}">
                                    </div>
                                </div>
                                
                                
                                <div class="row">
                                    <div class="col-md-6 mb-3"> <label for="esporte">Esporte</label>
                                        <input type="text" name="esporte" class="form-control" value="{{modalidade.esporte}}" >
                                    </div>
                                    <div class="col-md-6 mb-3"> <label for="qtdatletas">Quantidade de Atletas</label>
                                        <input type="number" name="qtdatletas" class="form-control" value="{{modalidade.qtdAtleta}}" required="" max="12" min="1">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 mb-3"> <label for="genero">Gênero</label> <select class="custom-select d-block w-100" name="genero" required="" >
                                            
                                            
                                            <option value="1" {% if modalidade.masculino == 1 %}selected{% else %}{% endif %}>Masculino</option>
                                            <option value="2" {% if modalidade.masculino == 1 %}{% else %}selected{% endif %} >Feminino</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3"> <label for="tipo">Tipo</label> <select class="custom-select d-block w-100" name="tipo" required="">
                                            <option value="{{modalidade.masculino}}">{% if modalidade.coletivo  == 1 %}Coletivo{% else %}Individual{% endif %}</option>
                                            
                                            <option value="1"{% if modalidade.coletivo  == 1 %}selected{% else %}{% endif %}>Coletiva</option>
                                            <option value="2"{% if modalidade.coletivo  == 1 %}{% else %}selected{% endif %}>Individual</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success" >Atualizar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}