{% extends "baseAdmin.twig" %}

{% block title %}


    <title> JIF - Atualizar Aluno</title>

{% endblock %} 
{% block body %}
    {% block content %}
    
    
    
                {{ sessao.get("msgAluno")|raw}}

                {{ sessao.add("msgAluno", "") }}
                 

    
    
    

    
    <div class="col-xl-12 ">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">

        <strong>Atenção! </strong> Deixe o campo de foto vazio para manter a atual!!!</br>
        <strong>Obs:</strong> campos marcados com * são obrigatórios
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        
        
    </div>
    <div id="div_retorno">
    </div>
    
        <div class="card shadow mb-4 mx-auto col p-5">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Alterar Aluno: </h6>
                <div class="dropdown no-arrow">
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                    </div>
                </div>
            </div>
            <!-- Card Body -->

   {% for a in aluno %}
            <div class="form-group col-md-4 mt-4 ">

                <label style="display:block;width:90%;word-break:break-all;" >Foto Atual: </label>

                <a href="/img/{{a.foto}}" target="_blank"><img src="/img/miniaturas/{{a.foto}}"  class="border border-success rounded p-1 m-1"  height="150" width="150"></a>

            </div>

            <div class="card-body">

                <div id="processando" style="display: none;">
                    <img src="/img/ajaxloader.gif" />
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card-body">

                    <!--<form id="gravarAluno" >-->
                    <!--<form action="/painel/aluno/gravar" method="POST"  enctype= multipart/form-data>-->
                    <form id="atualizarAluno" enctype= multipart/form-data>
                        <fieldset>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nome">*Nome:</label>                                        
                                    <input type="text" class="nome form-control" id="nome" value="{{a.nome}}"  name="nome"  required autofocus>

                                </div>
                                <div class="form-group col-md-6">
                                    <label for="siape">*Registro Acadêmico (RA):</label>                                        
                                    <input type="text" class="form-control" readonly value="{{a.ra}}" id="ra" name="ra" maxlength="11" minlength="11" placeholder="RA" required> 

                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="cpf">*Data de Nascimento:</label>
                                    <input type="text" class="form-control" value="{{a.data_nascimento|date("d/m/Y")}}" id="data_nascimento" name="data_nascimento" placeholder="DD/MM/AAAA" required> 

                                </div>
                                <div class="form-group col-md-4">
                                    <label for="sexo">*Sexo:</label>
                                    <select name="sexo" id="sexo"  class="sexo form-control" required>
                                        <option value="">Selecione...</option>
                                        <option value="m" {% if(a.sexo == "m")%}selected{%endif%}>Masculino</option>
                                        <option value="f" {% if(a.sexo == "f")%}selected{%endif%}>Feminino</option>
                                    </select>

                                </div>
                                <div class="form-group col-md-2">
                                    <label for="telefone" >*Telefone:</label>
                                    <input type="text" value="{{a.telefone}}" class="telefone form-control" id="telefone"  name="telefone" required>
                                </div>
                            </div>        
                            <div class="form-row">
                            
                            
                            {% if (sessao.get("permissaoLogado") != "administrador" )%}
                              <input type="hidden" id="campus" value="sessao.get("permissaoLogado")" class="campus form-control">
                            {% else %}
                                <div class="form-group col-md-4">
                                    <label for="campus">*Campus:</label>

                                    <select name="campus" id="campus"  class="campus form-control">
                                        <option value="">Selecione...</option>
                                        <option value="Ituiutaba" {% if(a.campus == "Ituiutaba")%}selected{%endif%}>Ituiutaba</option>
                                        <option value="Paracatu" {% if(a.campus  == "Paracatu")%}selected{%endif%}>Paracatu</option>
                                        <option value="Campina Verde" {% if(a.campus  == "Campina Verde")%}selected{%endif%}>Campina Verde</option>
                                        <option value="Ibiá" {% if(a.campus  == "Ibiá")%}selected{%endif%}>Ibiá</option>
                                        <option value="João Pinheiro" {% if(a.campus == "João Pinheiro")%}selected{%endif%}>João Pinheiro</option>
                                        <option value="Patos de Minas" {% if(a.campus  == "Patos de Minas")%}selected{%endif%}>Patos de Minas</option>
                                        <option value="Patrocínio" {% if(a.campus  == "Patrocínio")%}selected{%endif%}>Patrocínio</option>
                                        <option value="Uberaba" {% if(a.campus  == "Uberaba")%}selected{%endif%}>Uberaba</option>
                                        <option value="Uberaba Parque Tecnológico" {% if(a.campus  == "Uberaba Parque Tecnológico")%}{{selected}}{%endif%}>Uberaba Parque Tecnológico</option>
                                        <option value="Uberlândia" {% if(a.campus  == "Uberlândia")%}selected{%endif%}>Uberlândia</option>
                                        <option value="Uberlândia Centro" {% if(a.campus  == "Uberlândia Centro")%}selected{%endif%}>Uberlândia Centro</option>
                                    </select>
                                </div>
                                {% endif %}
                            
                            
                                
                                <div class="form-group col-md-4">
                                    <label for="telefone">*RG: </label>
                                    <input type="text" class="rg form-control"  value="{{a.rg}}"  id="rg"  name="rg" required>

                                </div>

                                <div class="form-group col-md-4 mt-0">
                                    
                                    <label style="display:block;width:90%;word-break:break-all;" >Foto: </label>
                                    <input type="file" class="imagem jfilestyle" name="imagem" id="imagem" data-theme="green" data-text="Selecione uma imagem...">


                                </div>
                            </div>


                        </fieldset>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Salvar Alterações</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
 {%endfor%}
 
{%endblock%}
{%endblock%}

