<!DOCTYPE html>
<html lang="pt-br">

    <head>{% block head %} 

        <meta charset="utf-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

        <meta name="viewport" content="width=device-width" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <meta name="description" content="Jogos dos Institutos Federais 2019 - IFTM Campus Paracatu">
        <meta name="author" content="">
        <meta name="abstract" content="">
        <meta name="keywords" content="jiftm 2019, jiftm, paracatu, jogos iftm, site iftm, jif, jiftm paracatu, minas gerais" >
        <meta name="robot" content="Index,Follow" >
        <meta name="rating" content="general" >
        <meta name="distribution" content="global">
        <meta name="language" content="pt-br" >
        <link id="PageCanonical" rel="canonical" href="{{ app.request.pathinfo}}" />
        <link href="https://www.jiftm.com/team" rel="publisher" />

        <!--<meta id="PageDescription" name="Description" content="" />-->

        {% block title %}<title>JIF - Jogos dos Institutos Federais 2019</title>{% endblock %}

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/css/blog-post.css" rel="stylesheet">
        <link rel="icon" href="/icon/favicon.ico.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/icon/favicon.ico.ico" type="image/x-icon" />

        <!-- Bootstrap core JavaScript -->
        <script src="/sbtheme/jquery/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/functions.js" type="text/javascript"></script>


        <!--<script src="/css/zebra_pagination.css"></script>
        <script src="/js/zebra_pagination.js"></script>-->


        <link rel="stylesheet" type="text/css" href="/lib/css/style.css" />   
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
        <script src="/lib/js/loadMoreResults.js"></script>

        <!-- #################################################################################################################### -->
        <!-- nanoGALLERY CSS files                                                                                                -->
        <!-- only include the css file corresponding to the selected theme                                                        -->
        <!-- include 'nanogallery.css' if no theme is specified                                                                   -->
        <!--                                                                                                                      -->
        <!-- nanoGALLERY - default theme css file                                                                                 -->
        <link href="/css/nanogallery.css" rel="stylesheet" type="text/css">
        <!-- nanoGALLERY - css file for the theme 'clean'                                                                         -->
        <link href="/css/themes/clean/nanogallery_clean.css" rel="stylesheet" type="text/css">
        <!-- nanoGALLERY - css file for the theme 'light'                                                                         -->
        <link href="/css/themes/light/nanogallery_light.css" rel="stylesheet" type="text/css">
        <!-- <link href="/css/simple-sidebar.css" rel="stylesheet" type="text/css">-->
        <!-- #################################################################################################################### -->

        <!-- #################################################################################################################### -->
        <!-- nanoGALLERY javascript                                                                                               -->
        <!--                                                                                                                      -->
        <script type="text/javascript" src="/js/jquery.nanogallery.js"></script>
        <!--                                                                                                                      -->
        <!-- #################################################################################################################### -->

        <!-- #################################################################################################################### -->
        <!-- nanoGALLERY DEMO PANEL javascript - NOT NEEDED TO USE THE PLUGIN                                                     -->
        <script type="text/javascript" src="/js/jquery.nanogallerydemo.js"></script>
        <!-- #################################################################################################################### -->

        <!--File Style-->
        <link href="/css/jquery-filestyle.min.css" rel="stylesheet" />
        <script type="text/javascript" src="/js/jquery-filestyle.min.js"></script>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js'></script>
        <script type="text/javascript" src="https://rawgit.com/tempusdominus/bootstrap-4/master/build/js/tempusdominus-bootstrap-4.js"></script>

        <link href="https://rawgit.com/tempusdominus/bootstrap-4/master/build/css/tempusdominus-bootstrap-4.css" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/css/custom.css" rel="stylesheet">

        <script src="/js/jquery.mask.min.js" type="text/javascript"></script>


        <script type="text/javascript" src="/js/jquery.anoslide.js"></script>
        <script src="https://cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>

        <script>
            $('.imagemGaleria img').replaceWith(function (i, v) {
                return $('<div/>', {
                    style: 'background-image: url(' + this.src + ');' +
                            'width:' + this.width + 'px;' +
                            'height:' + this.height + 'px;',
                    class: 'fakeImg'
                })
            })
        </script>

        <style type="text/css">
            .imagemGaleria .fakeImg {
                background: no-repeat top center;
                background-size: cover;    
            }

            .imagemGaleria
            {
                display:inline-block;
                border:2px solid red;
                margin: 4px;
            }

            .carousel { position:relative; min-height: 20px; margin-top:0; height:auto !important; height: 20px;   }
            .carousel .next,
            .carousel .prev { display:none; width:56px; height:56px; position:absolute; bottom:20px; left:50%; margin-top:-28px; z-index:9999; cursor:pointer; }
            .carousel .prev { margin-left:-60px; background:url(/img/prev.png) 0 0 no-repeat;  }
            .carousel .next { margin-right:-60px;  background:url(/img/next.png) 0 0 no-repeat; }
            .carousel li { display:none; }
            /*.carousel li img { max-width:100%; height:500px; object-fit: cover; object-position: top;}*/
            .carousel li img { max-width:100%; height:500px; object-fit: cover; object-position: top;}

            .paging { position:absolute; z-index:9998; }
            .paging > a { display:block; cursor:pointer; width:40px; height:40px; float:left; background:url(/img/dots.png) 0px -40px no-repeat; }
            .paging > a:hover,
            .paging > a.current { background:url(/img/dots.png) 0px 0px no-repeat;  }
            .badge { display:block; width:104px; height:104px; background:url(/img/badge.png) 0 0 no-repeat; z-index:9000; position:absolute; top:-3px; left:-3px; }
            img {
                -webkit-user-select: none;  /* Chrome all / Safari all */
                -moz-user-select: none;     /* Firefox all */
                -ms-user-select: none;      /* IE 10+ */
                -o-user-select: none;
                user-select: none;    
            }




            /* Figure */
        </style>

        <!--[if lt IE 9]>
           <script>
              document.createElement('header');
              document.createElement('nav');
              document.createElement('section');
              document.createElement('article');
              document.createElement('aside');
              document.createElement('footer');
              document.createElement('figure');
           </script>
        <![endif]-->


    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    {%endblock%}</head>

    <body id="page-top">{% block body %}


        <!-- Navigation -->


        {#
        {%if ((sessao.get("administrador") != '') or (sessao.get("tecnico") != ''))%}
                        <div style="position:relative; float:left;  cursor:pointer; ">  
                            {%if ((sessao.get("administrador") != '') or (sessao.get("tecnico") != ''))%}
                                <a href="#" class="btn btn-default btn-circle "  style="font-size:32px;color:red"><i class="fa fa-remove"></i></a><br>
                                <a href="#" class="btn btn-default btn-circle " ><i class="fa fa-pencil-square-o" style="font-size:32px;color:orange"></i></a>
                                {%endif%}
                        </div>
                    {%endif%}
        #}


        <nav class="navbar navbar-expand-lg navbar-dark bg-dark m-0" style="margin-top:0px;">


            <div class="container ">


                <a class="navbar-brand m-0" href="/"><img src="/icon/favicon.ico.ico" width="40" height="40" alt="">JIFTM - 2019</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Início
                                <span class="sr-only">(current)</span>
                            </a>

                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="/jogo/all">Jogos

                            </a></li>
                        {%if sessao.get("logado") == ""%}<li class="nav-item">
                                <a class="nav-link text-warning" href="/login"><b>Fazer Login</b></a>
                            </li>{%endif%}

                            <li class="nav-item">


                                <div class="dropdown m-1">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Utilidades
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item"  href="/cracha">Visualizar Crachá</a> 
                                        <a class="dropdown-item" href="/fotos">Galeria de Fotos</a>
                                        <a class="dropdown-item" href="/pontos-de-interesse">Pontos de Interesse</a>

                                    </div>
                                </div>



                            </li>
                            <li class="nav-item m-1">


                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sobre
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item"  href="/team">Desenvolvedores</a> 
                                        <a class="dropdown-item" href="/paracatu">Paracatu</a>

                                    </div>
                                </div>



                            </li>


                            {%if sessao.get("logado") != ""%}
                                <li class="nav-item">  
                                    <a class="nav-link" style="color:yellow;" href="#">logado: ({{sessao.get('username')}})</br>
                                    </a>
                                </li>
                                <li class="nav-item">  
                                    <a class="nav-link" style="color:lightseagreen;" href="/painel">Painel</br>
                                    </a>
                                </li>
                                <li class="nav-item">  
                                    <a class="nav-link" style="color:red;" href="/exit">Sair</br>

                                    {%endif%}

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>



            <!-- Page Content -->
            {%block slide%}
                {% if fotos|length >= 1 %}

                    <div class="carousel">

                        <a class="prev" data-prev-mixed></a>
                        <ul >
                            {% for f in fotos%}

                                <li><figure><center><a width='128px' height='256px' href="/fotos"><img data-src="/img/galeria/{{f.nome}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></a></center></figure></li>

                            {%endfor%}
                        </ul>
                        <a class="next" data-next-mixed></a>

                    </div> 

                {%else%}


                {%endif%}
            {%endblock%}

            <!-- <nav role="navigation">
                 <div id="menuToggle">
            <!--
            A fake / hidden checkbox is used as click reciever,
            so you can use the :checked selector on it.
            
            <input type="checkbox" />

            <!--
            Some spans to act as a hamburger.
            
            They are acting like a real hamburger,
            not that McDonalds stuff.
           
            <span></span>
            <span></span>
            <span></span>

            <!--
            Too bad the menu has to be inside of the button
            but hey, it's pure CSS magic.
          
            <ul id="menu">
                <a href="#"><li>Home</li></a>
                <a href="#"><li>About</li></a>
                <a href="#"><li>Info</li></a>
                <a href="#"><li>Contact</li></a>
                <a href="https://erikterwan.com/" target="_blank"><li>Show me more</li></a>
            </ul>
        </div>
    </nav>
     /#sidebar-wrapper -->


            <div class="container mt-5">

                <div class="row ">

                    <!-- Sidebar Widgets Column -->
                    <div class="col-md-4">

                        <!-- Search Widget
                        <div class="card my-4">
                            <h5 class="card-header">Buscar Postagem</h5>
                            <div class="card-body">
                                <form action="/" method="POST">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Buscar [p...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary" type="submit">Ir!</button>
                                    </span>
                                </div>
                                </form>
                            </div>
                        </div> -->

                        <!-- Categories Widget -->
                        <div class="card my-4">
                            <h5 class="card-header">Acesso Rápido</h5>
                            <div class="card-body">

                                <table class="table table-bordered mb-0 ">
                                    <tr><td>
                                            <a href="/">Home Page</a>
                                        </td></tr>
                                    <tr><td>
                                            <a href="/jogo/all">Lista de Jogos</a>
                                        </td></tr>
                                    <tr><td>
                                            <a href="/cracha">Visualizar Crachá</a>
                                        </td></tr>
                                    <tr><td>
                                            <a href="/fotos">Galeria de Fotos </a></td>
                                    </tr>
                                    <tr>
                                        <td> <a href="/pontos-de-interesse">Pontos de Interesse </a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="/paracatu">Sobre Paracatu</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://www.iftm.edu.br/paracatu/">Site Institucional</a></td>
                                    </tr>
                                    <tr>
                                        <td> <a href="/team">Desenvolvedores</a></td>
                                    </tr>
                                    <tr>
                                        <td> <a href="https://forms.gle/idjQsjXSDS1cuGji9">Contato</a></td>
                                    </tr>

                                </table>


                            </div>
                        </div>

                        <!-- Side Widget 
                        <div class="card my-4">
                            <h5 class="card-header">Side Widget</h5>
                            <div class="card-body">
                                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                            </div>
                        </div>-->

                    </div>


                    <!-- Post Content Column -->
                    {% block content %}


                        <div class="col-lg-8 mt-2" >
                            {{ sessao.get("msgChangePostagem")|raw}}

                            {{ sessao.add("msgChangePostagem", "") }}
                            {%if ((sessao.get("logado") != ''))%}
                                <a href="/postagem/view" class="btn btn-success input-group-addon "  style="color:white"><i class="fa fa-plus-square"></i><b> Nova Postagem</b></a>
                                    {%endif%}

                            <!--<div class="alert alert-warning alert-dismissible fade show" role="alert">

                                <strong></strong> 
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>-->

                            <!-- Title -->
                            <div class="mt-4">
                                {%if sessao.get("logado") == ""%}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">

                                        <strong>Atenção para Técnicos e Administradores !</strong> Faça login na parte superior!! 
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif%}
                            </div>
                            {#{%if ((sessao.get("administrador") != '') or (sessao.get("tecnico") != '')) and (sessao.get('cpfLogado') == (post.Usuario_cpf))%}#}
                            {%if ((sessao.get("administrador") != '') or (sessao.get("tecnico") != '') )%}

                                <div class="mt-4">

                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">

                                        <strong>Dica:</strong> Para alterar ou excluir suas postagens clique sobre ela para visualizar!! 
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>


                            {%elseif ((sessao.get("assistente") != '') or (sessao.get("aluno") != ''))%}

                                <div class="mt-4">

                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">

                                        <strong>Dica:</strong> Para alterar ou excluir suas postagens clique sobre ela para visualizar!! 
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>

                            {%endif%}


                            <!--INICIO POSTAGEM ################################################### -->


                            <div class="list2 md-8 w-100">
                                {% if postagens|length > 10 %}
                                    <ul class="loadMore">
                                    {%  endif%}

                                    {% if postagens|length >= 1 %}
                                        {%for post in postagens%} 
                                           

                                            <li class="thumbnail break-word" style="max-width: 100%;">
                                                {#{%if ((sessao.get("administrador") != '') or (sessao.get("tecnico") != '')) and (sessao.get('cpfLogado') == (post.Usuario_cpf))%}

                                                    <table>
                                                        <tr><td>
                                                                <a class="btn btn-default btn-circle " data-toggle="modal" data-target="#deleteModal{{post.id}}"  style="font-size:32px;color:red"><i class="fa fa-remove"></i></a>
                                                            </td>
                                                            <td>
                                                                <a href="/jogo/change/{{t2.idJogo}}" class="btn btn-default btn-circle " ><i class="fa fa-pencil-square-o" style="font-size:32px;color:orange"></i></a>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                {%endif
                                                {%if ((sessao.get("administrador") != '') or (sessao.get("tecnico") != ''))%}

                                                {%endif%}#}


                                                {%if ((sessao.get("administrador") != ''))%}

                                                    <table>
                                                        <tr><h2 class="mt-5 ">
                                                            <a href="/postagem/{{post.id}}">{%if(post.tituloPendente !="")%}{{post.tituloPendente  }}{%else%}{{post.titulo  }}{%endif%}</a>
                                                            {%if ((post.status == 1 ) and (sessao.get("logado") != ''))%} 
                                                                <a class='text-success'>(APROVAÇÃO PENDENTE)</a>

                                                            {%elseif ((post.status == 2 ) and (sessao.get("logado") != ''))%}
                                                                <a class='text-warning'> (ALTERAÇÃO PENDENTE)</a>

                                                            {%elseif ((post.status == 3 ) and (sessao.get("logado") != ''))%}
                                                                <a class='text-danger'>(REMOÇÃO PENDENTE) </a>
                                                            {%endif%}</h2><td>
                                                            {%if (post.status != 0)%}
                                                                <a class="btn btn-default btn-circle " data-toggle="modal" data-target="#modifyModal{{post.id}}"  title="Aprovar Modifições!!" style="font-size:32px;color:green"><i class="fa fa-check-square"></i></a>
                                                                {%endif%}
                                                        </td>

                                                        <td>
                                                            <a class="btn btn-default btn-circle " data-toggle="modal" data-target="#deleteModal{{post.id}}" title="Excluir!!"  style="font-size:32px;color:red"><i class="fa fa-remove"></i></a>
                                                        </td>
                                                        <td>
                                                            <a href="/postagem/change/{{post.id}}" title="Alterar!!"  class="btn btn-default btn-circle " ><i class="fa fa-pencil-square-o" style="font-size:32px;color:orange"></i></a>
                                                        </td>
                                                        </tr>
                                                    </table>


                                                {% elseif((sessao.get('assistente') != '' or sessao.get('tecnico') != '' ) )%}
                                                    <h2 class="mt-5 ">

                                                        <a href="/postagem/{{post.id}}">

                                                            {%if(post.tituloPendente !="")%}{{post.tituloPendente  }}{%else%}{{post.titulo  }}{%endif%}</a>
                                                            {%if ((post.status == 1 ) and (sessao.get("logado") != ''))%} 
                                                            <a class='text-success'>(APROVAÇÃO PENDENTE)</a>

                                                        {%elseif ((post.status == 2 ) and (sessao.get("logado") != ''))%}
                                                            <a class='text-warning'> (ALTERAÇÃO PENDENTE)</a>

                                                        {%elseif ((post.status == 3 ) and (sessao.get("logado") != ''))%}
                                                            <a class='text-danger'>(REMOÇÃO PENDENTE) </a>
                                                        {%endif%}


                                                    </h2>

                                                {%else%}

                                                    <h2 class="mt-5 ">

                                                        <a href="/postagem/{{post.id}}">
                                                                
                                                            {{post.titulo}}</a>
                                                            {%if ((post.status == 1 ) and (sessao.get("logado") != ''))%} 
                                                            <a class='text-success'>(APROVAÇÃO PENDENTE)</a>

                                                        {%elseif ((post.status == 2 ) and (sessao.get("logado") != ''))%}
                                                            <a class='text-warning'> (ALTERAÇÃO PENDENTE)</a>

                                                        {%elseif ((post.status == 3 ) and (sessao.get("logado") != ''))%}
                                                            <a class='text-danger'>(REMOÇÃO PENDENTE) </a>
                                                        {%endif%}


                                                    </h2>

                                                {%endif%}


                                                <!-- Author 
                                                <p class="lead">
                                                    
                                                    <a href="#">autor</a>
                                                </p>-->


                                                <hr>

                                                <!-- Date/Time -->


                                                {%if (post.status == 2 and sessao.get('logado') )%}
                                                    {%if post.dataModificado != NULL %}
                                                        {%set data = post.dataModificado%}
                                                    {%else%}
                                                        {%set data = post.dataHora%}
                                                    {%endif%}
                                                    {% if(data |date('m') == 1) %}
                                                        {%set mes = 'Janeiro'%}
                                                    {% elseif(data |date('m') == 2) %}
                                                        {%set mes = 'Fevereiro'%}
                                                    {% elseif(data |date('m') == 3) %}
                                                        {%set mes = 'Março'%}
                                                    {% elseif(data |date('m') == 4) %}
                                                        {%set mes = 'Abril'%}
                                                    {% elseif(data |date('m') == 5) %}
                                                        {%set mes = 'Maio'%}
                                                    {% elseif(data |date('m') == 6) %}
                                                        {%set mes = 'Junho'%}
                                                    {% elseif(data |date('m') == 7) %}
                                                        {%set mes = 'Julho'%}
                                                    {% elseif(data |date('m') == 8) %}
                                                        {%set mes = 'Agosto'%}
                                                    {% elseif(data |date('m') == 9) %}
                                                        {%set mes = 'Setembro'%}
                                                    {% elseif(data |date('m') == 10) %} 
                                                        {%set mes = 'Outubro'%}
                                                    {% elseif(data |date('m') == 11) %}
                                                        {%set mes = 'Novembro'%}
                                                    {% elseif(data |date('m') == 12) %}
                                                        {%set mes = 'Dezembro'%}
                                                    {%endif%}
                                                {%else%}
                                                    {%if post.dataModificadoPendente != NULL %}
                                                        {%set data = post.dataModificadoPendente%}
                                                    {%else%}
                                                        {%set data = post.dataHoraPendete%}
                                                    {%endif%}
                                                    {% if(data |date('m') == 1) %}
                                                        {%set mes = 'Janeiro'%}
                                                    {% elseif(data |date('m') == 2) %}
                                                        {%set mes = 'Fevereiro'%}
                                                    {% elseif(data |date('m') == 3) %}
                                                        {%set mes = 'Março'%}
                                                    {% elseif(data |date('m') == 4) %}
                                                        {%set mes = 'Abril'%}
                                                    {% elseif(data |date('m') == 5) %}
                                                        {%set mes = 'Maio'%}
                                                    {% elseif(data |date('m') == 6) %}
                                                        {%set mes = 'Junho'%}
                                                    {% elseif(data |date('m') == 7) %}
                                                        {%set mes = 'Julho'%}
                                                    {% elseif(data |date('m') == 8) %}
                                                        {%set mes = 'Agosto'%}
                                                    {% elseif(data |date('m') == 9) %}
                                                        {%set mes = 'Setembro'%}
                                                    {% elseif(data |date('m') == 10) %} 
                                                        {%set mes = 'Outubro'%}
                                                    {% elseif(data |date('m') == 11) %}
                                                        {%set mes = 'Novembro'%}
                                                    {% elseif(data |date('m') == 12) %}
                                                        {%set mes = 'Dezembro'%}
                                                    {%endif%}
                                                {%endif%}



                                                {%if (post.status == 2 and sessao.get('logado')  )%}
                                                    {%for p in usuarios%}
                                                        {%if post.dataModificadoPendente != NULL and (p.cpf == post.Usuario_cpf)%}

                                                            <p>Modificado em {{data |date('d')}} de {{mes}}, {{data |date('Y')}} às {{data |date('H:i')}} Por {{p.nome}}</p>


                                                        {%elseif (p.cpf == post.Usuario_cpf)%}

                                                            <p>Postado em {{data |date('d')}} de {{mes}}, {{data |date('Y')}} às {{data |date('H:i')}} Por {{p.nome}}</p>

                                                        {%endif%}
                                                    {%endfor%}
                                                {%else%}
                                                    {%for p in usuarios%}
                                                        {%if post.dataModificado != NULL and (p.cpf == post.Usuario_cpf)%}

                                                            <p>Modificado em {{data |date('d')}} de {{mes}}, {{data |date('Y')}} às {{data |date('H:i')}} Por {{p.nome}}</p>


                                                        {%elseif (p.cpf == post.Usuario_cpf)%}

                                                            <p>Postado em {{data |date('d')}} de {{mes}}, {{data |date('Y')}} às {{data |date('H:i')}} Por {{p.nome}}</p>

                                                        {%endif%}
                                                    {%endfor%}
                                                {%endif%}




                                                <hr>

                                                <!-- Preview Image -->


                                                {%if ( sessao.get('logado') )%}
                                                    {%if post.fotoPendente  !=  '' %}
                                                        <img class="img-fluid rounded" src="/img/{{post.fotoPendente}}" alt="Iftm Paracatu">

                                                        <hr>
                                                    {%elseif(post.foto != '')%}
                                                        <img class="img-fluid rounded" src="/img/{{post.foto}}" alt="Iftm Paracatu">

                                                        <hr>
                                                     {%else%}
                                                        
                                                         
                                                    {%endif%}
                                                {%else%}
                                                    {%if post.foto != ""%}
                                                        <img class="img-fluid rounded" src="/img/{{post.foto}}" alt="Iftm Paracatu">
                                                        <hr>

                                                    {%elseif(post.fotoPendente != "")%}
                                                       <img class="img-fluid rounded" src="/img/{{post.fotoPendente}}" alt="Iftm Paracatu">

                                                        <hr>
                                                        
                                                     {%else%}
                                                        
                                                    {%endif%}
                                                {%endif%}


                                            {%if(post.textoPendente !="")%}{% set texto  = post.textoPendente  %}{%else%}{%set texto  = post.texto  %}{%endif%}
                                                {%if (sessao.get("logado") )%}
                                                    
                                                        <!-- Post Content -->
                                                        {%if texto |length > 300 %}
                                                            {{ texto |striptags|slice(0, 300)|raw }}
                                                            ...

                                                        <center><a href="/postagem/{{post.id}}" type="button" class="btn btn-primary m-4"><i class="fa fa-arrow-circle-right"> LER MAIS...</i> </a></center>
                                                        {%else%}    
                                                            {{ texto |raw }}
                                                        {%endif%}
                                                    
                                            {%else%}
                                                <!-- Post Content -->
                                                {%if texto |length > 300 %}
                                                    {{ texto |striptags|slice(0, 300)|raw }}
                                                    ...

                                                    <center><a href="/postagem/{{post.id}}" type="button" class="btn btn-primary m-4"><i class="fa fa-arrow-circle-right"> LER MAIS...</i> </a></center>
                                                    {%else%}    
                                                        {{ texto |raw }}
                                                    {%endif%}
                                                {%endif%}





                                            </li>

                                            <div class="modal fade" id="deleteModal{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-danger" id="exampleModalLabel"><b>Deseja Remover a postagem ?</b></h5>
                                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">Confirme abaixo se você tem certeza que deseja excluir a Postagem Selecionada!!</div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">Cancelar</button>

                                                            <!--<form id="removeModalidade" enctype="multipart/form-data">-->


                                                            <!-- <button type="submit" class="btn btn-sm btn-danger">Confimar Exclusão</button>-->
                                                            {#href="/jogo/delete/{{t2.idJogo}}#}

                                                            <a type="submit" href="/postagem/excluir/{{post.id}}" class="btn btn-sm btn-danger" >Confirmar Exclusão</a>


                                                            <!--</form>-->


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal fade" id="modifyModal{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">

                                                            {%if post.status == 1%}
                                                                <h5 class="modal-title text-success" id="exampleModalLabel"><b>
                                                                        Deseja Aceitar a postagem ? 
                                                                    </b></h5>

                                                            {%elseif(post.status == 2)%}
                                                                <h5 class="modal-title text-warning" id="exampleModalLabel"><b>
                                                                        Deseja Aceitar a Alteração da postagem ? 

                                                                    </b></h5>


                                                            {%elseif(post.status == 3)%}
                                                                <h5 class="modal-title text-danger" id="exampleModalLabel"><b>
                                                                        Deseja Aceitar a Remoção da postagem ? 
                                                                    </b></h5>
                                                                {%endif%}




                                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        {%if post.status == 1%}
                                                            <div class="modal-body">Confirme abaixo se você deseja aceitar a Postagem Selecionada!!</div>

                                                        {%elseif(post.status == 2)%}
                                                            <div class="modal-body">Confirme abaixo se você deseja aceitar modficação na Postagem Selecionada!!</div>

                                                        {%elseif(post.status == 3)%}
                                                            <div class="modal-body">Confirme abaixo se você deseja aceitar a exclusão da Postagem Selecionada!!</div>
                                                        {%endif%}

                                                        <div class="modal-footer">
                                                            <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">Cancelar</button>

                                                            <!--<form id="removeModalidade" enctype="multipart/form-data">-->


                                                            <!-- <button type="submit" class="btn btn-sm btn-danger">Confimar Exclusão</button>-->
                                                            {#href="/jogo/delete/{{t2.idJogo}}#}


                                                            {%if post.status == 1%}
                                                                <a type="submit" href="/postagem/pendente/{{post.id}}" class="btn btn-sm btn-success" >Aceitar </a>

                                                            {%elseif(post.status == 2)%}
                                                                <a type="submit" href="/postagem/pendente/{{post.id}}" class="btn btn-sm btn-warning" >Aceitar Alteração </a>

                                                            {%elseif(post.status == 3)%}
                                                                <a type="submit" href="/postagem/pendente/{{post.id}}" class="btn btn-sm btn-danger" >Confirmar Exclusão </a>
                                                            {%endif%}




                                                            <!--</form>-->


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        {%endfor%}
                                        {% if postagens|length > 10 %}
                                        </ul>
                                    {%  endif%}
                                </div>
                                <!--FIM POSTAGEM ################################################### -->

                            {% else  %}
                                <div class="col-xl-12 ">
                                    <div class="card shadow mb-4 mx-auto col p-5">
                                        <div class="container">
                                            <div class="row">
                                                <h5 class="m-0 font-weight-bold text-secondary"><b>Sem Postagens cadastradas no sistema...  </b></h5></br></br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                {%endblock%}

                <!-- Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Search Widget 
                    <div class="card my-4">
                        <h5 class="card-header">Search</h5>
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button">Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>-->

                    <!-- Categories Widget -->


                </div>


                <!-- /.row -->

            </div> </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            {% block footer %}
                <div class="container">
                    <p class="m-0 text-center text-white">Copyright &copy; IFTM Paracatu 2019</p>
                </div>
                <!-- /.container -->
            {% endblock %}
        </footer>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        {%endblock%}

            <script id="dsq-count-scr" src="//https-www-jiftm-com.disqus.com/count.js" async></script>
            <script>
            var myIndex = 0;
            carousel();

            function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) {
                    myIndex = 1
                }
                x[myIndex - 1].style.display = "block";
                setTimeout(carousel, 2500);
            }
            </script>

            <script type="text/javascript">
                $('.carousel ul').anoSlide(
                        {
                            items: 1,
                            speed: 500,
                            prev: 'a.prev[data-prev-mixed]',
                            next: 'a.next[data-next-mixed]',
                            lazy: true,
                            auto: 4000
                        })
            </script>

            <script src="/js/placar.js"></script>
            <script src="/sbtheme/jquery-easing/jquery.easing.min.js"></script>
            <script type="text/javascript">
                CKEDITOR.replace('editTextPost');
                /*for (instance in CKEDITOR.instances) {
                 CKEDITOR.instances[instance].updateElement();
                 }*/

                CKEDITOR.editorConfig = function (config) {
                    config.enterMode = CKEDITOR.ENTER_BR;
                };
            </script>
            <script type="text/javascript">
                $('.list1 .loadMore').loadMoreResults();
                $('.list2 .loadMore').loadMoreResults({
                    tag: {
                        name: 'li',
                        'class': 'thumbnail'
                    },
                    displayedItems: 10,
                    showItems: 10
                });
            </script>




        </body>

    </html>
