<!DOCTYPE html>
<html>
    <head> {% block head %} 

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        {% block title %}<title>JIF - Painel </title>{% endblock %}
        <!-- Custom fonts for this template-->
        <link href="/sbtheme/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">
        <link href="/sbtheme/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
        
        <link rel="icon" href="/icon/favicon.ico.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/icon/favicon.ico.ico" type="image/x-icon" />
        <style type="text/css">

            .table-responsive::-webkit-scrollbar {
                -webkit-appearance: none;
            }

            .table-responsive::-webkit-scrollbar:vertical {
                width: 12px;
            }

            .table-responsive::-webkit-scrollbar:horizontal {
                height: 12px;

            }

            .table-responsive::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, .5);
                border-radius: 10px;
                border: 2px solid #ffffff;
            }

            .table-responsive::-webkit-scrollbar-track {
                border-radius: 10px;  
                background-color: #ffffff; 
            }



        </style>

        {%endblock%}</head>


        <body id="page-top">

            <!-- Page Wrapper -->
            <div id="wrapper">

                <!-- Sidebar -->
                <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                    <!-- Sidebar - Brand -->
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                        <div class="sidebar-brand-icon rotate-n-15">
                            <img src="https://www.jiftm.com/img/iconjif.png">

                        </div>
                        <div class="sidebar-brand-text mx-3">JIF <sup>Paracatu</sup></div>
                    </a>

                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">

                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item ">
                        <a class="nav-link" href="/">
                            <i class="fas fa-fw fa-angle-up"></i>
                            <span>Voltar Site principal</span></a>
                    </li>
                    <hr class="sidebar-divider my-0">

                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item ">
                        <a class="nav-link" href="/painel">
                            <i class="fas fa-fw fa-angle-up"></i>
                            <span>Início Painel</span></a>
                    </li>

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <!-- Heading -->
                    <div class="sidebar-heading">
                        Cadastro
                    </div>

                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                           <i class="fas fa-user-cog"></i>
                            <span>Usuário</span>
                        </a>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Ações:</h6>

                                {%if sessao.get("tecnico") == "tecnico"%}
                                    <a class="collapse-item" href="/painel/profile">Atualizar meus dados</a>
                                {%elseif sessao.get("aluno") == "aluno" %} 
                                    <a class="collapse-item" href="/painel/profile">Atualizar meus dados</a>
                                {%elseif sessao.get("administrador") == "administrador" %} 

                                    <a class="collapse-item" href="/painel/cadastro">Cadastrar</a>
                                    <a class="collapse-item" href="/painel/update">Atualizar</a>
                                    <a class="collapse-item" href="/painel/view">Pesquisar</a>
                                    <a class="collapse-item" href="/painel/remove">Remover</a>


                                {%endif%}


                            </div>
                        </div>
                    </li>


                    {%if sessao.get("administrador") == "administrador" or sessao.get("tecnico") == "tecnico" %} 

                        <!-- Nav Item - Utilities Collapse Menu -->
                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                                <i class="fas fa-grin-alt"></i>
                                <span>Atleta</span>
                            </a>
                            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <h6 class="collapse-header">Ações:</h6>
                                    <a class="collapse-item" href="/painel/aluno">Cadastrar</a>
                                    <a class="collapse-item" href="/painel/aluno/view">Pesquisar</a>


                                    <a class="collapse-item" href="/painel/aluno/relatorio">Relatório PDF</a>

                                   <!--<h6 class="collapse-header">Outros:</h6>
                                    <a class="collapse-item" href="/painel/404.html">-Visualizar crachá</a>-->
                                </div>
                            </div>
                        </li>
                        {%if sessao.get("administrador") == "administrador" %} 

                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages2" aria-expanded="true" aria-controls="collapsePages2">
                                    <i class="fas fa-fw fa-file-alt "></i>
                                    <span>Modalidade (Admin)</span>
                                </a>
                                <div id="collapsePages2" class="collapse" aria-labelledby="headingPages2" data-parent="#accordionSidebar">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <h6 class="collapse-header">Ações:</h6>
                                        <a class="collapse-item" href="/painel/modalidade/cadastrar">Cadastrar</a>
                                        <a class="collapse-item" href="/painel/modalidade/pesquisar">Pesquisar</a>
                                        <div class="collapse-divider"></div>

                                    </div>
                                </div>
                            </li>
                        {%endif%}

                        <!-- Divider -->
                        <hr class="sidebar-divider">

                    {%elseif sessao.get("aluno") == "aluno" %} 

                    {%else %}  

                    {%endif%}



                    {%if sessao.get("administrador") == "administrador" or sessao.get("tecnico") == "tecnico" %} 
                        <!-- Heading -->
                        <div class="sidebar-heading">
                            Gerenciamento
                        </div>

                        <!-- Nav Item - Pages Collapse Menu -->
                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                               <i class="fas fa-futbol"></i>
                                <span>Modalidade</span>
                            </a>
                            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <h6 class="collapse-header">Ações:</h6>
                                    <a class="collapse-item" href="/painel/time">Formar</a>
                                    <a class="collapse-item" href="/painel/time/edit">Visualizar</a>
                                    <div class="collapse-divider"></div>
                                    <!--<h6 class="collapse-header">Outro:</h6>
                                    <a class="collapse-item" href="/painel/404.html">Gerar ficha</a>
                                    <a class="collapse-item" href="/painel/blank.html">Blank Page</a>-->
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/painel/crachas" aria-expanded="true" aria-controls="collapsePages">
                                <i class="fas fa-file-pdf"></i>
                                <span>Gerar Crachás</span>
                            </a>
                            
                        </li>
                    {%endif%}

                    <!-- Divider -->
                    <hr class="sidebar-divider d-none d-md-block">

                    <!-- Sidebar Toggler (Sidebar) -->
                    <div class="text-center d-none d-md-inline">
                        <button class="rounded-circle border-0" id="sidebarToggle"></button>
                    </div>

                </ul>
                <!-- End of Sidebar -->


                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">

                        <!-- Topbar -->
                        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                            <!-- Sidebar Toggle (Topbar) -->
                            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                                <i class="fa fa-bars"></i>
                            </button>

                            <!-- Topbar Search 
                            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Digite o CPF..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>-->

                            <!-- Topbar Navbar -->
                            <ul class="navbar-nav ml-auto">

                                <!-- Nav Item - Search Dropdown (Visible Only XS)
                                <li class="nav-item dropdown no-arrow d-sm-none">
                                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-search fa-fw"></i>
                                    </a> -->
                                <!-- Dropdown - Messages 
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto w-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>-->

                                <!-- Nav Item - Alerts -->


                                <!-- Nav Item - Messages -->

                                {%if sessao.get("administrador") == "administrador" or sessao.get("tecnico") == "tecnico" %} 
                                    <div class="topbar-divider d-none d-sm-block"></div>

                                    <!-- Nav Item - User Information -->
                                    <li class="nav-item dropdown no-arrow">
                                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Olá, {{sessao.get('username')}}</span>
                                            <img class="img-profile rounded-circle" src="https://www.jiftm.com/img/usuario-icone.png">
                                        </a>
                                        <!-- Dropdown - User Information -->
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                                            {%if sessao.get("tecnico") == "tecnico"%}
                                                <a class="dropdown-item" href="/painel/profile">
                                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                    Alterar Senha
                                                </a>
                                                <div class="dropdown-divider"></div>
                                            {%elseif sessao.get("aluno") == "aluno" %} 
                                                <a class="dropdown-item" href="/painel/profile">
                                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                    Alterar Senha
                                                </a>
                                                <div class="dropdown-divider"></div>
                                            {%elseif sessao.get("administrador") == "administrador" %} 


                                            {%endif%}


                                            <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                                Encerrar Sessão
                                            </a>
                                        </div>
                                    </li>
                                {%endif%}

                            </ul>

                        </nav>
                        <!-- End of Topbar -->

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading 
                               <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                 <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                                 <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                               </div>-->

                            <div class="row">
                                {% block contentTreinador %}


                                {%endblock%}
                            </div>



                            <div class="row">





                                {% block content %}
                                    <center><img src="/img/logo-jif-2019.jpg" width="60%" ></center>
                                    {%endblock%}
                            </div>




                            <!-- /.container-fluid -->

                        </div>
                        <!-- End of Main Content -->



                        <!-- Footer -->


                        <footer class="sticky-footer bg-white">
                            {% block footer %}
                                <div class="container my-auto">
                                    <div class="copyright text-center my-auto">
                                        <span>Copyright &copy; Instituto Federal do Triângulo Mineiro - Campus Paracatu - 2019</span>
                                    </div>
                                </div>
                            {% endblock %}
                        </footer>


                        <!-- End of Footer -->

                    </div>
                    <!-- End of Content Wrapper -->

                </div>
                <!-- End of Page Wrapper -->
            </div>

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>


            {%if sessao.get("logado") != ""%}

                <!-- Logout Modal-->
                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Deseja Encerrar Sessão?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">Selecione "Sair" abaixo se você estiver pronto para terminar sua sessão atual.</div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <a class="btn btn-primary" href="/exit">Sair</a>
                            </div>
                        </div>
                    </div>
                </div>

            {%endif%}


            <!-- Bootstrap core JavaScript-->
            <script src="/sbtheme/jquery/jquery.min.js"></script>
            <script src="/sbtheme/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- Core plugin JavaScript-->
            <script src="/sbtheme/jquery-easing/jquery.easing.min.js"></script>
            <!-- Custom scripts for all pages-->
            <script src="/js/sb-admin-2.min.js"></script>
            <!-- Page level plugins -->
            <!--<script src="/sbtheme/chart.js/Chart.min.js"></script>-->
            <!-- Page level custom scripts -->
            <!--<script src="/js/demo/chart-area-demo.js"></script>-->
            <!--<script src="/js/demo/chart-pie-demo.js"></script>-->

            <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
            <script src='/js/moment.min.js'></script>
            <script src="/js/jquery.mask.min.js" type="text/javascript"></script>

            <!--File Style-->
            <link href="/css/jquery-filestyle.min.css" rel="stylesheet" />
            <script type="text/javascript" src="/js/jquery-filestyle.min.js"></script>


            <script>

                $(document).ready(function () {

                    $("#telefone").mask("(00) 0000-00009")

                    $("#telefone").blur(function (event) {
                        if ($(this).val().length == 15) {
                            $("#telefone").mask("(00) 00000-0009")
                        } else {
                            $("#telefone").mask("(00) 0000-00009")
                        }
                    })
                })


                $(document).ready(function () {
                    $("#cpf").mask("000.000.000-00");
                });

                $(document).ready(function () {
                    $("#data_nascimento").mask("00/00/0000");
                });

                // $(document).ready(function () {
                //    $("#rg").mask("00.000.000");
                // });
                $(function () {

                    $('#imagem').change(function () {
                        $('.nomeArquivo').html('<b>Arquivo Selecionado:</b>' + $(this).val());
                    });
                });


            </script>

            <script src="/js/functions.js" type="text/javascript"></script>

            <!-- Page level plugins -->
            <script src="/sbtheme/datatables/jquery.dataTables.min.js"></script>
            <script src="/sbtheme/datatables/dataTables.bootstrap4.min.js"></script>

            <!-- Page level custom scripts -->
            <script src="/js/demo/datatables-demo.js"></script>
            <!-- <script src="cdn.datatables.net/plug-ins/1.10.19/api/fnMultiFilter.js"></script>-->
            







        </body>

    </html>
