{% extends "baseAdmin.twig" %}

{% block title %}


    {%if sessao.get("update") != ""%}
        <title>JIF - Atualização de dados de usuário</title>

    {%elseif sessao.get("remove") != ""%}
        <title>JIF - Remoção de usuário</title>

    {%elseif sessao.get("view") != ""%}
        <title>JIF - Visualização de usuário</title>    

    {%endif%}


{% endblock %} 
{% block body %}

    {% block content %}

        

            {%if sessao.get("remove") != ""%}
                {{ sessao.get("msg")|raw}}
                {{ sessao.add("msg", "") }}
            {%endif%}

        

        <div class="col-xl-12 ">
<div id="div_retorno">
</div>
            <div class="card shadow mb-4 mx-auto col p-5">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Busca de usuário: </h6>
                    <div class="dropdown no-arrow">

                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                        </div>
                    </div>
                </div>
                <!-- Card Body -->

                <div class="card-body">

                    <div id="processando" style="display: none;">
                        <img src="/img/ajaxloader.gif" />
                    </div>
                </div>

                <div class="card-body">


                    <form class="form-horizontal" id="formBusca" enctype="multipart/form-data">

                        <div class="row">

                            <div class="center md-4"><div class="form-group ">
                                    <label for="cpf">Digite o CPF:</label>
                                    <input type="text" class="cpf form-control mx-sm-3" id="cpf" name="cpf" autofocus required>

                                </div></div>

                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success btn btn-primary btn-lg pull-right" />
                            Buscar
                            </button>

                            <a href="/painel" type="btn" class="btn btn-default">Voltar </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        {%if sessao.get("update") != ""%}
            {%include('atualizaTecnico.twig') %}
        {%elseif sessao.get("remove") != ""%}
            {%include('removeTecnico.twig') %}
        {%elseif sessao.get("view") != ""%}
            {%include('visualizaTecnico.twig') %}
        {%elseif sessao.get("relatorioUsuarios") != "" %}
            {%include('relatorioUsuarios.twig') %}
        {%endif%}




    {% endblock %}
{% endblock %}





