{% extends "baseAdmin.twig" %}

{% block title %}

    {%if sessao.get("updateTime") != ""%}
        <title>JIF - Alteração de time</title>
    {%elseif sessao.get("removeTime") != ""%}
        <title>JIF - Remoção de time</title>
    {%elseif sessao.get("viewTime") != ""%}
        <title>JIF - Visualização de time</title>    
    {%endif%}


{% endblock %} 
{% block body %}
    {% block content %}

        

            {%if sessao.get("removeTime") != ""%}
                {{ sessao.get("msgTime")|raw}}

                {{ sessao.add("msgTime", "") }}

            {%endif%}

        


        <div class="col-xl-12 ">
<div id="div_retorno">
</div>
            <div class="card shadow mb-4 mx-auto col p-5">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Buscar Time: </h6>
                    <div class="dropdown no-arrow">

                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                        </div>
                    </div>
                </div>
                <!-- Card Body -->

                <div class="card-body">
                    <div id="processando" style="display: none;">
                        <img src="/img/ajaxloader.gif" />
                    </div>
                </div>

                <div class="card-body">

                    <!--<form class="form-horizontal" method="POST" action="/painel/aluno/busca/efetivar" enctype="multipart/form-data">-->
                    <form class="form-horizontal" id="buscarTime" enctype="multipart/form-data">

                        <div class="row">

                            <div class="center md-4"><div class="form-group ">
                                    <label for="ra">Digite o código do time:</label>
                                    <input type="text" class="ra form-control mx-sm-3" id="ra" name="ra" autofocus>

                                </div></div>

                        </div>

                      <label >* Procure o código do time na tabela abaixo!</label>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success btn btn-primary btn-lg pull-right" />
                            Buscar
                            </button>

                            <a href="/painel" type="btn" class="btn btn-default">Voltar </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {#{%if sessao.get("relatorioTimes") != "" %}
        {%include('relatorioTimes.twig') %}#}
        {%if sessao.get("updateTime") != ""%}
            {%include('atualizaTime.twig') %}
        {%elseif sessao.get("removeTime") != ""%}
            {%include('removeTime.twig') %}
        {%elseif sessao.get("viewTime") != ""%}
            {%include('visualizaTime.twig') %}
        
        {%endif%}

    {% endblock %}
{% endblock %}





