{% extends "baseAdmin.twig" %}

{% block title %}

   
        <title>JIF - Pesquisa de atletas</title>
   

{% endblock %} 
{% block body %}
    {% block content %}

       

            {%if sessao.get("removeAluno") != ""%}
                {{ sessao.get("msgAluno")|raw}}

                {{ sessao.add("msgAluno", "") }}

            {%endif%}

        

{% if alunos|length >= 1 %}
            <div class="col-xl-12 ">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">

                    <strong>Atenção! </strong> Escolha um aluno abaixo para atualizar dados, editar ou excluir! Digite algum dado do aluno em pesquisar se necessário!</br>

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card shadow mb-4 mx-auto col p-5">

                    <div class="container">
                        <div id="div_retorno">

                        </div>
                        <div id="processando" style="display: none;">
                            <img src="/img/ajaxloader.gif" />
                        </div>


                        <div class="card-header py-3 px-10 mt-2 mb-1">
                            <h6 class="m-0 font-weight-bold text-primary ">Tabela de Alunos</h6>
                        </div>

                            <table class="table table-bordered m-0 "  id="dataTable" width="100%" cellspacing="0">

                                <thead>
                                    <tr>
                                       
                                         <th>RA</th>
                                            <th>Nome</th>
                                            <th>Data de nascimento</th>
                                            <th>Sexo</th>
                                            <th>RG</th>
                                            <th>Campus</th>
                                            <th>Telefone</th>
                                            <th>Foto</th>
                                            <th>Ação: </th>
                                    </tr>
                                </thead>
                                <tbody>

                                   {% set cont = 0 %}
                                        {% for t in alunos %}


                                            <tr class="text-dark" >
                                        
                                        <input type="hidden" value="{{t.ra}}" class="ra btn btn-light" name="ra"/>
                                        <td >{{t.ra}}</td>
                                        <td>{{t.nome}}</td>
                                        <td>{{ t.data_nascimento|date("d/m/Y") }}</td> 
                                        <td>{% if t.sexo == "m" %}Masculino{% else %}Feminino{% endif %}</td> 
                                        <td>{{t.rg}}</td>
                                        <td>{{t.campus}}</td>
                                        <td>{{t.telefone}}</td>
                                        <td><a href="/img/{{t.foto}}" target="_blank"><img src="/img/miniaturas/{{t.foto}}" width="42" height="42" ></a></td>
					
					
                                    <td><div class="row">
                                            
                                            <a href="/painel/aluno/update/{{t.ra}}" type="button" class="btn btn-sm btn-secondary m-1" text-white bg-dark btn-lg m-1">Alterar</a>
                                        

                                        <button  data-toggle="modal" data-target="#deleteModal{{t.ra}}" class="btn-sm btn-danger btn btn-primary btn-lg m-1" />Remover </button></td>
                                    
                                <br>
                                    <div class="modal" id="deleteModal{{t.ra}}" tabindex="-1" role="dialog" aria-labelledby="confirmar2-title" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title" id="confirmar2-title">Confirmação</h4>
                                                </div>
                                                <div class="modal-body">

                                                    <p>Tem certeza que deseja excluir o Atleta selecionado ?</p>

                                                    <!--<form id="removeAluno" enctype="multipart/form-data">-->
                                                    
                                                        <!--<input type="hidden" id="ra" class="ra" name="ra" value="{{t.ra}}" />-->
		                                         <!--<input type="hidden" id="foto" class="foto" name="foto" value="{{t.foto}}" />-->

                                                        <button type="button" class="btn btn-sm btn-warning" data-dismiss="modal" onclick="fechar()">NÃO</button>
                                                        <!--<button type="submit" class="btn btn-sm  btn-success" >SIM</button>-->
                                                         <a href="/painel/aluno/delete/{{t.ra}}" class="btn btn-sm btn-danger">Confirmar Exclusão</a>
                                                        
                                                   <!-- </form>-->

                                                </div>
                                            </div>
                                        </div>
                                    </div></div></td>

                                        </tr>
                                    {%endfor%}
                                </tbody>

                            </table>


                       


                    </div>
                </div>
</div>

{% else  %}
                <div class="col-xl-12 ">
            <div class="card shadow mb-4 mx-auto col p-5">
                <div class="container">
                    <div class="row">
                        <h5 class="m-0 font-weight-bold text-danger"><b>Sem Alunos cadastrados no sistema...  </b></h5></br></br>
                    </div>
                </div>
            </div>
        </div>

{% endif %}

      
    {% endblock %}
{% endblock %}





