{% extends "baseAdmin.twig" %}

{% block title %}


    <title> JIF - Cadastro de atleta</title>

{% endblock %} 
{% block body %}

    {% block content %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">


            <strong>Obs:</strong> campos marcados com * são obrigatórios
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        

        <div class="col-xl-12 ">
<div id="div_retorno">
        </div>
            <div class="card shadow mb-4 mx-auto col p-5">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Cadastro Aluno: </h6>
                    <div class="dropdown no-arrow">
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">

                    <div id="processando" style="display: none;">
                        <img src="/img/ajaxloader.gif" />
                    </div>
                </div>

                <div class="card-body">

                  
                    <form id="gravarAluno" enctype="multipart/form-data">
                    
                        <fieldset>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nome">*Nome:</label>                                        
                                    <input type="text" class="nome form-control" id="nome" name="nome"  required autofocus>

                                </div>
                                <div class="form-group col-md-6">
                                    <label for="siape">*Registro Acadêmico (RA):</label>                                        
                                    <input pattern=".{13,13}"type="text" class="form-control"  id="ra" name="ra" maxlength="13" minlength="13" placeholder="RA" required> 

                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="cpf">*Data de Nascimento:</label>
                                    <input type="text" class="form-control" id="data_nascimento" name="data_nascimento" placeholder="DD/MM/AAAA" required> 

                                </div>
                                <div class="form-group col-md-4">
                                    <label for="sexo">*Sexo:</label>
                                    <select name="sexo" id="sexo"  class="sexo form-control" required>
                                        <option value="">Selecione...</option>
                                        <option value="m">Masculino</option>
                                        <option value="f">Feminino</option>
                                    </select>

                                </div>
                                <div class="form-group col-md-2">
                                    <label for="telefone" >*Telefone:</label>
                                    <input type="text" class="telefone form-control" id="telefone"  name="telefone" required>
                                </div>
                            </div>        
                            <div class="form-row">
                              {% if (sessao.get("permissaoLogado") != "administrador" )%}
                              <input type="hidden" id="campus" value="{{sessao.get("campusLogado")}}" name="campus" class="campus form-control">
                            {% else %}
                                <div class="form-group col-md-4">
                              
                                    <label for="campus">*Campus:</label>
                                    
                                    <select name="campus" id="campus"  class="campus form-control" required>
                                        <option value="">Selecione...</option>
                                        <option value="Ituiutaba" >Ituiutaba</option>
                                        <option value="Paracatu">Paracatu</option>
                                        <option value="Campina Verde">Campina Verde</option>
                                        <option value="Ibiá">Ibiá</option>
                                        <option value="João Pinheiro">João Pinheiro</option>
                                        <option value="Patos de Minas">Patos de Minas</option>
                                        <option value="Patrocínio">Patrocínio</option>
                                        <option value="Uberaba">Uberaba</option>
                                        <option value="Uberaba Parque Tecnológico">Uberaba Parque Tecnológico</option>
                                        <option value="Uberlândia">Uberlândia</option>
                                        <option value="Uberlândia Centro">Uberlândia Centro</option>
                                    </select>
                                    
                                </div>
                                {% endif %}
                                <div class="form-group col-md-4">
                                    <label for="rg">*RG: </label>
                                    <input type="text" class="rg form-control" id="rg"  name="rg" required>

                                </div>

                                <div class="form-group col-md-4 mt-4">
                                    <label>Foto: </label>

                                    <input type="file" class="imagem jfilestyle" name="imagem" id="imagem" data-theme="green" data-text="Selecione uma imagem...">

                                </div>
                            </div>


                        </fieldset>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-success btn btn-primary btn-lg pull-right" />
                            Cadastrar
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>


    {% endblock %}
{% endblock %}





