{% extends "baseAdmin.twig" %}
{% block title %}
    <title> JIF - Cadastro de Modalidades</title>
{% endblock %} 
{% block body %}
    {% block content %}
        <div class="col-xl-12 ">
            {% if msg == 1 %}

                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Modalidade cadastrada com sucesso!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


            {% elseif msg == 2%}

                <div class="alert alert-danger alert-dismissible fade show" role="alert">

                    Verifique se todos os campos estão preenchidos!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <div class="card shadow mb-4 mx-auto col p-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 order-md-1">
                            <h6 class="m-0 font-weight-bold text-primary"><b>Cadastro de Modalidades</b></h6>
                            </br></br>
                            <form action="/painel/modalidade/salvar" method="POST">
                                <div class="row">
                                    <div class="col-md-6 mb-3"> <label for="esporte">Esporte</label>
                                        <input type="text" name="esporte" class="form-control"  placeholder="" value="" required="">
                                    </div>
                                    <div class="col-md-6 mb-3"> <label for="qtdatletas">Quantidade de Atletas</label>
                                        <input type="number" name="qtdatletas" class="form-control" placeholder="" value="" required="" max="12" min="1">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 mb-3"> <label for="genero">Gênero</label> <select class="custom-select d-block w-100" name="genero" required="" >
                                            <option>Selecione...</option>
                                            <option value="1">Masculino</option>
                                            <option value="2">Feminino</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3"> <label for="tipo">Tipo</label> <select class="custom-select d-block w-100" name="tipo" required="">
                                            <option>Selecione...</option>
                                            <option value="1">Coletiva</option>
                                            <option value="2">Individual</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success btn btn-primary btn-lg pull-right" />
                                    Cadastrar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}