
{%if sessao.get("cadastrado") == ""%}

    <div class="col-xl-12 ">
        <div class="card shadow mb-4 mx-auto col p-5">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Dados do Técnico: </h6>
                <div class="dropdown no-arrow">
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                    </div>
                </div>
            </div>
            <!-- Card Body -->

            <div class="card-body">
                <div id="div_retorno">

                </div>
                <div id="processando" style="display: none;">
                    <img src="/img/ajaxloader.gif" />
                </div>
            </div>

            <div class="card-body">


                <form id="formCadastroTecnico" enctype="multipart/form-data">
                    <fieldset>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nome">Nome:</label>                                        
                                <input type="text" class="nome form-control" id="nome" name="nome"  value="{{sessao.get('nome')}}" required autofocus>

                            </div>
                            <div class="form-group col-md-6">
                                <label for="siape">Siape:</label>                                        
                                <input type="text" class="siape form-control" id="siape" name="siape"  value="{{sessao.get('siape')}}" required maxlength="7"  >

                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="cpf">CPF:</label>
                                <input type="text" class="cpf form-control" id="cpf" name="cpf" value="{{sessao.get('cpf')}}" required readonly>

                            </div>
                            <div class="form-group col-md-4">
                                <label for="email">E-mail:</label>
                                <input type="email" class="email form-control" id="email" value="{{sessao.get('email')}}" required name="email" >

                            </div>
                            <div class="form-group col-md-2">
                                <label for="telefone">Telefone:</label>
                                <input type="text" class="telefone form-control" id="telefone" value="{{sessao.get('telefone')}}" required name="telefone">

                            </div>
                        </div>        
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="campus">Campus:</label>
                                <input type="text" name="campus" id="campus" class="form-control" value= "{{sessao.get('campus')}}" required readonly>
                                <!--   <option value="">Vazio</option>
                                <option value="Ituiutaba" >Ituiutaba</option>
                                <option value="Paracatu">Paracatu</option>
                             <option value="Campina Verde">Campina Verde</option>
                                <option value="Ibiá">Ibiá</option>
                                <option value="João Pinheiro">João Pinheiro</option>
                                <option value="Patos de Minas">Patos de Minas</option>
                                <option value="Patrocínio">Patrocínio</option>
                                <option value="Uberaba">Uberaba</option>
                                <option value="Uberaba Parque Tecnológico">Uberaba Parque Tecnológico</option>
                                <option value="Uberlândia Fazenda">Uberlândia Fazenda</option>
                                <option value="Uberlândia Centro">Uberlândia Centro</option>-->
                                </input>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="senha">Digite a senha:</label>
                                <input type="password" name="senha" id="senha"  class="senha form-control" required placeholder="Senha">

                            </div> 
                            <div class="form-group col-md-4">
                                <label for="conf_password" >Repita a senha:</label>
                                <div class="input"><input type="password" name="conf_password" id ="conf_password" class="conf_password form-control" required placeholder="Confirmação de senha">

                                </div>
                            </div>



                    </fieldset>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-success btn btn-primary btn-lg pull-right" />
                        Cadastrar Login
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>








{%else %} 

{%endif%}