{% extends "baseAdmin.twig" %}

{% block title %}


    <title> JIF - Cadastro de usuário</title>

{% endblock %} 
{% block body %}

    {% block content %}


        <div class="alert alert-warning alert-dismissible fade show" role="alert">

            <strong>Atenção! </strong> a senha será gerada e enviada para o e-mail do técnico!!!</br>
            <strong>Obs:</strong> campos marcados com * são obrigatórios
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        

        <div class="col-xl-12 ">
<div id="div_retorno">

        </div>
            <div class="card shadow mb-4 mx-auto col p-5">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Dados do Usuário: </h6>
                    <div class="dropdown no-arrow">
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                        </div>
                    </div>
                </div>
<div id="processando" style="display: none;">
            <img src="/img/ajaxloader.gif" />
        </div>
                <!-- Card Body -->

                <div class="card-body">


                    <form id="inserirTecnicoAdmin" enctype="multipart/form-data">
                        <fieldset>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nome">*Nome:</label>                                        
                                    <input type="text" class="nome form-control" id="nome" name="nome"  required autofocus>

                                </div>
                                <div class="form-group col-md-6">
                                    <label for="siape">Siape:</label>                                        
                                    <input type="text" class="siape form-control" id="siape" name="siape" maxlength="7"  >

                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="cpf">*CPF:</label>
                                    <input type="text" class="cpf form-control" id="cpf" name="cpf"  required >

                                </div>
                                <div class="form-group col-md-4">
                                    <label for="email">*E-mail:</label>
                                    <input type="email" class="email form-control" id="email" required name="email" >

                                </div>
                                <div class="form-group col-md-2">
                                    <label for="telefone">Telefone:</label>
                                    <input type="text" class="telefone form-control" id="telefone"  name="telefone" >
                                </div>
                            </div>        
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="campus">*Campus:</label>
                                    <select name="campus" id="campus"  required class="campus form-control">
                                        <option value="">Selecione...</option>
                                        <option value="Ituiutaba" >Ituiutaba</option>
                                        <option value="Paracatu">Paracatu</option>
                                        <option value="Campina Verde">Campina Verde</option>
                                        <option value="Ibiá">Ibiá</option>
                                        <option value="João Pinheiro">João Pinheiro</option>
                                        <option value="Patos de Minas">Patos de Minas</option>
                                        <option value="Patrocínio">Patrocínio</option>
                                        <option value="Uberaba">Uberaba</option>
                                        <option value="Uberaba Parque Tecnológico">Uberaba Parque Tecnológico</option>
                                        <option value="Uberlândia">Uberlândia Fazenda</option>
                                        <option value="Uberlândia Centro">Uberlândia Centro</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="permissao">*Permissão:</label>
                                    <select  name="permissao" id="permissao"  class="permissao form-control">
                                        <option value="">Selecione...</option>
                                        <option value="tecnico" >Técnico</option>
                                        <option value="assistente">Assistente do técnico</option>
                                    </select>
                                </div>
                            </div>


                        </fieldset>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-success btn btn-primary btn-lg pull-right" />
                            Cadastrar Login
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>


    {% endblock %}
{% endblock %}





