


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<script src="/js/fullcalendar.min.js" type="text/javascript"></script>
<script src="/js/moment.min.js" type="text/javascript"></script>
<script src="/js/pt-br.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/js/jquery.min.js"></script>

<script src="/js/fullcalendar.min.js"></script>
<script src="/js/pt-br.js"></script>


<link href="/css/fullcalendar.min.css" rel="stylesheet" />
<link href="/css/fullcalendar.print.min.css" rel="stylesheet" media="print" />

<link href='/css/personalizado.css' rel='stylesheet' />
<link href="/css/fullcalendar.css" rel="stylesheet" type="text/css"/>



<link href="/css/stylesheet.css" rel="stylesheet" type="text/css"/>

<script>
   
    $(document).ready(function () {
        $('.telefone').mask("(99) 99999-9999");
    });

    $(document).ready(function () {
        $('.cpf').mask("999.999.999-999");
    });


</script>
