{% extends "baseAdmin.twig" %}
{% block title %}
    <title> JIF - Formação de Time</title>

    <style rel="stylesheet" type="text/css">
        .dataTables_filter {
            display: none; 
        }
    </style>

{% endblock %} 
{% block body %}

    {% block content %}
        {%if sessao.get("removeModalidade") != ""%}
            {{ sessao.get("msgModalidade")|raw}}

            {{ sessao.add("msgModalidade", "") }}

        {%endif%}

        <div class="col-xl-12 ">
            <div class="card shadow mb-4 mx-auto col p-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 order-md-1">
                            <h5 class="m-0 font-weight-bold text-primary"><b>Dados do Técnico Responsável: </b></h5>
                            </br></br>
                            <ul class="list-group">
                                <li class="list-group-item">Siape: {{sessao.get('siapeLogado')}}</li>
                                <li class="list-group-item list-group-item-secondary">Nome: {{sessao.get('nomeLogado')}}</li>
                                <li class="list-group-item">CPF: {{sessao.get('cpfLogado')}}</li>
                                <li class="list-group-item list-group-item-secondary">E-mail: {{sessao.get('emailLogado')}}</li>
                                <li class="list-group-item">Campus: {{sessao.get('campusLogado')}}</li>
                                <li class="list-group-item list-group-item-secondary">Telefone: {{sessao.get('telefoneLogado')}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 ">

            <div class="card shadow mb-4 mx-auto col p-3">

                <div class="container">
                    <div id="div_retorno">

                    </div>
                    <div id="processando" style="display: none;">
                        <img src="/img/ajaxloader.gif" />
                    </div>




                    <h5 class="m-0 font-weight-bold text-primary" style="display:none;"><b>Dados do Time: </b></h5>

                    <br>
                    <div class="row">

                        <form id="salvaTime" enctype="multipart/form-data" ">
                            <div class="col-md-12 mb-3" style="display:none;"><!-- <label for="nome">Nome do Time: </label>-->
                                {% for td in timeDados %} 
                                    <input type="hidden" name="nome" id="nome" class="nome form-control" value="{{td.nomeTime}}" required>
                                    {#{% set idtime= (td.idTime) %}#}
                                    <input type="hidden" name="idTime" value="{{td.idTime}}" id="idTime" class="idTime"/>

                                     <!--<h1>teste: {#{{idTime}}#}</h1>-->

                                {% endfor%}
                            </div>

                            <div class="col-md-12 mb-3"> 

                                <!--<label for="modalidade" class="text-primary b"><h5>Modalidade: </h5></label> -->
                                <label><h5 class="m-2 font-weight-bold text-primary">Modalidade: </h5></label>
                                {#<select class="custom-select d-block w-100" name="modalidade" id="modalidade" class="modalidade" required="" >
                                   <option value="">Selecione...</option>
                                    {% for td in timeDados %} 
                                        {% for m in modalidades %} 

                                            {%if (m.idModalidade == td.Modalidade_idModalidade)%}
                                                
                                                <option selected value="{{m.idModalidade}}">{{m.esporte}} {% if m.masculino == 1 %}Masculino{% else %}Feminino{% endif %} </option>
                                                <input class="form-control" type="text" value ="{{m.esporte}} {% if m.masculino == 1 %}Masculino{% else %}Feminino{% endif %}" readonly/> 
                                            {%else%}
                                                <option style="display:none;" value="{{m.idModalidade}}">{{m.esporte}} {% if m.masculino == 1 %}Masculino{% else %}Feminino{% endif %} </option>
                                            {%endif%}

                                        {% endfor%}
                                    {% endfor%}
                                </select>#}

                                {% for td in timeDados %} 
                                    {% for m in modalidades %} 

                                        {%if (m.idModalidade == td.Modalidade_idModalidade)%}

                                            {#<option selected value="{{m.idModalidade}}">{{m.esporte}} {% if m.masculino == 1 %}Masculino{% else %}Feminino{% endif %} </option>#}
                                            <input class="form-control" id="modalidade" type="text" size="20" value ="{{m.esporte}} {% if m.masculino == 1 %}Masculino{% else %}Feminino{% endif %}" readonly/> 
                                        {%else%}
                                            <option style="display:none;" value="{{m.idModalidade}}">{{m.esporte}} {% if m.masculino == 1 %}Masculino{% else %}Feminino{% endif %} </option>
                                        {%endif%}

                                    {% endfor%}
                                {% endfor%}


                            </div>
                            <div class="col-md-12 mb-5 " style="display:none;">
                                <button type="submit" class="btn btn-sm btn-success" type="submit">Alterar Modalidade </button>
                            </div>
                        </form>
                    </div>




                    {% if times|length >= 1 %}            
                        <h5 class="m-0 font-weight-bold text-primary"><b>Alunos já integrantes: </b></h5>


                        <br>

                        <a class='text-secondary'><b>Ações para REMOVER aluno da modalidade:</b></a><br>
                        <a>**Selecione os Atletas que deseja REMOVER abaixo: </a><br>
                        <button type="button" onclick='marcar2();' title='Todos' id='todos' class="btn btn-sm btn-primary btn-lg pull-right"  data-color="danger"> Marcar Todos da tabela abaixo</button>

                        <button type="button" onclick='desmarcar2();' title='Todos' id='todos' class="btn btn-sm btn-success btn-lg pull-right" data-color="danger"> Desmarcar da tabela abaixo </button>

                        <form id='removerdoTime' enctype="multipart/form-data"> 

                            <div class="table-responsive ">
                                <table class="table-sm jacadastrados table-bordered" width="100%" cellspacing="0">

                                    <!-- On cells (`td` or `th`) -->


                                    <thead>

                                        <tr class="bg-primary text-white" >
                                            <th>&nbsp&nbsp&nbsp</th>
                                            <th>RA</th>
                                            <th>Nome</th>
                                            <th>Data de nascimento</th>
                                            <th>Sexo</th>
                                            <th>RG</th>
                                            <th>Campus</th>
                                            <th>Telefone</th>
                                            <th>Foto</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% set cont = 0 %}
                                        {% for t in times %}

                                        <tr class="text-dark" >
                                        <input type='hidden' name='ra[]' value='{{t.ra}}'/>
                                        <td>&nbsp&nbsp<input type="checkbox" value="{{t.ra}}" class="check2 btn btn-light" name="check_id[]"/></td>
                                        <td >{{t.ra}}</td>
                                        <td>{{t.nome}}</td>
                                        <td>{{ t.data_nascimento|date("d/m/Y") }}</td> 
                                        <td>{% if t.sexo == "m" %}Masculino{% else %}Feminino{% endif %}</td> 
                                        <td>{{t.rg}}</td>
                                        <td>{{t.campus}}</td>
                                        <td>{{t.telefone}}</td>
                                        <td><a href="/img/{{t.foto}}" target="_blank"><img src="/img/miniaturas/{{t.foto}}" width="42" height="42" ></a></td>


                                        </tr>
                                    {%endfor%}
                                    </tbody>

                                </table>
                            </div>
                            <div class="col-md-12 mb-5">
                                <button type="button" class="btn btn-xs btn-danger mt-3" data-toggle="modal" data-target="#delete" >Remover Selecionados</button>
                            </div>

                            <div class="modal" id="delete" tabindex="-1" role="dialog" aria-labelledby="confirmar2-title" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="confirmar2-title">Confirmação</h4>
                                        </div>
                                        <div class="modal-body">

                                            <p>Tem certeza de sua escolha?</p>

                                            <div class="form-group">

                                            </div>
                                            <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="fechar()">NÃO</button>
                                            <button type="submit" class="btn btn-success" >SIM</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    {% else %}

                        <h5 class="m-0 font-weight-bold text-secondary"><b>Sem Alunos integrantes no time...  </b></h5></br></br>

                    {%endif%}

                    {% if atletas|length >= 1  %}
                        <form id="addAlunoTime" enctype="multipart/form-data">
                            <div class="row">

                                <div class="col-md-8 order-md-1">
                                    </br>
                                    <h5 class="m-0 font-weight-bold text-primary"><b>Alunos não integrantes:  </b></h5></br></br>


                                    <!--<form id='formarTime'  enctype="multipart/form-data">-->


                                </div>
                            </div>
                            <div class="card-header py-3 px-10 ">
                                <h6 class="m-0 font-weight-bold text-primary">Tabela de Atletas</h6>
                            </div>
                            <button type="button" onclick='marcar();' title='Todos' id='todos' class="btn btn-sm btn-primary btn-lg pull-right"  data-color="danger"> Marcar Todos da tabela abaixo</button>

                            <button type="button" onclick='desmarcar();' title='Todos' id='todos' class="btn btn-sm btn-success btn-lg pull-right" data-color="danger"> Desmarcar Todos da tabela abaixo </button>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="bookSearchSexo" placeholder="Digite para procurar qualquer dado...">
                                            <!-- <span class="input-group-btn">
                                                 <button class="btn btn-info btn-flat" type="button">Go!</button>
                                             </span>-->
                                        </div><!-- /input-group -->
                                    </div><!-- /.col-lg-6 -->
                                </div><!-- /.row -->
                                <div class="table-responsive">
                                    <table class="table table-bordered"  id="tabelaAlunos" width="100%" cellspacing="0">

                                        <thead>
                                            <tr>
                                                <th>RA</th>
                                                <th>Nome</th>
                                                <th>Data de nascimento</th>
                                                <th>Sexo</th>
                                                <th>RG</th>
                                                <th>Campus</th>
                                                <th>Telefone</th>
                                                <th>Foto</th>




                                            </tr>
                                        </thead>
                                        <tfoot style="position: absolute; margin:-150px 0px 0px -200px ; ">

                                            <tr>
                                                <th style="visibility: collapse">RA</th>

                                                <th  style="visibility: collapse">Nome</th>
                                                <th style="visibility: collapse">Data de nascimento</th>
                                                <th style="border:0; display:none;">Sexo</th>
                                                <th style="visibility: collapse">RG</th>
                                                <th  style="visibility: collapse">Campus</th>
                                                <th  style="visibility: collapse">Telefone</th>
                                                <th  style="visibility: collapse">Foto</th>
                                            </tr>

                                        </tfoot>
                                        <tbody>
                                            {% set cont = 0 %}
                                            {% for a in atletas %}
                                                <tr>
                                                    <td> {% set cont = cont + 1 %}
                                                        <input type="checkbox" value="{{a.ra}}" class="check btn btn-light" name="check_id[]"/>
                                                        {{a.ra}}

                                                    </td> 
                                            <input type='hidden' name='ra[]' value='{{a.ra}}'/>

                                            {% for t in timeDados|slice(0,1)%} 
                                                <input type='hidden' name='idTime' value="{{t.idTime}}">
                                                <input type='hidden' name='modalidade' value="{{t.Modalidade_idModalidade}}">
                                                <input type='hidden' name='nome' value="{{t.nomeTime}}">
                                            {% endfor%}

                                            <td>{{a.nome}}</td>
                                            <td>{{ a.data_nascimento|date("d/m/Y") }}</td> 
                                            
                                            <td>{% if (a.sexo == "m") %}Masculino{% else %}Feminino{% endif %}</td> 
                                            
                                            <td>{{a.rg}}</td>
                                            <td>{{a.campus}}</td>
                                            <td>{{a.telefone}}</td>
                                            <td><a href="/img/{{a.foto}}" target="_blank"><img src="/img/miniaturas/{{a.foto}}" width="42" height="42" ></a></td>




                                            </tr>
                                        {% endfor %}


                                        </tbody>

                                    </table>
                                </div>

                                <button type="submit" class="btn btn-success mt-4" type="submit">Incluir na modalidade</button>

                            </div>

                        </form>
                    {% else  %}
                        <h5 class="m-0 font-weight-bold text-secondary"><b>Sem Alunos cadastrados no sistema...  </b></h5></br></br>

                    {%endif%}



                </div>


            </div>
        </div>

    {% endblock %}
{% endblock %}