{% extends "baseAdmin.twig" %}
{% block title %}
    <title> JIF - Alteração de Modalidade</title>
{% endblock %} 
{% block body %}

    {% block content %}
        {%if sessao.get("msgTime") != ""%}
            {{ sessao.get("msgTime")|raw}}

            {{ sessao.add("msgTime", "") }}

        {%endif%}

        <div class="col-xl-12 ">
            <div class="card shadow mb-4 mx-auto col p-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 order-md-1">
                            <h5 class="m-0 font-weight-bold text-primary"><b>Dados do Técnico Responsável: </b></h5>
                            </br></br>
                            <ul class="list-group">
                                <li class="list-group-item">Siape: {{sessao.get('siapeLogado')}}</li>
                                <li class="list-group-item list-group-item-secondary">Nome: {{sessao.get('nomeLogado')}}</li>
                                <li class="list-group-item">CPF: {{sessao.get('cpfLogado')}}</li>
                                <li class="list-group-item list-group-item-secondary">E-mail: {{sessao.get('emailLogado')}}</li>
                                <li class="list-group-item">Campus: {{sessao.get('campusLogado')}}</li>
                                <li class="list-group-item list-group-item-secondary">Telefone: {{sessao.get('telefoneLogado')}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if times|length >= 1 %}
            <div class="col-xl-12 ">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">

                    <strong>Atenção! </strong> Escolha uma modalidade abaixo para visualizar, atualizar dados, editar , excluir ou Gerar PDF de crachás!!!</br>

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card shadow mb-4 mx-auto col p-5">

                    <div class="container">
                        <div id="div_retorno">

                        </div>
                        <div id="processando" style="display: none;">
                            <img src="/img/ajaxloader.gif" />
                        </div>


                        <div class="card-header py-3 px-10 ">
                            <h6 class="m-0 font-weight-bold text-primary">Tabela de Modalidades</h6>
                        </div>

                        <div class="card-body">
                            <table class="table table-bordered m-1"  id="tabelaAlunos" width="100%" cellspacing="0">

                                <thead>
                                    <tr>

                                        <!--<th>Nome do Time</th>-->
                                        <th>Cpf do Técnico Responsável</th>
                                        <th>Modalidade</th>
                                        <th>Ação: </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for t in times %}
                                        <tr>

                                    <input type='hidden' name='idTime'value='{{t.idTime}}'/>


                                    {#<td>{{t.nomeTime}}</td>#}
                                    <td>{{t.Tecnico_cpf}}</td>

                                    <td>
                                        {% for m in modalidades %} 

                                            {%if (m.idModalidade == t.Modalidade_idModalidade)%}
                                                {# {{m.esporte}} {% if m.masculino == 1 %}Masculino{% else %}Feminino{% endif %} {% if m.coletivo == 1 %}Coletivo{% else %}Individual{% endif %}#}
                                                {{m.esporte}} {% if m.masculino == 1 %}Masculino{% else %}Feminino{% endif %}
                                            {%endif%}


                                        {% endfor%}
                                    </td>

                                    <td><div class="row"><form action="/painel/time/edit/show" method="POST" enctype="multipart/form-data">
                                                <input type="hidden" name="idTime" value="{{t.idTime}}" class="idTime" id="idTime">
                                                <button type="submit" class="btn btn-sm btn-secondary m-1 text-white bg-dark btn-lg m-1">Visualizar / Alterar</button>
                                            </form> 




                                            <button  data-toggle="modal" data-target="#deleteModal{{t.idTime}}" class="btn-sm btn-danger btn btn-primary btn-lg m-1" />Remover </button>

                                            <form action="/painel/gerarCrachas" method="POST" enctype="multipart/form-data">
                                                <input type="hidden" name="time" value="{{t.idTime}}" class="time" id="time">
                                                <button type="submit" class="btn btn-sm btn-secondary m-1 text-white bg-seconday btn-lg m-1"><i class="fa fa-file-pdf"> PDF</i></button>
                                            </form>
                                    </td>

                                    <div class="modal" id="deleteModal{{t.idTime}}" tabindex="-1" role="dialog" aria-labelledby="confirmar2-title" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title" id="confirmar2-title">Confirmação</h4>
                                                </div>
                                                <div class="modal-body">

                                                    <p>Tem certeza que deseja excluir a Modalidade selecionada ?</p>

                                                    <form id="deletarTime" enctype="multipart/form-data">
                                                        <input type="hidden" id="idTime" class="idTime" name="idTime" value="{{t.idTime}}">


                                                        <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="fechar()">NÃO</button>
                                                        <a href="/painel/time/delete?idTime={{t.idTime}}" type="submit" class="btn btn-success" >SIM</a>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div></div></td>
                                {% endfor %}
                        </tbody>

                        </table>


                    </div>


                </div>
            </div>
        </div>

    {% else  %}
        <div class="col-xl-12 ">
            <div class="card shadow mb-4 mx-auto col p-5">
                <div class="container">
                    <div class="row">
                        <h5 class="m-0 font-weight-bold text-secondary"><b>Sem Modalidades cadastradas no sistema...  </b></h5></br></br>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}




{% endblock %}
{% endblock %}