{% extends "baseAdmin.twig" %}

{% block title %}


    <title> JIF - Exibir Modalidade</title>

{% endblock %} 
{% block body %}
    {% block content %}
        <div class="col-xl-12 ">

            <div class="alert alert-warning alert-dismissible fade show" role="alert">

                Modalidade alterada com sucesso!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card shadow mb-4 mx-auto col p-5">          
                <div class="row">           

                    <h6 class="m-0 font-weight-bold text-primary"><b>Exibir Modalidade</b></h6>
                    </br></br>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        
                                        <th>Esporte</th>
                                        <th>Qtd. Pessoas</th>
                                        <th>Tipo</th>
                                        <th>Gênero</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        
                                        <td>{{modalidade.esporte}}</td> 
                                        <td>{{modalidade.qtdAtleta}}</td> 
                                        <td>{% if modalidade.coletivo == 1 %}Coletivo{% else %}Individual{% endif %}</td> 
                                        <td>{% if modalidade.masculino == 1 %}Masculino{% else %}Feminino{% endif %}</td> 
                                        <td><a class="btn btn-warning btn-sm" href="/painel/modalidade/atualizar/{{modalidade.idModalidade}}" >Alterar</a><a href="" class="btn btn-danger btn-sm">Remover</a></td> 
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endblock %}
