  <footer class="container-fluid text-center">
                <div class="row">
                    <div class="col-sm-4">
                        <h3>Contato</h3>
                        <h4>  &copy; Copyright 2019 by <a href="#mailto:" target="_blank">IFTM</a></br>
                        </h4>
                    </div>
                    <div class="col-sm-4">
                        <h3>Connection</h3>
                        <a href="#" class="fa fa-facebook" target="_blank"></a>
                        <a href="#" class="fa fa-twitter" target="_blank"></a>
                        <a href="#" class="fa fa-google" target="_blank"></a>
                        <a href="#" class="fa fa-linkedin" target="_blank"></a>
                        <a href="#" class="fa fa-youtube" target="_blank"></a>

                    </div>
                    <div class="col-sm-4">

                    </div> 
                </div>
            </footer>