{% extends "baseAdmin.twig" %}
{% block title %}
    <title> JIF - Formação de Time</title>



    <style rel="stylesheet" type="text/css">
        .dataTables_filter {
            display: none; 
        }
    </style>

{% endblock %} 
{% block body %}

    {% block content %}
        {%if sessao.get("removeModalidade") != ""%}
            {{ sessao.get("msgModalidade")|raw}}

            {{ sessao.add("msgModalidade", "") }}

        {%endif%}

        <div class="col-xl-12 ">
            <div class="card shadow mb-4 mx-auto col p-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 order-md-1">
                            <h5 class="m-0 font-weight-bold text-primary"><b>Dados do Técnico Responsável: </b></h5>
                            </br></br>
                            <ul class="list-group">
                                <li class="list-group-item">Siape: {{sessao.get('siapeLogado')}}</li>
                                <li class="list-group-item list-group-item-secondary">Nome: {{sessao.get('nomeLogado')}}</li>
                                <li class="list-group-item">CPF: {{sessao.get('cpfLogado')}}</li>
                                <li class="list-group-item list-group-item-secondary">E-mail: {{sessao.get('emailLogado')}}</li>
                                <li class="list-group-item">Campus: {{sessao.get('campusLogado')}}</li>
                                <li class="list-group-item list-group-item-secondary">Telefone: {{sessao.get('telefoneLogado')}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if atletas|length >= 1 %}
            <div class="col-xl-12 ">

                <div class="card shadow mb-4 mx-auto col p-3">

                    <div class="container">
                        <div id="div_retorno">

                        </div>
                        <div id="processando" style="display: none;">
                            <img src="/img/ajaxloader.gif" />
                        </div>




                        <form id="formarTime" enctype="multipart/form-data">
                            <div class="row">


                                <div class="col-md-8 order-md-1">
                                    <h5 class="m-0 font-weight-bold text-primary"><b>Formação de Modalidade:  </b></h5></br></br>




                                    <!--<form id='formarTime'  enctype="multipart/form-data">-->

                                    <div class="row">

                                        <div class="col-md-6 mb-3"> <!--<label for="nome">Nome do Time: </label>-->
                                            <input type="hidden" name="nome" id="nome" class="nome form-control"  placeholder="Digite o nome do time" required>

                                        </div>
                                        <div class="col-md-6 mb-3"> <label for="modalidade">Modalidade e Sexo: </label> 
                                            <select class="custom-select d-block w-100" name="modalidade" id="modalidade" class="modalidade" required="" >
                                                <option value="">Selecione...</option>
                                                {% for m in modalidades %} 

                                                    {#<option value="{{m.idModalidade}}">{{m.esporte}} {% if m.masculino == 1 %}Masculino{% else %}Feminino{% endif %} {% if m.coletivo == 1 %}Coletivo{% else %}Individual{% endif %}</option>#}
                                                    <option value="{{m.idModalidade}}">{{m.esporte}} {% if m.masculino == 1 %}Masculino{% else %}Feminino{% endif %} </option>

                                                {% endfor%}
                                            </select>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="card-header py-3 px-10 ">
                                <h6 class="m-0 font-weight-bold text-primary">Tabela de Atletas</h6>
                            </div>
                            <button type="button" onclick='marcar();' title='Todos' id='todos' class="btn btn-sm btn-primary btn-lg pull-right"  data-color="danger"> Marcar Todos da página</button>

                            <button type="button" onclick='desmarcar();' title='Todos' id='todos' class="btn btn-sm btn-success btn-lg pull-right" data-color="danger"> Desmarcar Todos da página </button>

                            <div class="card-body">

                                <!--<table border="0" cellspacing="5" cellpadding="5">
                                    <tbody>
                                    <div class="form-group col-md-4">
                                        <label for="sexo">Filtrar atleta por sexo:</label>
                                        <select name="sexo" id="sexo"  class="sexo form-control" >
                                            <option value="">Todos</option>
                                            <option value="m">Masculino</option>
                                            <option value="f">Feminino</option>
                                        </select>

                                    </div>


                                
                                    </tbody></table>-->


                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="bookSearch" placeholder="Digite para procurar qualquer dado...">
                                           <!-- <span class="input-group-btn">
                                                <button class="btn btn-info btn-flat" type="button">Go!</button>
                                            </span>-->
                                        </div><!-- /input-group -->
                                    </div><!-- /.col-lg-6 -->
                                </div><!-- /.row -->
                                <div class="table-responsive">
                                    <table class="table table-bordered m-1"  id="tabelaAlunos" width="100%"  cellspacing="0">

                                        <thead>
                                            <tr>
                                                <th>RA</th>
                                                <th>Nome</th>
                                                <th>Data de nascimento</th>
                                                <th>Sexo</th>
                                                <th>RG</th>
                                                <th>Campus</th>
                                                <th>Telefone</th>
                                                <th>Foto</th>


                                            </tr>
                                        </thead>

                                        <tfoot style="position: absolute; margin:-150px 0px 0px -200px ; ">

                                            <tr>
                                                <th style="visibility: collapse">RA</th>

                                                <th  style="visibility: collapse">Nome</th>
                                                <th style="visibility: collapse">Data de nascimento</th>
                                                <th style="border:0;">Sexo</th>
                                                <th style="visibility: collapse">RG</th>
                                                <th  style="visibility: collapse">Campus</th>
                                                <th  style="visibility: collapse">Telefone</th>
                                                <th  style="visibility: collapse">Foto</th>
                                            </tr>

                                        </tfoot>

                                        <tbody>
                                            {% set cont = 0 %}
                                            {% for a in atletas %}
                                                <tr>
                                                    <td> {% set cont = cont + 1 %}
                                                        <input type="checkbox" value="{{a.ra}}" class="check btn btn-light" name="check_id[]"/>
                                                        {{a.ra}}

                                                    </td> 
                                            <input type='hidden' name='ra[]' value='{{a.ra}}'/>

                                            <td>{{a.nome}}</td>
                                            <td>{{ a.data_nascimento|date("d/m/Y") }}</td> 
                                            <td>{% if a.sexo == "m" %}Masculino{% else %}Feminino{% endif %}</td> 
                                            <td>{{a.rg}}</td>
                                            <td>{{a.campus}}</td>
                                            <td>{{a.telefone}}</td>
                                            <td><a href="/img/{{a.foto}}" target="_blank"><img src="/img/{{a.foto}}" width="42" height="42" ></a></td>




                                            </tr>
                                        {% endfor %}

<!--<input type="hidden" name="quantidade" id="quantidade" class="quantidade" value="{{cont}}">-->
                                        </tbody>

                                    </table>
                                </div>

                            </div>
                            <button type="submit" class="btn btn-success" type="submit">Formar</button>
                        </form>




                    </div>


                </div>
            </div>
        {% else  %}
            <div class="col-xl-12 ">
                <div class="card shadow mb-4 mx-auto col p-5">
                    <div class="container">
                        <div class="row">
                            <h5 class="m-0 font-weight-bold text-secondary"><b>Sem Alunos cadastrados no sistema...  </b></h5></br></br>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

    {% endblock %}
{% endblock %}