
{% extends "base.twig" %}
{% block title %}<title>JIF - Galerias de Fotos</title>{% endblock %}


{% block content %}
    
    {%block slide%}
        {% endblock%}
    <div class="col-lg-8 mt-2">

        <!-- Title -->
        <div class="mt-4">
            {%if sessao.get("logado") == ""%}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">

                    <strong>Atenção para Técnicos e Administradores !</strong> Faça login na parte superior!! 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif%}
        </div>


        <div class="col-xl-12 ">
            <div class="mb-4 mx-auto col">
                <div id="div_retorno">
                </div>

            </div>

        </div>

        {%if ((sessao.get("logado") != ''))%}
            <div class="col-xl-12 ">
                <div class="card bg-light mb-4 mx-auto col p-5">
                    <div class="container">
                        <div class="row">
                            <div id="processando">
                            </div>

                            <form id="gravarFoto" enctype="multipart/form-data">
                                <h5 class="m-0 font-weight-bold text-success"><b>Inserir uma foto </b></h5></br></br>
                                <fieldset>
                                    <div class="form-row">
                                        <div class="form-group col-md-10">
                                            <label for="descricao">*Descrição:</label>
                                            <textarea class="form-control" class="descricao form-control" id="descricao" name="descricao"  rows="4" required autofocus></textarea>

                                        </div>
                                    </div>

                                    <div class="form-row">

                                        <div class="form-group col-md-10">
                                            <label>*Foto: </label>

                                            <input type="file" class="imagem jfilestyle" name="imagem" id="imagem" data-theme="green" required data-text="Selecione uma imagem...">

                                        </div>
                                    </div>


                                </fieldset>

                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success btn btn-primary btn-lg pull-right" />
                                    Fazer upload
                                    </button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {%endif%}
        <h1 class="mt-4">Galeria de Fotos</h1>

        <hr>


        <p>Todas as fotos do Site </p>

        <hr><!-- Lista de fotos -->

        {% if fotos|length >= 1 %}


            <div id="nanoGallery2">
                {% for f in fotos%}

                    <a href="/img/galeria/{{f.nome}}" data-ngthumb="/img/miniaturas/{{f.nome}}" data-ngdesc="{{f.descricao}}">{{f.nome}}</a>

                {%endfor%}

            </div>

          {#  <ul class="loadMore" ">
                {% for f in fotos%}
                    <li class="thumbnail">{{f.nome}}<br></li>
                {%endfor%}

            </ul>#}
                
            <script type="text/javascript">

                $('.loadMore').loadMoreResults({
                    tag: {
                        name: 'li',
                        'class': 'thumbnail'
                    },
                    displayedItems: 1,
                    showItems: 1
                });
            </script>
        {%else%}

            <div class="col-xl-12 ">
                <div class="card bg-light mb-4 mx-auto col p-5">
                    <div class="container">
                        <div class="row">
                            <h5 class="m-0 font-weight-bold text-danger"><b>Galeria de fotos vazia ...  </b></h5></br></br>
                        </div>
                    </div>
                </div>
            </div>
        {%endif%}


        <div id="disqus_thread"></div>




    </div>

{%endblock%}
