{% extends "baseAdmin.twig" %}

{% block title %}


    <title> JIF - Gerar Crachás</title>

{% endblock %} 
{% block body %}

    {% block content %}
      {#  <div class="alert alert-warning alert-dismissible fade show" role="alert">


            <strong>Obs:</strong>(1) Selecione Todos se desejar de todos os times, se não: Selecione o time que deseja Gerar Crachás!<br>
            <!--{2) Selecione TIME para mostrar no PDF o time do aluno ou TIMES para mostrar todos os times que o aluno está incluído!-->

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>#}


        <div class="col-xl-12 ">
            <div id="div_retorno">
            </div>
            <div class="card shadow mb-4 mx-auto col p-5">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Gerar Crachás: </h6>
                    <div class="dropdown no-arrow">
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">

                    <div id="processando" style="display: none;">
                        <img src="/img/ajaxloader.gif" />
                    </div>
                </div>

                <div class="card-body">


                    
                        <fieldset>


                            <div class="form-row">

                                <div class="form-group col-md-4">

                                   {# <label for="time">Time:</label>

                                    <select class="custom-select d-block w-100" name="time" id="time" class="time" required="" >
                                        <option value="-1">Todos</option>
                                        {% for t in times %} 

                                            <option value="{{t.idTime}}">{{t.nomeTime}}</option>

                                        {% endfor%}
                                    </select>#}
                                   <input type="hidden" name="time" value="-1">Clique abaixo para gerar todos os crachás da Instituição</option>
                                </div>


                            </div>


                        </fieldset>

                        <div class="form-actions">
                            <a type="button" href="/painel/gerarCrachas" class="btn btn-success btn btn-primary btn-lg pull-right" />
                            Gerar
                            </a>

                        </div>
                    
                </div>
            </div>
        </div>


    {% endblock %}
{% endblock %}





