<header>

   <!-- <script type="text/javascript">
        window.onload = function what() {
            var url_atual = window.location.pathname;
            
            //alert(url_atual);
            if (url_atual == '/') {
                document.getElementById('rotaHome').innerHTML = '<li class="nav-item active"> <a class="nav-link" href="/">Início <span class="sr-only">(current)</span></a></li>';

            } else if (url_atual == '/usuario' || url_atual == '/usuario/cadastro') {
                document.getElementById('rotaUsuario').innerHTML = ' <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuário</a><div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="/usuario/cadastro">Cadastrar</a><a class="dropdown-item" href="/usuario">Listar</a><div class="dropdown-divider"></div> <a class="dropdown-item" href="/login/alterar">Atualizar informações de Login</a></div></li>';
            } else if (url_atual == '/sala' || url_atual == '/sala/cadastro') {
                document.getElementById('rotaSala').innerHTML = ' <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Salas</a><div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="/sala/cadastro">Cadastrar</a><a class="dropdown-item" href="/sala">Listar</a><div class="dropdown-divider"></div></div></li>';
            } else if (url_atual == '/reserva') {
                document.getElementById('rotaReserva').innerHTML = ' <li class="nav-item active"><a class="nav-link" href="/reserva">Reserva <span class="sr-only">(current)</span></a></li>';

            }else if (url_atual == '/reserva/pendente') {
                document.getElementById('rotaReservaPen').innerHTML = ' <li class="nav-item active"><a class="nav-link" href="/reserva/pendente">Submissões<span class="sr-only">(current)</span></a></li>';

            }
           
        };

    </script>-->
   
    <nav class="navbar navbar-expand-lg navbar-dark" >
        <a class="navbar-brand" href="/"><img src="/img/logo.png" style="width: 250px; height: 60px;"/></a>
        <a class="navbar-brand" href="#">logado: ({{sessao.get('username')}})</br>
        
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" >
                <div id="rotaHome">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Início <span class="sr-only">(current)</span></a>
                    </li>
                </div>
               
                <div id="rotaUsuario">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usuário
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Teste</a>
                            <div class="dropdown-divider"></div>
                           <!-- <a class="dropdown-item" href="/login/alterar">Atualizar informações de Login</a>-->


                        </div>
                    </li>
                </div>
                <div id="rotaSala">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Aluno
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <a class="dropdown-item" href="#">Teste</a>
                            <div class="dropdown-divider"></div>

                        </div>
                    </li>
                </div>
               
                <div id="logoff">
                    <li class="nav-item ">
                        <a class="nav-link "  style="color:yellow;"href="/exit">Sair <span class="sr-only">(current)</span></a>
                    </li>
                </div>


               
            </ul>
            <form class="form-inline my-2 my-lg-0">
               
            </form>
        </div>
    </nav>



</header>