
{% extends "base.twig" %}
{% block title %}<title>JIF - Cadastro de Jogo</title>{% endblock %}


{% block content %}


    <div class="col-lg-8 mt-2">

        <!-- Title -->


        <div class="col-xl-12 ">
            <div class="mb-4 mx-auto col">
                <div id="div_retorno">
                </div>

            </div>

        </div>


        {%if ((sessao.get("administrador") != '') or (sessao.get("tecnico") != ''))%}

           
            <div class="col-xl-12 ">
                <div class="card bg-light mb-4 mx-auto col p-5">
                    <div class="container">
                        <div class="row">
                            <div id="processando">
                            </div>

                            <form id="gravarJogo" enctype="multipart/form-data">
                                <h5 class="m-0 font-weight-bold text-success"><b>Cadastrar Novo Jogo </b></h5></br></br>
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="descricao">*Data de Início:</label>
                                                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                                    <input type="text" class="form-control datetimepicker-input" class="dataInicio" name="dataInicio" required placeholder="DD/MM/AAAA HH:MM" data-target="#datetimepicker1"/>
                                                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker" >
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('#datetimepicker1').datetimepicker({
                                                    locale: 'pt-br'
                                                });
                                            });
                                        </script>
                                    </div>

                                    <div class="row">

                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="time1">*Time 1:</label>
                                                <select class="form-control" id="options"  name="time1" class="time1"  required onchange="optionCheck()">
                                                    <option value="">Selecione...</option>


                                                    {% for t in times%}
                                                        <option value="{{t.idTime}}">{{t.nomeTime}} (Campus {{t.campus}} )   </option>
                                                    {%endfor%}




                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="time2">*Time 2:</label>
                                                <select class="form-control" name="time2" required class="time2">
                                                    <option value="">Selecione...</option>

                                                    {% for t in times%}
                                                        <option value="{{t.idTime}}">{{t.nomeTime}} (Campus {{t.campus}} )  </option>
                                                    {%endfor%}




                                                </select>
                                            </div>
                                            <!--<div class="form-group">

                                                <div id="hiddenDiv" style="height:100px;width:300px;border:1px;visibility:hidden;">
                                                    <label for="time2">*Time2:</label>
                                                    <select class="form-control" id="time2" name="time2" class="time2">


                                                    </select>
                                                </div>
                                            </div>-->
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-10">
                                            <label for="local">*Local:</label>
                                            <select name="local" id="local"  class="local form-control" required>
                                                 <option value="" >Selecione...</option>
                                                <option value="Joquei Club Paracatuense" >Joquei Club Paracatuense</option>
                                                <option value="Escola Estadual Doutor Virgílio de Melo Franco" >Escola Estadual Doutor Virgílio de Melo Franco</option>
                                                <option value="Escola Estadual Antônio Carlos" >Escola Estadual Antônio Carlos</option>
                                                <option value="IFTM" >IFTM</option>
                                                <option value="Sesi" >Sesi</option>
                                            </select>
                                        </div>

                                    </div>

                                </fieldset>

                                <div class="row">
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success btn btn-primary btn-lg pull-right" />
                                        Cadastrar
                                        </button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {%endif%}

        <br><br>

    </div>

{%endblock%}
