
{% extends "base.twig" %}
{% block title %}<title>JIF - Jogos</title>{% endblock %}


{% block content %}
    <div class="col-lg-8 mt-2">

        <!-- Title -->
        <div class="mt-4">
            {%if sessao.get("logado") == ""%}

            {% endif%}
        </div>

        {{ sessao.get("msgJogoView")|raw}}

        {{ sessao.add("msgJogoView", "") }}

        <div class="col-xl-12 ">
            <div class="mb-4 mx-auto col">


            </div>

        </div>
        {%if sessao.get("logado") == "" %}

            <script>
                /*function dis()
                 {
                 xmlhttp = new XMLHttpRequest();
                 xmlhttp.open("GET", "/jogo/atualizaRealUser/{{sessao.get("idJogo")}}", false);
                 xmlhttp.send(null);
                 document.getElementById("getdata").innerHTML = xmlhttp.responseText;
                 }
                 dis();
                 setInterval(function () {
                 dis();
                 }, 2000);
                 */

                function load() {
                    setTimeout(function () {
                        $.ajax({
                            url: "/jogo/atualizaRealUser/{{sessao.get("idJogo")}}",
                            type: "GET",

                            success: function (result) {
                                $("#getdata").html(result);
                            },
                            complete: load
                        });
                    }, 1101);
                }
                load();

            </script>
        {%endif%}
        {%for j in jogo %}


            <h3 class=text-success  >Local: </h3>
            <h3 class=text-danger > {{j.local}} </h3>
            <h3 class=text-success  >Data e Horário: </h3>
            <h3 class=text-danger > {{j.dataHoraInicio | date('d/m/Y h:i')}} </h3>

            <div id="div_retorno"></div>
            <div id="processando" style="display: none;">
                <img src="/img/ajaxloader.gif" />
            </div>
            <div class="w-100 m-3 d-flex justify-content-center "  id=substituirDiv  style="cursor:pointer;"> 

                {%if sessao.get("logado") == "" %}<div id="getdata"></div>
                {%else%}
                    <table border="0"> 

                        <tr>
                            <td >
                        <center>
                            {% for time in times %}
                                {%if time.idTime == j.Time_idTime %}
                                    <h2 width="20px" style="color:#0062cc;">{{time.campus}} {{time.nomeTime}}</h2>
                                {%endif%}
                            {%endfor%}

                            <img src="/img/0.png" height="120" alt="" class="img-responsive" id="img2-time1"/>

                            <img src="/img/0.png" height="120" alt="" class="img-responsive" id="img1-time1"/>

                            <div class="controles">

                                {%if (j.status != 1) %}
                                    <input type="hidden" id="btn-mais-time1" name="button" class="btn-lg btn-success">
                                    <input type="hidden" id="btn-menos-time1" name="button" class="btn-lg btn-danger">


                                {%else%}
                                    <button type="button" id="btn-mais-time1" name="button" class="btn-lg btn-success">+1</button>
                                    <button type="button" id="btn-menos-time1" name="button" class="btn-lg btn-danger">-1</button>

                                {%endif%}

                                <input type="hidden"  class="scoreTime1" id="scoreTime1" name="scoretime1" />
                                {%for placar in placares%}     
                                    {%if placar.time_idTime == j.Time_idTime %}

                                        <input type="hidden"  class="scoreTime1Atual" id="scoreTime1Atual" name="scoreTime1Atual" value="{% if(placar.placar == 0)%}{{ 0 }} {%else%}{{placar.placar}} {%endif%}"/>
                                        <input type="hidden"  class="idTime1Atual" id="idTime1Atual" name="idTime1Atual" value="{{ j.Time_idTime }} "/>

                                    {%endif%}
                                {%endfor%}
                                <input type="hidden" id="idJogo" class="idJogo" name="idJogo" value="{{j.idJogo}}">

                            </div>

                        </center>
                        </td>
                        <td>
                        <center>
                            <b class="" style="position: static;margin: 10px; ">VS</b>
                        </center>
                        </td>
                        <td>
                        <center>
                            {% for time in times %}
                                {%if time.idTime == j.Time_idTime1 %}
                                    <h2 >{{time.campus}} {{time.nomeTime}}</h2>
                                {%endif%}
                            {%endfor%}

                            <img src="/img/0.png" height="120" alt="" class="img-responsive" id="img2-time2"/>
                            <img src="/img/0.png" height="120" alt="" class="img-responsive" id="img1-time2"/>


                            <div class="controles">

                                <input type="hidden" class="scoreTime2" id="scoreTime2" name="scoretime2" />
                                {%if (j.status != 1)%}


                                    <input type="hidden" id="btn-mais-time2" name="button" class="btn-lg btn-success">
                                    <input type="hidden" id="btn-menos-time2" name="button" class="btn-lg btn-danger">
                                {%else%}
                                    <button type="button" id="btn-mais-time2" name="button" class="btn-lg btn-success">+1</button>
                                    <button type="button" id="btn-menos-time2" name="button" class="btn-lg btn-danger">-1</button>


                                {%endif%}

                                {%for placar in placares%}     
                                    {%if placar.time_idTime == j.Time_idTime1 %}


                                        <input type="hidden"  class="scoreTime2Atual" id="scoreTime2Atual" name="scoreTime2Atual" value="{% if(placar.placar == 0)%}{{ 0 }} {%else%}{{placar.placar}} {%endif%}"/>
                                        <input type="hidden"  class="idTime2Atual" id="idTime2Atual" name="idTime2Atual" value="{{ j.Time_idTime1 }} "/>
                                    {%endif%}
                                {%endfor%}

                            </div>
                        </center>
                        </td>
                    </table>
                    
                {%endif%}</div>
                
            {%if sessao.get("logado") != "" %} 

                <div class="mb-4" >

                    <input type="hidden"  class="scoreTime1" id="scoreTime1" name="scoretime1" />
                    {%if (j.status == 1)%}
                        <div class="form-row">
                            <div class="form-group col-md-10">
                                <label for="descricao">Adicionar Comentários sobre o jogo:</label>
                                <textarea class="mensagem form-control" id="mensagem" name="mensagem" rows="4" autofocus></textarea>
                            </div>
                        </div>
                        <div class="card bg-light mb-5 my-5 mr-4 ">
                        <div class="card-header">Atualizações Recentes</div>
                        <div class="card-body">
                            <h5 class="card-title">Comentários em Tempo Real: </h5>
                            <p class="card-text">
                                {{j.mensagem | raw }}
                            </p>
                        </div>
                    </div>
                    {%endif%}
                    {%if sessao.get("tecnico") != "" or sessao.get("administrador") != "" %} 
                        <input type="hidden" class="mensagem" name="mensagem" id="mensagem" >
                        <!--ALTERAR PRA LOGADO SE NECESSARIO -->
                        <input type="hidden" class="mensagem form-control" id="mensagem" name="mensagem" rows="4" autofocus>

                        {%if (j.status == 0)%}
                            <input type="button" onclick="window.location = '/jogo/status/?status=1&idJogo={{j.idJogo}}'" value="Ativar Partida" class="btn btn-primary position-relative ">

                        {%elseif (j.status == 1)%}
                            <input type="button" onclick="window.location = '/jogo/status/?status=2&idJogo={{j.idJogo}}'"  value="Finalizar Partida" class="btn btn-danger position-relative " >

                        {%elseif (j.status == 2)%}
                            {%if sessao.get("tecnico") != "" or sessao.get("administrador") != "" %} 
                                <form id="enviarSumula" enctype= multipart/form-data>
                                    <div class="mb-4 m-5" >
                                        <div class="form-group col-xs-6">
                                            
                                            {%if j.sumula != ""%}
                                            <label>Súmula: </label>
                                            <b>Nome do útimo upload: {{j.sumula}}</b>
                                            {%endif%}

                                            <input type="file" class="file jfilestyle" name="file" id="file" data-theme="green" required data-text="Selecione um pdf...">
                                            <input type=hidden name=idJogo value={{j.idJogo}}>
                                        </div>
                                    </div>
                                    <input type="submit" value="Salvar" class="btn btn-success position-relative " >
                                </form>
                            {%endif%}
                        </div>
                    </div>

                {%endif%}
            {%endif%}

            {%if (j.status != 0 and j.status != 2)%}
                <input type="submit" value="Salvar" class="btn btn-success position-relative " id="btnEnviarDados">
            {%endif%}


        {%else%}
            {%if (j.status == 2) and (j.sumula != "")%}
                <div class="form-group col-md-10 m-5">
                    <input type="button" onclick="window.location = '/pdf/{{j.sumula}}';" value="Baixar Súmula" class="btn btn-success position-relative " >
                </div>
            {%endif%}

        </div> 

    {%endif%}
{%endfor%}





</div>



{%block menu%}
{%endblock%}

<!-- <h1 class="mt-4">Galeria de Fotos</h1>

  <hr>

  <p>Todas as fotos do Site </p>

  <hr>-->

<div id="disqus_thread"></div>




</div>

{%endblock%}
