
{% extends "base.twig" %}
{% block title %}<title>JIF - Jogos</title>{% endblock %}


{% block content %}


    <div class="col-lg-8 mt-2">

        <!-- Title -->

        <div class="col-xl-12 ">
            <div class="mb-4 mx-auto col">
                <div id="div_retorno">
                </div>

            </div>

        </div>

        {{ sessao.get("msgChangeJogo")|raw}}

        {{ sessao.add("msgChangeJogo", "") }}

        <!--<div class="mt-4 col-sm-12">

            <div class="alert alert-warning alert-dismissible fade show" role="alert">

                <strong>Dica:</strong> Clique em um jogo abaixo para visualizar em tempo real!! 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        </div>-->


        {%if ((sessao.get("administrador") != '') or (sessao.get("tecnico") != ''))%}
            <div class="col-xl-12 ">
                <div class="card bg-light mb-4 mx-auto col p-5">
                    <div class="container">
                        <div class="row">
                            
                            <div id="processando" style="display: none;">
                                <img src="/img/ajaxloader.gif" />
                            </div>
                            {% for t1 in jogo %}
                                <form action="/jogo/efetivarAlteracao" enctype="multipart/form-data">
                                    <input type="hidden" value="yes" name="update" />
                                    <input type="hidden" value="{{t1.idJogo}}" name="idJogo" />
                                    <h5 class="m-0 font-weight-bold text-success"><b>Alterar Jogo </b></h5></br></br>
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="descricao">*Data de Início:</label>
                                                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                                        <input type="text" class="form-control datetimepicker-input" class="dataInicio" name="dataInicio" required value="{{t1.dataHoraInicio | date("d/m/Y H:i", false )}}" placeholder="DD/MM/AAAA HH:MM" data-target="#datetimepicker1"/>
                                                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker" >
                                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                                $(function () {
                                                    $('#datetimepicker1').datetimepicker({
                                                        locale: 'pt-br'
                                                    });
                                                });
                                            </script>
                                        </div>

                                        <div class="row">

                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="time1">*Time 1:</label>
                                                    <select class="form-control" id="options"  name="time1" class="time1"  required onchange="optionCheck()">
                                                        <option value="">Selecione...</option>


                                                        {% for t in times%}



                                                            {%if t.idTime == t1.Time_idTime%}
                                                                <option selected value="{{t.idTime}}">{{t.nomeTime}} (Campus {{t.campus}} )   </option>
                                                            {%else%}
                                                                <option value="{{t.idTime}}">{{t.nomeTime}} (Campus {{t.campus}} )   </option>
                                                            {%endif%}


                                                        {%endfor%}




                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="time2">*Time 2:</label>
                                                    <select class="form-control" name="time2" required class="time2">
                                                        <option value="">Selecione...</option>

                                                        {% for t in times%}

                                                            {% for t1 in jogo %}

                                                                {%if t.idTime == t1.Time_idTime1%}
                                                                    <option selected value="{{t.idTime}}">{{t.nomeTime}} (Campus {{t.campus}} )   </option>
                                                                {%else%}
                                                                    <option value="{{t.idTime}}">{{t.nomeTime}} (Campus {{t.campus}} )   </option>
                                                                {%endif%}

                                                            {%endfor%}
                                                        {%endfor%}





                                                    </select>
                                                </div>
                                                <!--<div class="form-group">
    
                                                    <div id="hiddenDiv" style="height:100px;width:300px;border:1px;visibility:hidden;">
                                                        <label for="time2">*Time2:</label>
                                                        <select class="form-control" id="time2" name="time2" class="time2">
    
    
                                                        </select>
                                                    </div>
                                                </div>-->
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-10">

                                                <!--<div class="form-group col-md-4">-->

                                                <label for="local">*Local:</label>

                                                <select name="local" id="local"  class="local form-control" required>
                                                    <option value="Joquei Club Paracatuense" {% if(t1.local == "Joquei Club Paracatuense")%}selected{%endif%}>Joquei Club Paracatuense</option>
                                                    <option value="Escola Estadual Doutor Virgílio de Melo Franco" {% if(t1.local == "Escola Estadual Doutor Virgílio de Melo Franco")%}selected{%endif%}>Escola Estadual Doutor Virgílio de Melo Franco</option>
                                                    <option value="Escola Estadual Antônio Carlos" {% if(t1.local == "Escola Estadual Antônio Carlos")%}selected{%endif%}>Escola Estadual Antônio Carlos</option>
                                                    <option value="IFTM" {% if(t1.local == "IFTM")%}selected{%endif%}>IFTM</option>
                                                    <option value="Sesi" {% if(t1.local == "Sesi")%}selected{%endif%}>Sesi</option>
                                                </select>

                                                <!--</div>-->

                                            </div>

                                        </div>

                                    </fieldset>

                                    <div class="row">
                                        <div class="form-actions">
                                            <a type="button" href="/jogo/all" class="btn btn-secondary m-1 btn btn-primary btn-lg pull-right" />
                                            Voltar para jogos
                                            </a>
                                            <button type="submit" class="btn btn-success m-1 btn btn-primary btn-lg pull-right" />
                                            Atualizar
                                            </button>

                                        </div>
                                    </div>
                                </form>  {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                {%endif%}




                    <br><br>



                </div>

                {%endblock%}
