
{% extends "base.twig" %}
{% block title %}<title>JIF - Jogos</title>{% endblock %}


{% block content %}


    <div class="col-lg-8 mt-2">

        <!-- Title -->


        <div class="col-xl-12 ">
            <div class="mb-4 mx-auto col">
                <div id="div_retorno">
                </div>

            </div>

        </div>


        {%if ((sessao.get("administrador") != '') or (sessao.get("tecnico") != ''))%}

            <div class="mt-4 col-sm-12">
                <a href="/jogo/cadastro" class="btn btn-success input-group-addon "  style="color:white"><i class="fa fa-plus-square"></i><b> Novo Jogo</b></a>

            </div>
        {%endif%}
        

        {{ sessao.get("msgJogo")|raw}}

        {{ sessao.add("msgJogo", "") }}

        <div class="mt-4 col-sm-12">

            <div class="alert alert-warning alert-dismissible fade show" role="alert">

                <strong>Dica:</strong> Clique em um jogo abaixo para visualizar em tempo real!! 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        </div>


        <h1 class="mt-4">Lista de Jogos</h1>

        <hr>


        <p>Jogos Atuais </p>

        <hr>

        {%if ((sessao.get("administrador") != '') or (sessao.get("tecnico") != ''))%}
            <div class="mt-4 col-sm-12">

                <div class="alert alert-warning alert-dismissible fade show" role="alert">

                    <strong>Dica:</strong> Os JOGOS em BRANCO estão ATIVOS, os JOGOS em <a style="background-color: #C0C0C0;color: #FFF; "> <b>CINZA CLARO</b></a> estão FINALIZADOS e os JOGOS em <a style="background-color: #696969;color: #FFF; "> <b>CINZA ESCURO</b></a> estão desativados, se desejar selecione uma opção como: alterar(icone laranja) ou excluir(icone vermelho)(APENAS JOGOS INATIVOS)!!!<br><b>OBS:</b> Jogos Ativos Necessitam serem desativados para fazer o procedimentro de remoção, alteração! Clique na partida para mais detalhes!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
        {%endif%}


        <!--INICIO JOGOS ATIVOS -->
        {% if jogosAtivos|length >= 1%}
            {% for t1 in jogosAtivos %}

                <div class="w-95 m-4 d-flex justify-content-center " onclick="window.location = '/jogo/view/{{t1.idJogo}}';" style="cursor:pointer;"> 


                    {#{%if ((sessao.get("administrador") != '') or (sessao.get("tecnico") != ''))%}
                        <div style="position:relative; float:left;  cursor:pointer; ">  
                            {%if ((sessao.get("administrador") != '') or (sessao.get("tecnico") != ''))%}
                                <a href="#" class="btn btn-default btn-circle "  style="font-size:32px;color:red"><i class="fa fa-remove"></i></a><br>
                                <a href="#" class="btn btn-default btn-circle " ><i class="fa fa-pencil-square-o" style="font-size:32px;color:orange"></i></a>
                                {%endif%}
                        </div>
                    {%endif%}#}

                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        {% for time in times %}
                                            {%if time.idTime == t1.Time_idTime %}
                                                {{time.campus}} {{time.nomeTime}}
                                            {%endif%}
                                        {%endfor%}


                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 d-flex justify-content-center">
                                        {%for placar in placares%}     
                                            {%if placar.time_idTime == t1.Time_idTime %}
                                                {% if(placar.placar == 0)%}{{ 0 }} {%else%}{{placar.placar}} 
                                                {%endif%}
                                            {%endif%}
                                        {%endfor%}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <center ><h3>&nbspVS&nbsp</h3></center>
                    <!-- Earnings (Monthly) Card Example -->

                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        {% for time in times %}
                                            {%if time.idTime == t1.Time_idTime1 %}
                                                {{time.campus}} {{time.nomeTime}}
                                            {%endif%}
                                        {%endfor%}

                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 d-flex justify-content-center ">
                                        {%for placar in placares%}     
                                            {%if placar.time_idTime == t1.Time_idTime1 %}
                                                {% if(placar.placar == 0)%}{{ 0 }} {%else%}{{placar.placar}} 
                                                {%endif%}
                                            {%endif%}
                                        {%endfor%}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            {%endfor%}

        {%else%}

            <div class="col-xl-12 ">
                <div class="card bg-light mb-4 mx-auto col p-5">
                    <div class="container">
                        <div class="row">
                            <h5 class="m-0 font-weight-bold text-secondary"><b>Sem jogos Ativos ...  </b></h5></br></br>
                        </div>
                    </div>
                </div>
            </div>
        {%endif%}<!-- FIM JOGOS ATIVOS-->


        <!--INICIO JOGOS FINALIZADOS -->
        {% if jogosFinalizados|length >= 1%}
            {% for f in jogosFinalizados %}

                <div class=" mt-4 d-flex justify-content-center " onclick="window.location = '/jogo/view/{{f.idJogo}}';" style="cursor:pointer;"> 


                    {#{%if ((sessao.get("administrador") != '') or (sessao.get("tecnico") != ''))%}
                        <div style="position:relative; float:left;  cursor:pointer; ">  
                            {%if ((sessao.get("administrador") != '') or (sessao.get("tecnico") != ''))%}
                                <a href="#" class="btn btn-default btn-circle "  style="font-size:32px;color:red"><i class="fa fa-remove"></i></a><br>
                                <a href="#" class="btn btn-default btn-circle " ><i class="fa fa-pencil-square-o" style="font-size:32px;color:orange"></i></a>
                                {%endif%}
                        </div>
                    {%endif%}#}

                    <div class="card border-left-primary bg-secondary text-white shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold  text-uppercase mb-1">
                                        {% for time in times %}
                                            {%if time.idTime == f.Time_idTime %}
                                                {{time.campus}} {{time.nomeTime}}
                                            {%endif%}
                                        {%endfor%}


                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 d-flex justify-content-center ">
                                        {%for placar in placares%}     
                                            {%if placar.time_idTime == f.Time_idTime %}
                                                {% if(placar.placar == 0)%}{{ 0 }} {%else%}{{placar.placar}} 
                                                {%endif%}
                                            {%endif%}
                                        {%endfor%}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <center ><h3>&nbspVS&nbsp</h3></center>
                    <!-- Earnings (Monthly) Card Example -->

                     <div class="card border-left-primary bg-secondary text-white shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">
                                        {% for time in times %}
                                            {%if time.idTime == f.Time_idTime1 %}
                                                {{time.campus}} {{time.nomeTime}}
                                            {%endif%}
                                        {%endfor%}

                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 d-flex justify-content-center  ">
                                        {%for placar in placares%}     
                                            {%if placar.time_idTime == f.Time_idTime1 %}
                                                {% if(placar.placar == 0)%}{{ 0 }} {%else%}{{placar.placar}} 
                                                {%endif%}
                                            {%endif%}
                                        {%endfor%}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            {%endfor%}

        {%else%}

            <!-- <div class="col-xl-12 ">
                 <div class="card bg-light mb-4 mx-auto col p-5">
                     <div class="container">
                         <div class="row">
                             <h5 class="m-0 font-weight-bold text-secondary"><b>Sem jogos Ativos ...  </b></h5></br></br>
                         </div>
                     </div>
                 </div>
             </div>-->
        {%endif%}<!-- FIM JOGOS FINALIZADOS-->




        <!-- INICIO JOGOS INAATIVOS-->
        {%if ((sessao.get("administrador") != '') or (sessao.get("tecnico") != ''))%}
            {% if jogosInativos|length >= 1%}
                {% for t2 in jogosInativos %}
                    <div class="w-100 m-4 d-flex justify-content-center "  > 
                        {%if ((sessao.get("administrador") != '') or (sessao.get("tecnico") != ''))%}

                            <div style="position:relative; margin-left: -40px;float:left;  cursor:pointer; ">  
                                {%if ((sessao.get("administrador") != '') or (sessao.get("tecnico") != ''))%}
                                    <a class="btn btn-default btn-circle " data-toggle="modal" data-target="#deleteModal{{t2.idJogo}}"  style="font-size:32px;color:red"><i class="fa fa-remove"></i></a><br>
                                    <a href="/jogo/change/{{t2.idJogo}}" class="btn btn-default btn-circle " ><i class="fa fa-pencil-square-o" style="font-size:32px;color:orange"></i></a>
                                    {%endif%}
                            </div>
                        {%endif%}
                        
                        <div onclick="window.location = '/jogo/view/{{t2.idJogo}}'" style="cursor:pointer;" class="card text-white bg-dark border-left-primary shadow h-100 py-2" onclick="window.location = '/jogo/view/{{t2.idJogo}}'" style="cursor:pointer;">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">

                                        <div class="text-xs font-weight-bold  text-white text-uppercase mb-1">
                                            {% for time in times %}
                                                {%if time.idTime == t2.Time_idTime %}
                                                    {{time.campus}} {{time.nomeTime}}
                                                {%endif%}
                                            {%endfor%}
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800 d-flex justify-content-center">
                                            {%for placar in placares%}     
                                                {%if placar.time_idTime == t2.Time_idTime %}
                                                    {% if(placar.placar == 0)%}{{ 0 }} {%else%}{{placar.placar}} 
                                                    {%endif%}
                                                {%endif%}
                                            {%endfor%}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <center ><h3>&nbspVS&nbsp</h3></center>
                        <!-- Earnings (Monthly) Card Example -->

                        <div class=" card text-white bg-dark card border-left-success shadow h-100 py-2" style="margin-right:20px;" onclick="window.location = '/jogo/view/{{t2.idJogo}}'" style="cursor:pointer;">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold  text-white text-uppercase mb-1">
                                            {% for time in times %}
                                                {%if time.idTime == t2.Time_idTime1 %}
                                                    {{time.campus}} {{time.nomeTime}}
                                                {%endif%}
                                            {%endfor%}


                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800 d-flex justify-content-center ">

                                            {%for placar in placares%}     
                                                {%if placar.time_idTime == t2.Time_idTime1 %}
                                                    {% if(placar.placar == 0)%}{{ 0 }} {%else%}{{placar.placar}} 
                                                    {%endif%}
                                                {%endif%}
                                            {%endfor%}

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal fade" id="deleteModal{{t2.idJogo}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-danger" id="exampleModalLabel"><b>Deseja Remover o jogo selecionado?</b></h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">Confirme abaixo se você tem certeza que deseja excluir permanentemente o Jogo Selecionado!!</div>
                                <div class="modal-footer">
                                    <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">Cancelar</button>

                                    <!--<form id="removeModalidade" enctype="multipart/form-data">-->


                                    <!-- <button type="submit" class="btn btn-sm btn-danger">Confimar Exclusão</button>-->
                                    {#href="/jogo/delete/{{t2.idJogo}}#}
                                    <a href="/jogo/delete/{{t2.idJogo}}" class="btn btn-sm btn-danger">Confirmar Exclusão</a>

                                    <!--</form>-->


                                </div>
                            </div>
                        </div>
                    </div>

                {%endfor%}<!-- FIM JOGOS INATIVOS-->


            {%else%}

                <div class="col-xl-12 mt-3">
                    <div class="card bg-light mb-4 mx-auto col p-5">
                        <div class="container">
                            <div class="row">
                                <h5 class="m-0 font-weight-bold text-secondary"><b>Sem jogos Inativos ...  </b></h5></br></br>
                            </div>
                        </div>
                    </div>
                </div>
            {%endif%}


        {% endif%}

        <br><br>

        <div id="disqus_thread"></div>

        <script type="text/javascript">
            function optionCheck() {
                var option = document.getElementById("options").value;
                if (option == "show") {
                    document.getElementById("hiddenDiv").style.visibility = "visible";
                }
                if (option == "") {
                    document.getElementById("hiddenDiv").style.visibility = "hidden";
                }

            }
        </script>


    </div>

{%endblock%}
