
{% extends "base.twig" %}


{% block title %}

    {%if sessao.get("cpf") != ""%}

        <title>JIF - Cadastro de Usuário </title>
        
    {%else %} 
        <title>JIF - Login de Usuário </title>
    {%endif%}
{% endblock %} 
{% block content %}



    {%if sessao.get("cpf") != ""%}
        {%include('cadastroTecnico.twig') %}


    {%else %} 
        
<div class="container"><h1>Login: </h1>

    <div class="container">
        <div id="div_retorno">

        </div>
        <div id="processando" style="display: none;">
            <img src="/img/ajaxloader.gif" />
        </div>
    </div>
    <div class="container forms">
        <div class="col-sm-8">
            <div class="container">

                <legend>Digite os dados abaixo: </legend>

                <form class="form-horizontal" id="loginEfetivar" enctype="multipart/form-data">
                    <div class="row">
                       
                        
                        <div class="col"><div class="form-group ">
                                <label for="cpf">CPF:</label>
                                <input type="text" class="cpf form-control" placeholder="Digite o seu cpf" id="cpf" name="cpf" required >

                            </div></div>
                      
                            <div class="form-group">
                                <label for="senha">Senha:</label>
                                <div class="input"><input type="password" name="senha" id="senha"  class="senha form-control" required placeholder="Digite a senha">
                                </div>

                            </div>

                        </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-success btn btn-primary btn-lg pull-right" />
                        Prosseguir
                        </button>
                    </div>
                </form>
                
                
                <div class="w-100 p-3"></div>
            </div>

        </div>
    </div>
</div>


    {%endif%}

{% endblock %}





