<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>JIF - Login</title>

        <!-- Custom fonts for this template-->
        <link href="/sbtheme/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">
        <link rel="icon" href="/icon/favicon.ico.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/icon/favicon.ico.ico" type="image/x-icon">


    </head>

    <body class="bg-gradient-primary">

        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-12 p-4">

                                    <div id="div_retorno">

                                    </div>
                                    <div id="processando" style="display: none;">
                                        <img src="/img/ajaxloader.gif" />
                                    </div>



                                </div>
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Bem vindo!</h1>
                                        </div>
                                        <form class="user" id="loginEfetivar" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <input type="text" class="cpf form-control form-control-user " id="cpf"  placeholder="Digite o seu cpf" id="cpf" name="cpf" required >
                                            </div>

                                            <div class="input-group mb-3">
                                                <input type="password" class="senha form-control form-control-user" id="senha" placeholder="Senha" name="senha" required >
                                                <div class="input-group-append">
                                                    <input class="btn btn-outline-secondary "   id="showPassword"  value="Mostrar" type="button"/>
                                                    
                                                </div>
                                            </div>

                                            



                                            <button type="submit" class="btn btn-primary btn-user btn-block" />
                                            Login
                                            </button>


                                        </form>

                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="/">Voltar Início</a>
                                        </div>
                                        <!--<div class="text-center">
                                        
                                          <a class="small" href="#">Perdeu a senha?</a>
                                        </div>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
        <script src='/js/moment.min.js'></script>
        <script src="/js/jquery.mask.min.js" type="text/javascript"></script>

        <script>

            $(document).ready(function () {

                $("#telefone").mask("(00) 0000-00009")

                $("#telefone").blur(function (event) {
                    if ($(this).val().length == 15) {
                        $("#telefone").mask("(00) 00000-0009")
                    } else {
                        $("#telefone").mask("(00) 0000-00009")
                    }
                })
            })


            $(document).ready(function () {
                $("#cpf").mask("000.000.000-00");
            });


        </script>

        <script src="/js/functions.js" type="text/javascript"></script>


    </body>

</html>
