

<h3 class="mb-3">Pesquisar Aluno</h3>
 

<form action="/buscarAluno" method="POST" >
    <div class="form-group col-md-6"> <input type="text" class="form-control"  name="ra" placeholder="RA" required>  <button type="submit" class="btn btn-primary">Buscar Aluno</button>  </div>
</form>









