{% extends "baseAdmin.twig" %}

{% block title %}


    <title> JIF - Pesquisa de Modalidades</title>

{% endblock %} 
{% block body %}
    {% block content %}
    {%if sessao.get("removeModalidade") != ""%}
                {{ sessao.get("msgModalidade")|raw}}

                {{ sessao.add("msgModalidade", "") }}
                 

            {%endif%}
        

        <div class="col-xl-12 ">
<div id="div_retorno">

        </div>

            <div class="card shadow mb-4 mx-auto col p-5">
                <div id="processando" style="display: none;">
                    <img src="/img/ajaxloader.gif" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 order-md-1">

                            <h6 class="m-0 font-weight-bold text-primary"><b>Pesquisar Modalidades</b></h6>
                            </br></br>

                            <form action="/painel/modalidade/select" method="POST">
                                <div class="row">
                                    <div class="col-md-4 mb-3"> <label for="genero">Gênero</label> <select class="custom-select d-block w-100" name="genero">
                                            <option value="">Selecione...</option>
                                            <option value="1">Masculino</option>
                                            <option value="2">Feminino</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3"> <label for="tipo">Tipo</label> <select class="custom-select d-block w-100" name="tipo">
                                            <option value="">Selecione...</option>
                                            <option value="1">Coletiva</option>
                                            <option value="2">Individual</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        </br>
                                        <button class="btn btn-success" type="submit">Pesquisar</button>      
                                    </div>
                                </div>
                                <label for="genero">* Para pesquisar todos, basta clicar em pesquisar!</label>
                            </form>
                        </div>
                    </div>
                </div>

                {% if dados %}

                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Tabela de Modalidades</h6>
                    </div>
                    <div class="card-body">

                        <table class="table table-bordered m-1" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    
                                    <th>Esporte</th>
                                    <th>Qtd. Pessoas</th>
                                    <th>Tipo</th>
                                    <th>Gênero</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for modalidade in dados %}
                                    <tr>
                                        
                                        <td>{{modalidade.esporte}}</td> 
                                        <td>{{modalidade.qtdAtleta}}</td> 
                                        <td>{% if modalidade.coletivo == 1 %}Coletivo{% else %}Individual{% endif %}</td> 
                                        <td>{% if modalidade.masculino == 1 %}Masculino{% else %}Feminino{% endif %}</td> 
                                        <td><a class="btn-sm btn-warning btn btn-primary btn-lg pull-right" href="/painel/modalidade/atualizar/{{modalidade.idModalidade}}" >Alterar</a>  <button  data-toggle="modal" data-target="#deleteModal{{modalidade.idModalidade}}" class="btn-sm btn-danger btn btn-primary btn-lg pull-right" />Remover </button></td> 

                                
                                </tr>
 <div class="modal fade" id="deleteModal{{modalidade.idModalidade}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Deseja Remover o Esporte <b>{{modalidade.esporte}}</b>?</h5>
                                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">Confirme abaixo se você tem certeza que deseja excluir a Modalidade Selecionada!!</div>
                                            <div class="modal-footer">
                                                <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">Cancelar</button>

                                                 <!--<form id="removeModalidade" enctype="multipart/form-data">-->
                                                    <input type="hidden"  name="idModalidade" value="{{modalidade.idModalidade}}" />
                                                    
                                                   <!-- <button type="submit" class="btn btn-sm btn-danger">Confimar Exclusão</button>-->
                                                   <a href="/painel/modalidade/delete/{{modalidade.idModalidade}}" class="btn btn-sm btn-danger">Confirmar Exclusão</a>
                                                <!--</form>-->
                                                

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>


            {% endif %}
        </div>
    {% endblock %}
{% endblock %}
