{% extends "base.twig" %}
{% block title %}{%for post in postagem%} <title>JIF - {{post.titulo}}</title>{%endfor%}{% endblock %}


{% block content %}


    <div class="col-lg-8 mt-2">

        <!-- Title -->

        <div class="col-xl-12 ">
            <div class="mb-4 mx-auto col">
                <div id="div_retorno">
                </div>

            </div>

        </div>



        <div class="mt-4 col-sm-12">

            <div class="alert alert-warning alert-dismissible fade show" role="alert">

                <strong>Dica:</strong> Clique no botao vermelho para excluir ou no laranja para alterar!! 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        </div>

        {%if ((sessao.get("assistente") != ''))%}
            <div class="mt-4 col-sm-12">

                <div class="alert alert-warning alert-dismissible fade show" role="alert">

                    <strong>Atenção!</strong> Postagens são pendentes de aprovação!! 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
        {%endif%}

        {%for post in postagem%} 
            <li class="thumbnail break-word" style="max-width: 100%;">


                {%if (((sessao.get("logado") != '') ) and (sessao.get('cpfLogado') == (post.Usuario_cpf)) or (sessao.get('administrador')))%}

                    <table>
                        <tr><h1 class="mt-5 ">
                            {%if post.tituloPendente == "" %} {{post.titulo}}{%else%}{{post.tituloPendente}}{%endif%}
                        </h1><td>
                            <a class="btn btn-default btn-circle " data-toggle="modal" data-target="#deleteModal{{post.id}}"  style="font-size:32px;color:red"><i class="fa fa-remove"></i></a>
                        </td>
                        <td>
                            <a href="/postagem/change/{{post.id}}" class="btn btn-default btn-circle " ><i class="fa fa-pencil-square-o" style="font-size:32px;color:orange"></i></a>
                        </td>
                        </tr>
                    </table>


                {% else%}
                    <h1 class="mt-5 ">
                        {{post.titulo}}
                    </h1>
                {%endif%}


                <!-- Author 
                <p class="lead">
                    
                    <a href="#">autor</a>
                </p>-->


                <hr>

                <!-- Date/Time -->

                {%if (post.status == 2 and sessao.get('logado') )%}
                    {%if post.dataModificado != NULL %}
                        {%set data = post.dataModificado%}
                    {%else%}
                        {%set data = post.dataHora%}
                    {%endif%}
                    {% if(data |date('m') == 1) %}
                        {%set mes = 'Janeiro'%}
                    {% elseif(data |date('m') == 2) %}
                        {%set mes = 'Fevereiro'%}
                    {% elseif(data |date('m') == 3) %}
                        {%set mes = 'Março'%}
                    {% elseif(data |date('m') == 4) %}
                        {%set mes = 'Abril'%}
                    {% elseif(data |date('m') == 5) %}
                        {%set mes = 'Maio'%}
                    {% elseif(data |date('m') == 6) %}
                        {%set mes = 'Junho'%}
                    {% elseif(data |date('m') == 7) %}
                        {%set mes = 'Julho'%}
                    {% elseif(data |date('m') == 8) %}
                        {%set mes = 'Agosto'%}
                    {% elseif(data |date('m') == 9) %}
                        {%set mes = 'Setembro'%}
                    {% elseif(data |date('m') == 10) %} 
                        {%set mes = 'Outubro'%}
                    {% elseif(data |date('m') == 11) %}
                        {%set mes = 'Novembro'%}
                    {% elseif(data |date('m') == 12) %}
                        {%set mes = 'Dezembro'%}
                    {%endif%}
                {%else%}
                    {%if post.dataModificadoPendente != NULL %}
                        {%set data = post.dataModificadoPendente%}
                    {%else%}
                        {%set data = post.dataHoraPendete%}
                    {%endif%}
                    {% if(data |date('m') == 1) %}
                        {%set mes = 'Janeiro'%}
                    {% elseif(data |date('m') == 2) %}
                        {%set mes = 'Fevereiro'%}
                    {% elseif(data |date('m') == 3) %}
                        {%set mes = 'Março'%}
                    {% elseif(data |date('m') == 4) %}
                        {%set mes = 'Abril'%}
                    {% elseif(data |date('m') == 5) %}
                        {%set mes = 'Maio'%}
                    {% elseif(data |date('m') == 6) %}
                        {%set mes = 'Junho'%}
                    {% elseif(data |date('m') == 7) %}
                        {%set mes = 'Julho'%}
                    {% elseif(data |date('m') == 8) %}
                        {%set mes = 'Agosto'%}
                    {% elseif(data |date('m') == 9) %}
                        {%set mes = 'Setembro'%}
                    {% elseif(data |date('m') == 10) %} 
                        {%set mes = 'Outubro'%}
                    {% elseif(data |date('m') == 11) %}
                        {%set mes = 'Novembro'%}
                    {% elseif(data |date('m') == 12) %}
                        {%set mes = 'Dezembro'%}
                    {%endif%}
                {%endif%}

                {%if (post.status == 2 and sessao.get('logado')  )%}
                    {%for p in usuarios%}
                        {%if post.dataModificadoPendente != NULL and (p.cpf == post.Usuario_cpf)%}

                            <p>Modificado em {{data |date('d')}} de {{mes}}, {{data |date('Y')}} às {{data |date('H:i')}} Por {{p.nome}}</p>


                        {%elseif (p.cpf == post.Usuario_cpf)%}

                            <p>Postado em {{data |date('d')}} de {{mes}}, {{data |date('Y')}} às {{data |date('H:i')}} Por {{p.nome}}</p>

                        {%endif%}
                    {%endfor%}
                {%else%}
                    {%for p in usuarios%}
                        {%if post.dataModificado != NULL and (p.cpf == post.Usuario_cpf)%}

                            <p>Modificado em {{data |date('d')}} de {{mes}}, {{data |date('Y')}} às {{data |date('H:i')}} Por {{p.nome}}</p>


                        {%elseif (p.cpf == post.Usuario_cpf)%}

                            <p>Postado em {{data |date('d')}} de {{mes}}, {{data |date('Y')}} às {{data |date('H:i')}} Por {{p.nome}}</p>

                        {%endif%}
                    {%endfor%}
                {%endif%}



                <hr>

                <!-- Preview Image -->

                {%if ( sessao.get('logado') )%}
                    {%if post.fotoPendente  !=  '' %}
                        <img class="img-fluid rounded" src="/img/{{post.fotoPendente}}" alt="Iftm Paracatu">

                        <hr>
                    {%elseif(post.foto != '')%}
                        <img class="img-fluid rounded" src="/img/{{post.foto}}" alt="Iftm Paracatu">

                        <hr>
                    {%else%}


                    {%endif%}
                {%else%}
                    {%if post.foto != ""%}
                        <img class="img-fluid rounded" src="/img/{{post.foto}}" alt="Iftm Paracatu">
                        <hr>

                    {%elseif(post.fotoPendente != "")%}
                        <img class="img-fluid rounded" src="/img/{{post.fotoPendente}}" alt="Iftm Paracatu">

                        <hr>

                    {%else%}

                    {%endif%}
                {%endif%}



                <!-- Post Content -->

                {%if post.tituloPendente == "" %}

                    {{post.texto | raw }}

                {%else%}
                    {{post.textoPendente | raw }}
                {%endif%}






            </li>

            <div class="modal fade" id="deleteModal{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-danger" id="exampleModalLabel"><b>Deseja Remover a postagem ?</b></h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Confirme abaixo se você tem certeza que deseja excluir a Postagem Selecionada!!</div>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">Cancelar</button>

                            <!--<form id="removeModalidade" enctype="multipart/form-data">-->


                            <!-- <button type="submit" class="btn btn-sm btn-danger">Confimar Exclusão</button>-->
                            {#href="/jogo/delete/{{t2.idJogo}}#}

                            <a type="submit" href="/postagem/excluir/{{post.id}}" class="btn btn-sm btn-danger" >Confirmar Exclusão</a>


                            <!--</form>-->


                        </div>
                    </div>
                </div>
            </div>
        {%endfor%}


        <div id="disqus_thread" class="mt-4"></div>


    </div>

{%endblock%}
