{% extends "base.twig" %}
{% block title %}<title>JIF - Alterar Postagem</title>{% endblock %}


{% block content %}


    <div class="col-lg-8 mt-2">

        <!-- Title -->

        <div class="col-xl-12 ">
            <div class="mb-4 mx-auto col">
                <div id="div_retorno">
                </div>

            </div>

        </div>

        {{ sessao.get("msgChangePostagem")|raw}}

        {{ sessao.add("msgChangePostagem", "") }}

         {%if ((sessao.get("assistente") != ''))%}
            <div class="mt-4 col-sm-12">

                <div class="alert alert-warning alert-dismissible fade show" role="alert">

                    <strong>Atenção!</strong> Postagens são pendentes de aprovação!! 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
        {%endif%}

        {%if ((sessao.get("logado") != '') )%}

            <div class="card bg-light mb-4 mx-auto col-sm-12 p-5">
                
                    <div class="container">

                        <div class="row">

                            <div id="processando" class="m-0 " style="display:none;">
                                <img src="/img/ajaxloader.gif" />
                            </div>

                            <form id="postatualiza" name="postatualiza" >
                                <h5 class="m-0 font-weight-bold text-success"><b>Alterar Postagem </b></h5><br>

                                <fieldset>
                                    {%for p in postagem|slice(0, 1)%} 
                                        <div class="row">
                                          
                                                <label for="descricao">*Título:</label>
                                                {%if p.titulo == "" %}
                                                    <input class='form-control' value="{{p.tituloPendente}}" type='text' max-lenght="300" required name='titulo'>
                                                
                                                {%else%}
                                                     <input class='form-control' value="{{p.titulo}}" type='text' max-lenght="300" required name='titulo'>
                                                
                                                {%endif%}
                                                
                                                
                                                <input type="hidden" name="id" value="{{p.id}}">
                                           

                                        </div>
                                        <div class="form-group text-success font-weight-bold col-sm-12 m-0">
                                            {%if p.fotoPendente != '' %}
                                            <label >Nome da imagem Atual: {{p.fotoPendente | slice(14, 200)}}</label><br>   
                                            
                                            {%else%}
                                                <label>Nome da imagem Atual: {{p.foto | slice(14, 200)}}</label><br>
                                              
                                            {%endif%}
                                        </div>
                                        <div class="row">

                                            
                                                <label >*Foto: </label><br>

                                                <input type="file" class="imagem jfilestyle" name="imagem" id="imagem" data-theme="green" data-text="Selecione uma imagem...">

                                           


                                        </div>
                                        <div class="row">
                                            
                                                <label for="texto">*Texto da postagem:</label>
                                                
                                                
                                                
                                                {%if p.titulo == "" %}
                                                    <textarea class="editTextPost" id="editTextPost" name="editTextPost" >{{p.textoPendente }}</textarea>
                                                {%else%}
                                                     <textarea class="editTextPost" id="editTextPost" name="editTextPost" >{{p.texto }}</textarea>
                                                {%endif%}
                                                
                                        </div>

                                        <!-- <div class="row">
                                             <div class="form-group col-sm-6">
     
                                               
     
                                                 <label for="topo"> Fixar no topo da página inicial ?</label>
                                                 <select name="topo" id="topo"  class="topo form-control" required>
                                                     <option value="0">Não</option>
                                                     <option value="1" >Sim</option>
                                                 </select>
     
                                               
     
                                             </div>
     
                                         </div>-->
                                    {%endfor%}
                                </fieldset>

                                <div class="row">
                                    <div class="form-actions">

                                        <button type="submit" id="botaoChangePost" class="btn btn-success m-1 btn-lg pull-right" />
                                        Alterar
                                        </button>
                                        <a type="button" href="/postagem/{{p.id}}" class="btn btn-secondary m-1 btn btn-primary btn-lg pull-right" />
                                        Voltar para a postagem
                                        </a>

                                    </div>
                                </div>

                            </form>  

                      
                    </div>
                </div>
            </div>
        {%endif%}


    </div>

{%endblock%}
