{% extends "base.twig" %}
{% block title %}<title>JIF - Nova postagem</title>{% endblock %}


{% block content %}


    <div class="col-lg-8 mt-2">

        <!-- Title -->

        <div class="col-xl-12 ">
            <div class="mb-4 mx-auto col">
                <div id="div_retorno">
                </div>

            </div>

        </div>

        {{ sessao.get("msgChangePostagem")|raw}}

        {{ sessao.add("msgChangePostagem", "") }}

        {%if ((sessao.get("assistente") != ''))%}
            <div class="mt-4 col-sm-12">

                <div class="alert alert-warning alert-dismissible fade show" role="alert">

                    <strong>Atenção!</strong> Postagens são pendentes de aprovação!! 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
        {%endif%}
        {%if ((sessao.get("logado") != '') )%}

            <div class="col-xl-12 ">
                <div class="card bg-light mb-4 mx-auto col p-5">
                    <div class="container">

                        <div class="row">

                            <form id="gravarPostagem" >
                                <h5 class="m-0 font-weight-bold text-success"><b>Nova Postagem </b></h5><br>
                                <div id="processando" class="m-0 " style="display:none;">
                                    <img src="/img/ajaxloader.gif" />
                                </div>
                                <fieldset>

                                    <div class="row">
                                        <div class="form-group col-md-10">
                                            <label for="descricao">*Título:</label>
                                            <input class='form-control' type='text' required name='titulo'>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="form-group col-sm-12">
                                            <label >Foto: </label><br>

                                            <input type="file" class="imagem jfilestyle "   name="imagem" id="imagem" data-theme="green" data-text="Selecione uma imagem...">

                                        </div>

                                    </div>



                                    <div class="row">
                                        <div class="form-group col-sm-12">
                                            <label for="descricao">*Texto da postagem:</label>
                                            <textarea class="editTextPost" id="editTextPost" name="editTextPost"  name="editTextPost" ></textarea>
                                        </div>
                                    </div>

                                    <!-- <div class="row">
                                         <div class="form-group col-sm-6">
 
                                           
 
                                             <label for="topo"> Fixar no topo da página inicial ?</label>
                                             <select name="topo" id="topo"  class="topo form-control" required>
                                                 <option value="0">Não</option>
                                                 <option value="1" >Sim</option>
                                             </select>
 
                                           
 
                                         </div>
 
                                     </div>-->

                                </fieldset>

                                <div class="row">
                                    <div class="form-actions">

                                        <button type="submit" class="btn btn-success m-1 btn-lg pull-right" />
                                        Postar
                                        </button>

                                    </div>
                                </div>
                            </form>  
                        </div>
                    </div>
                </div>
            </div>
        {%endif%}


    </div>

{%endblock%}
