
<div class="col-xl-12 ">
    <div class="card shadow mb-4 mx-auto col p-5">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Dados do aluno: </h6>
            <div class="dropdown no-arrow">
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                </div>
            </div>
        </div>
        <div class="form-group col-md-4 mt-4">

            <label style="display:block;width:90%;word-break:break-all;" >Foto Atual: {{sessao.get("nomeLastFoto")}}</label>

            <img src="/img/{{sessao.get("raAluno")}}{{sessao.get("nomeLastFoto")}}"  class="border border-success rounded p-1 m-1"  height="150" width="150">



        </div>

        <div class="card-body">

            {% if dados %}

                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Tabela de Alunos</h6>
                </div>
                <div class="card-body">

                    <table class="table table-bordered m-1" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>RA.</th>
                                <th>Nome</th>
                                <th>Data de nascimento</th>
                                <th>Sexo</th>
                                <th>RG</th>
                                <th>Campus</th>
                                <th>Telefone</th>
                                <th>Nome da Foto</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for modalidade in dados %}
                                <tr>
                                    <td>{{modalidade.idModalidade}}</td> 
                                    <td>{{modalidade.esporte}}</td> 
                                    <td>{{modalidade.qtdAtleta}}</td> 
                                    <td>{% if modalidade.coletivo == 1 %}Coletivo{% else %}Individual{% endif %}</td> 
                                    <td>{% if modalidade.masculino == 1 %}Masculino{% else %}Feminino{% endif %}</td> 
                                    <td><a class="btn-sm btn-warning btn btn-primary btn-lg pull-right" href="/painel/modalidade/atualizar/{{modalidade.idModalidade}}" >Alterar</a>  <button  data-toggle="modal" data-target="#deleteModal{{modalidade.idModalidade}}" class="btn-sm btn-danger btn btn-primary btn-lg pull-right" />Remover </button></td> 

                            <div class="modal fade" id="deleteModal{{modalidade.idModalidade}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Deseja Remover o Esporte <b>{{modalidade.esporte}}</b>?</h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">Confirme abaixo se você tem certeza que deseja excluir a Modalidade Número:  <b>{{modalidade.idModalidade}} </b>?</div>
                                        <div class="modal-footer">
                                            <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">Cancelar</button>

                                            <form id="removeModalidade" enctype="multipart/form-data">
                                                <input type="hidden" id="idModalidade" class="idModalidade" name="idModalidade" value="{{modalidade.idModalidade}}">
                                                <input type="hidden" id="nomeModalidade" class="nomeModalidade" name="nomeModalidade" value="{{modalidade.esporte}}">
                                                <button type="submit" class="btn btn-sm btn-danger">Confimar Exclusão</button>
                                            </form>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            </tr>



                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        {% endif %}


    </div>
</div>
</div>







