

{%if (sessao.get("buscaEfetivadaRemove") != "") and (sessao.get("remove") != "")%}

    <div class="alert alert-danger alert-dismissible fade show" role="alert">

        <strong>Cuidado! </strong> Tenha certeza antes de remover um usuário!!!</br>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div id="div_retorno2">

    </div>

    <div class="col-xl-12 ">
        <div class="card shadow mb-4 mx-auto col p-5">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Dados do Usuário: </h6>
                <div class="dropdown no-arrow">
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                    </div>
                </div>
            </div>
            <!-- Card Body -->




            <div class="card-body">

                <div id="processando2" style="display: none;">
                    <img src="/img/ajaxloader.gif" />
                </div>
            </div>

            <div class="card-body">

                <fieldset>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nome">*Nome:</label>                                        
                            <input type="text" class="nome form-control" disabled value="{{sessao.get("nome")}}" id="nome" name="nome"  required autofocus>

                        </div>
                        <div class="form-group col-md-6">
                            <label for="siape">Siape:</label>                                        
                            <input type="text" class="siape form-control"  disabled  value="{{sessao.get("siape")}}" id="siape" name="siape" maxlength="7"  >

                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cpf">*CPF:</label>
                            <input type="text" class="cpf form-control" disabled value="{{sessao.get("cpf")}}" id="cpf" name="cpf"  required >

                        </div>
                        <div class="form-group col-md-4">
                            <label for="email">*E-mail:</label>
                            <input type="email" class="email form-control" disabled  value="{{sessao.get("email")}}" id="email" required name="email" >

                        </div>
                        <div class="form-group col-md-2">
                            <label for="telefone">Telefone:</label>
                            <input type="text" class="telefone form-control" disabled  value="{{sessao.get("telefone")}}" id="telefone"  name="telefone" >
                        </div>
                    </div>        
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="campus">Campus:</label>
                            <select disabled name="campus" id="campus"  class="campus form-control">
                                <option value="">Selecione...</option>
                                <option value="Ituiutaba" {% if(sessao.get("campus") == "Ituiutaba")%}selected{%endif%}>Ituiutaba</option>
                                <option value="Paracatu" {% if(sessao.get("campus") == "Paracatu")%}selected{%endif%}>Paracatu</option>
                                <option value="Campina Verde" {% if(sessao.get("campus") == "Campina Verde")%}selected{%endif%}>Campina Verde</option>
                                <option value="Ibiá" {% if(sessao.get("campus") == "Ibiá")%}selected{%endif%}>Ibiá</option>
                                <option value="João Pinheiro" {% if(sessao.get("campus") == "João Pinheiro")%}selected{%endif%}>João Pinheiro</option>
                                <option value="Patos de Minas" {% if(sessao.get("campus") == "Patos de Minas")%}selected{%endif%}>Patos de Minas</option>
                                <option value="Patrocínio" {% if(sessao.get("campus") == "Patrocínio")%}selected{%endif%}>Patrocínio</option>
                                <option value="Uberaba" {% if(sessao.get("campus") == "Uberaba")%}selected{%endif%}>Uberaba</option>
                                <option value="Uberaba Parque Tecnológico" {% if(sessao.get("campus") == "Uberaba Parque Tecnológico")%}{{selected}}{%endif%}>Uberaba Parque Tecnológico</option>
                                <option value="Uberlândia Fazenda" {% if(sessao.get("campus") == "Uberlândia Fazenda")%}selected{%endif%}>Uberlândia Fazenda</option>
                                <option value="Uberlândia Centro" {% if(sessao.get("campus") == "Uberlândia Centro")%}selected{%endif%}>Uberlândia Centro</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="permissao" >*Permissão:</label>
                            <select  name="permissao" disabled id="permissao"  class="permissao form-control">
                                <option value="">Selecione...</option>
                                <option value="tecnico" {% if(sessao.get("permissao") == "tecnico")%}selected{%endif%}>Técnico</option>
                                <option value="assistente" {% if(sessao.get("permissao") == "assistente")%}selected{%endif%}>Assistente do técnico</option>
                            </select>
                        </div>
                    </div>


                </fieldset>

                <div class="form-actions">
                    <button  data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn btn-primary btn-lg pull-right" />
                    Excluir 
                    </button>

                </div>

                <form id="removeTecnicoAdmin" enctype="multipart/form-data">
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Deseja Remover o <b>{{sessao.get("cpf")}}</b>?</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">Confirme abaixo se você tem certeza que deseja excluir o <b>{{sessao.get("nome")}} </b>?</div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>


                                    <input type="hidden" class="cpf form-control" value="{{sessao.get("cpf")}}" id="cpf" name="cpf">
                                    <button type="submit" class="btn btn-danger">Confimar Exclusão</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>


{%else%}


{%endif%}


