{% extends "base.twig" %}
{% block title %}<title>JIF - Desenvolvedores</title>{% endblock %}


{% block content %}
    <div class="col-lg-8 mt-2">

        <h1 class="mt-4">Sobre os Desenvolvedores</h1>


        <!-- Author 
        <p class="lead">
            
            <a href="#">autor</a>
        </p>-->

        <hr>

        <!-- Date/Time -->
        <p>Paracatu  - 5 de Junho 2019</p>

        <hr>

        <div class="row">
            <!-- Team Member 1 -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <a href="https://www.facebook.com/profile.php?id=100001388806168&ref=br_rs" target="_blank"><img src="https://lh3.googleusercontent.com/FCXSRT000WDrNBb4GFeZKuHDl7lsWhOMCt1nh_NmtFQtMBvdQoXF4NwmWDZK22EC0YCcQyhavg=s328-no" class="card-img-top"   alt="..."></a>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Daniel Faria Cardoso</h5>
                        <div class="card-text text-black-50">Desenvolvedor Web - FromEnd , Backend e Banco de Dados<br>contato: <a href="mailto:danielfariaptu@gmail.com"> danielfariaptu@gmail.com</a></div>
                        
                    </div>
                </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <a href="https://www.facebook.com/profile.php?id=100027860774604&ref=br_rs" target="_blank"><img src="/img/junior.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Junior Carvalho</h5>
                        <div class="card-text text-black-50">Desenvolvedor Web - Backend</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <a href="https://www.facebook.com/profile.php?id=100003240505467&ref=br_rs"  target="_blank"><img src="https://scontent.fpoj2-1.fna.fbcdn.net/v/t1.0-9/57104075_2332375393547121_2843242300975349760_n.jpg?_nc_cat=103&_nc_oc=AQmkZ3YpERmuULdE-7efCQvPHj7rLOac60S6JrBJ-Va3pdZIe1NDx8Rc65HqnU5HW1k&_nc_ht=scontent.fpoj2-1.fna&oh=d02a30cc7c09583c4be73c42fea8f35f&oe=5D543F98" class="card-img-top" alt="..."></a>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Matheus Nascimento</h5>
                        <div class="card-text text-black-50">Desenvolvedor Web - Backend e Banco de Dados <a href="mailto:matheusr.nasciment@gmail.com"> matheusr.nasciment@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <!-- Team Member 4 -->
           
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="/img/12345678913storm1%20(1).jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">João Paulo Farias</h5>
                        <div class="card-text text-black-50">Desenvolvedor Web - Backend e Banco de Dados</div>
                    </div>
                </div>
            </div>
             
         <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <a href="https://www.facebook.com/profile.php?id=100003361436626&ref=br_rs"  target="_blank"> <img src="https://scontent.fpoj2-1.fna.fbcdn.net/v/t1.0-9/61189818_2035091469946214_4059022232507121664_n.jpg?_nc_cat=100&_nc_oc=AQnDGCK0HvsyZsBlUedEMYnGrlsJ7L64ZucDWbGFCKNNTjIMN9C_CZbw9RnM1XdVlhU&_nc_ht=scontent.fpoj2-1.fna&oh=2999e04f29077e08a2fa69528066f69e&oe=5D55F531" class="card-img-top" alt="..."></a>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Luiza Melo</h5>
                        <div class="card-text text-black-50">Gerente do projeto <a href="mailto:luizamelog@gmail.com"> luizamelog@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <a href="mailto:vinicius.lribeiro@hotmail.com"><img src="/img/12345678913storm1%20(1).jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Vinícius</h5>
                        <div class="card-text text-black-50">Documentação e gestor de informações <a href="mailto:vinicius.lribeiro@hotmail.com"> vinicius.lribeiro@hotmail.com</a></div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <a href="https://www.facebook.com/rodrigo.gomes.779642"><img src="/img/Rodrigo%20(1).jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Rodrigo Gomes da Silva</h5>
                        <div class="card-text text-black-50">Documentação e gestor de informações</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="/img/12345678913storm1%20(1).jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Larissa</h5>
                        <div class="card-text text-black-50">Documentação e gestora de informações</div>
                    </div>
                </div>
            </div>
          

            </div>
        <div id="disqus_thread"></div>
</div>





{%endblock%}
