{% extends "base.twig" %}
{% block title %}<title>JIF - Sobre IFTM Paracatu</title>{% endblock %}


{% block content %}
    <div class="col-lg-8 mt-2">


        <!-- Title -->
        <div class="mt-4">
            {%if sessao.get("logado") == ""%}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">

                    <strong>Atenção para Técnicos e Administradores !</strong> Faça login na parte superior!! 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif%}
        </div>

        <h1 class="mt-4">Sobre o Campus Paracatu</h1>



        <!-- Author 
        <p class="lead">
            
            <a href="#">autor</a>
        </p>-->

        <hr>

        <!-- Date/Time -->
        <p>Postado em 23 de Maio, 2019 às 12:50 PM</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://www.iftm.edu.br/visao/loader_noticia_imagem.php?src=IMAGEM_NOTICIA_699.jpg" alt="Iftm Paracatu">

        <hr>


        <!-- Post Content -->

        <h4>O Instituto Federal do Triângulo Mineiro</h4>                      <p class="lead">


        <p>Por meio de um projeto inovador de descentralizar a educação e oferecer ensino profissionalizante de qualidade às regiões interioranas, inicia-se em 2008 as atividades do Instituto Federal de Educação, Ciência e Tecnologia do Triângulo Mineiro - <i>Campus</i> Paracatu.</p>
        <p>Em seus primórdios, o <i>Campus</i> Paracatu era uma extensão do Centro Federal de Educação Tecnológica de Uberaba, ou seja, uma Unidade de Ensino Descentralizada (UNED) do CEFET Uberaba. A partir da proposta do Governo Federal em reorganizar as instituições federais de educação profissional e tecnológica - CEFETs e Escolas Agrotécnicas Federais - a UNED de Paracatu se transformou no <i>Campus</i> Paracatu do Instituto Federal do Triângulo Mineiro. Assim, em 29 de dezembro de 2008, data em que foi sancionada a Lei nº. 11.892, que cria os Institutos Federais de Educação, Ciência e Tecnologia em todo o Brasil, o <i>Campus</i>Paracatu juntamente com o <i>Campus</i>Ituiutaba, o CEFET Uberaba e a Escola Agrotécnica Federal de Uberlândia formaram o Instituto Federal de Educação, Ciência e Tecnologia do Triângulo Mineiro, tendo como área de atuação as mesorregiões do Triângulo Mineiro, Alto Paranaíba e parte do Noroeste de Minas.</p>
        <p>O <i>Campus</i> Paracatu foi oficialmente inaugurado em Brasília, pelo então Presidente da República, Luís Inácio Lulada Silva, no dia 1º de fevereiro de 2010 e sua estrutura física própria foi inaugurada oficialmente em 26 de fevereiro de 2010. Esta Instituição busca responder a uma nova missão consolidando seu papel deatuação na sociedade na qual está inserida, vinculado à oferta do ato educativo que elege como princípio a primazia do bemsocial. O <i>Campus</i> Paracatu atende a parte da mesorregião do Noroeste de Minas, onde estão localizadas as microrregiões de Paracatu e Unaí, compondo quinze municípios.</p>
        <p>O <i>Campus</i> Paracatu iniciou as suas atividades no ano de 2008 oferecendoos cursos técnicos de nível médio em Informática e Eletrônica, na forma de concomitância interna quando ainda era Unidade Educacional Descentralizada do CEFET Uberaba - UNED. No ano de 2010, já elevado à condição de <i>Campus</i> Paracatu,passou a oferecer esses cursos, também integrados ao Ensino Médio. No segundo semestre do mesmo ano iniciou o cursotécnico em Comércio na forma concomitante e, no primeiro semestre de 2011, o Curso Superior de Tecnologia em Análise eDesenvolvimento de Sistemas. No primeiro semestre do ano de 2016 iniciou-se o Curso de Bacharelado em EngenhariaElétrica e em julho de 2017 o curso de Licenciatura em Matemática, dando mais um decisivo passo no sentido de atender a importante função social a que se propõe por meio do aumentona oferta de curso de graduação em instituições públicas na Região do Noroeste de Minas.</p>
        <p>Além dos cursos profissionalizantes, o <i>Campus</i> Paracatu conta também com a oferta de cursos de inglês e espanhol para toda a comunidade e no ano de 2018 iniciou a oferta do curso básico de Libras, dentro da estrutura do Centro de Idiomas (CENID).</p>
        <p>O <i>Campus</i> Paracatu também conta com um polo na cidade vizinha de João Pinheiro, em parceria com a prefeitura local, onde são ofertados o curso Técnico em Manutenção e Suporte em Informática e os cursos de inglês e espanhol.</p>
        <p>Atualmente, o IFTM – <i>Campus</i> Paracatu possui mais de 1400 alunos matriculados nos quatrocursos Técnicos ofertados - Eletrônica, Informática, Administração e Manutenção e Suporte em Informática,nos três Cursos Superiores - Análise e Desenvolvimento de Sistema, Engenharia Elétrica e Matemática e nos cursos do CENID.</p>
        <p>O Ministério da Educação (MEC) avaliou em 2014 o IFTM como o 2º melhor Instituto Federal do País, assim, considerando que o IFTM é uma das melhores instituições de ensino do país, alcançando resultados positivos em diversas avaliações além de frutos de destaque em Olimpíadas, Congressos, Simpósios e Universidades Internacionais.</p>
        <p>Além do impacto positivo apresentado pela educação, como fonte de prevenção à criminalidade, esta também contribui para o crescimento regional por meio das ações de ensino, pesquisa e extensão, permitindo o avanço tecnológico e o desenvolvimento econômico e social.</p>


        <h4>Localização:  </h4>

        <div style="overflow:hidden;width: 250px;position: relative;"><iframe width="250" height="250" src="https://maps.google.com/maps?width=250&amp;height=250&amp;hl=en&amp;q=Rodovia%20MG%20188%2C%20s%2Fn%2C%20Paracatu%20-%20MG%2C%2038600-000+(IFTM%20-%20Paracatu)&amp;ie=UTF8&amp;t=&amp;z=12&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="https://embedgooglemaps.com/en/">embedgooglemaps EN</a> & <a href="https://newyorkhoponhopoffbus.nl">new york hop on hop off bustochten | nyc hop on hop off bus ...</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />


        <div id="disqus_thread"></div>



    </div>

{%endblock%}
