{% extends "base.twig" %}

{% block title %}<title>JIF - Pontos de Interesse</title>{% endblock %}


{% block content %}
   <div class="col-lg-8 mt-2">
        <h1 class="mt-4">Pontos de Interesse</h1>


        <!-- Author 
        <p class="lead">
            
            <a href="#">autor</a>
        </p>-->

        <hr>

        <!-- Date/Time -->
        <p>Paracatu  - 5 de Junho 2019</p>

        <hr>

        <div class="row">
            <!-- Team Member 1 -->
            
             <div class="col-xl-3 col-md-6 mb-4 ">
                <div class="card border-0 shadow">
                    <a href="https://play.google.com/store/apps/details?id=com.quefome"><center><img src="https://lh3.googleusercontent.com/y5oB2fY6eBqlpw2q4d2u60K64qvmr-F1c8LrMOBhGlT9dNe_9e1t0eVqb12sK0cxQdo=s180-rw" width="128;"></center></a>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Aplicativo Que Fome</h5>

                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3811.032859759266!2d-46.877511349370586!3d-17.217195164081037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a84a771031e163%3A0xd93d938d801e94e3!2sHospital+Municipal+de+Paracatu!5e0!3m2!1spt-BR!2sbr!4v1560048076619!5m2!1spt-BR!2sbr" width="200" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></center>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Hospital Municipal</h5>
                        <div class="card-text text-black-50"><br>(38) 3671-1282</a></div>

                    </div>
                </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                   <center> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3810.4023151417296!2d-46.8810346861519!3d-17.247760397678025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a84a49108cce17%3A0xd3499fb22a8f9605!2sIFTM+-+Paracatu!5e0!3m2!1spt-BR!2sbr!4v1560048468116!5m2!1spt-BR!2sbr" width="200" height="250" frameborder="0" style="border:0" allowfullscreen></iframe> </center> <div class="card-body text-center">
                        <h5 class="card-title mb-0">IFTM - Paracatu</h5>
                        <div class="card-text text-black-50"><br>(38) 3365-0300</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3811.117104634709!2d-46.87839114927838!3d-17.21310746397048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a83589adf0c945%3A0x94d9afe1a324e02d!2sPelot%C3%A3o+do+Corpo+de+Bombeiros+do+Estado+de+Minas+Gerais+em+Paracatu!5e0!3m2!1spt-BR!2sbr!4v1560436261398!5m2!1spt-BR!2sbr" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe></center>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Corpo de Bombeiros Paracatu</h5>
                        <div class="card-text text-black-50"><br>(38) 3672-2039</div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7621.9420823700175!2d-46.88569595353539!3d-17.22019410455515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a84a71fa87c22f%3A0xcadb24a42e4530d0!2sDelegacia+Policia+Civil+MG!5e0!3m2!1spt-BR!2sbr!4v1560048674770!5m2!1spt-BR!2sbr" width="200" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></center>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Polícia Civil </h5>
                        <div class="card-text text-black-50"><br>(38) 3672-2371</div>
                    </div>
                </div>
            </div>

           
            <!-- Team Member 4 -->

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                   <center> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3811.027420282922!2d-46.88266004937062!3d-17.217459064088203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a84a7954fa93f7%3A0x36bffcc7be954b2c!2sPonto+de+T%C3%A1xi+-+Rodovi%C3%A1ria!5e0!3m2!1spt-BR!2sbr!4v1560048823289!5m2!1spt-BR!2sbr" width="200" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></center>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Ponto táxi</h5><br>
                        <div class="card-text text-black-50">(38) 3671-1510</div>
                    </div>
                </div>
            </div>



            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                   <center> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3810.6963134555335!2d-46.85131034937032!3d-17.23351556452369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a84a628a183bab%3A0x252a08ec5fdca678!2sRestaurante+Pousada+Rodoviaria+Paracatu!5e0!3m2!1spt-BR!2sbr!4v1560049112355!5m2!1spt-BR!2sbr" width="200" height="250" frameborder="0" style="border:0" allowfullscreen></iframe> </center> <div class="card-body text-center">
                        <h5 class="card-title mb-0">Restaurante Pousada Rodoviaria Paracatu</h5>

                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3811.031136614463!2d-46.87242534937057!3d-17.217278764083314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a84a795d964e0b%3A0x1e650d72f60d74f3!2sRestaurante+Fornalha+Grill!5e0!3m2!1spt-BR!2sbr!4v1560049170509!5m2!1spt-BR!2sbr" width="200" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></center>   <div class="card-body text-center">
                        <h5 class="card-title mb-0">Restaurante Fornalha Grill</h5>
                        <div class="card-text text-black-50">(38) 3671-6765</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3810.9967297331254!2d-46.87887384937049!3d-17.218947964128457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a84a76d9de256f%3A0x2833cbe4501b0e6c!2sBella+massa!5e0!3m2!1spt-BR!2sbr!4v1560049256907!5m2!1spt-BR!2sbr" width="200" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></center>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Pizzaria Bella Massa</h5>
                        <div class="card-text text-black-50"><br>(38) 3671-2239</div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3810.894135074355!2d-46.88887324937053!3d-17.22392426426358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a84a0d09ee5fbb%3A0x45aab6c6185c46f!2sE+E+Neusa+Pimentel+Barbosa!5e0!3m2!1spt-BR!2sbr!4v1560049353651!5m2!1spt-BR!2sbr" width="200" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></center> <div class="card-body text-center">
                        <h5 class="card-title mb-0">E E Neusa Pimentel Barbosa</h5>
                        <div class="card-text text-black-50"><br>(38) 3672-6368</div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d238.18688650403425!2d-46.8710939!3d-17.2192655!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a84a7b21c73d65%3A0x82f9a8c207fcb8e3!2sEe+Ant%C3%B4nio+Carlos!5e0!3m2!1spt-BR!2sbr!4v1560050881943!5m2!1spt-BR!2sbr" width="200" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></center> <div class="card-body text-center">
                        <h5 class="card-title mb-0">E E Antônio Carlos</h5>
                        <div class="card-text text-black-50"><br>(38) 3671-6025</div>
                    </div>
                </div>
            </div>
            
             <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3811.061061704601!2d-46.878951049370585!3d-17.215826864043958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a84a77a28cf99b%3A0xac6a39369236f609!2sEscola+Estadual+Doutor+Virg%C3%ADlio+de+Melo+Franco+-+Polivalente!5e0!3m2!1spt-BR!2sbr!4v1560050979276!5m2!1spt-BR!2sbr" width="200" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></center>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">E E Doutor Virgílio de Melo Franco - Polivalente</h5>
                        <div class="card-text text-black-50"><br>(38) 3671-4044</div>
                    </div>
                </div>
            </div>
            
               <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3811.0456099541966!2d-46.88053624937077!3d-17.21657656406427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a8340000000001%3A0xedeb1f5f56c05c1a!2sJoquei+Club+Paracatuense!5e0!3m2!1spt-BR!2sbr!4v1560051030125!5m2!1spt-BR!2sbr" width="200" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></center>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Joquei Club Paracatuense</h5>
                        <div class="card-text text-black-50"><br>(38) 3671-1465</div>
                    </div>
                </div>
            </div>
            
            
             <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1905.370001915019!2d-46.8733986!3d-17.2313977!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a84a67bfad05b7%3A0x952081d0ccfd21ef!2sSantana+Esporte+Clube!5e0!3m2!1spt-BR!2sbr!4v1560435879227!5m2!1spt-BR!2sbr" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe></center>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Santana Esporte Clube</h5>
                        <div class="card-text text-black-50"><br>(38) 3672-2029</div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3810.8352203019085!2d-46.88532894927817!3d-17.226781264341213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a84bbc719e06e3%3A0x74127c5d7a27c94e!2sSesc+Paracatu!5e0!3m2!1spt-BR!2sbr!4v1560436366172!5m2!1spt-BR!2sbr" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe></center>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Sesc Paracatu</h5>
                        <div class="card-text text-black-50"><br>(38) 3311-3800</div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2265.931787182602!2d-46.87057921880504!3d-17.227139416662453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTfCsDEzJzM4LjAiUyA0NsKwNTInMDkuMiJX!5e0!3m2!1spt-BR!2sbr!4v1560436555176!5m2!1spt-BR!2sbr" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe></center>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Kaikan </h5>
                        <div class="card-text text-black-50"><br></div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3810.996280352739!2d-46.878605849278216!3d-17.218969764129348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a84a76d9ccfcfb%3A0x1e0033572de05979!2sTAIJI+SUSHI+Lounge+-+Paracatu!5e0!3m2!1spt-BR!2sbr!4v1560435928456!5m2!1spt-BR!2sbr" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe></center>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Taiji Sushi</h5>
                        <div class="card-text text-black-50"><br>(38) 3672-3354</div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3811.163034722301!2d-46.87792799937082!3d-17.210878463909864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a83588ddd7bebd%3A0x31b9d8666a4196b0!2sRestaurante+Portal+de+Minas!5e0!3m2!1spt-BR!2sbr!4v1560059759989!5m2!1spt-BR!2sbr" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Restaurante Portal de Minas</h5>
                        <div class="card-text text-black-50"><br>(38) 3671-5090</div>
                    </div>
                </div>
            </div>
            
            
           
            
            




    </div>
        <div id="disqus_thread"></div>
    </div>






{%endblock%}
