<link rel="stylesheet" type="text/css" href="https://jiftm.com/css/bootstrap.css">

<style>
h5 { font-size:25pt;} 
h6 { font-size:18pt;} 
</style>
<div style ="font-family: Arial, Helvetica, sans-serif;" class="col-xl-6 d-flex justify-content-center ">
    <div class="bg-light mb-4  display-4 m-2 p-4 " style="max-width: 500px; ">
                       
                            <h5 class="m-4 font-weight-bold text-dark" style="max-width: 100%; "><b><img src="https://www.jiftm.com/icon/favicon.ico.ico" class="img-responsive center-block mt-2 mb-2" margin="0 auto" ><a class="text-primary"> JIFTM 2019</a></b></h5>

                                
                                <center><img src="http://guiadolitoral.uol.com.br/imgnoticia/conheca-a-historia-por-tras-da-iconica-foto-de-einstein-mostrando-a-lingua-4030-f1.jpg" class="img-responsive center-block mt-2 mb-2" margin="0 auto" width="200"><br></center>
                                
                                <hr>
                                <h6 class="m-0 font-weight-bold text-success" ><b>Nome   : <h6 class="m-0  text-dark">{{sessao.get("crachaNome")}}<h6></b></h6>
                                <hr>
                                <h6 class="m-0 font-weight-bold text-success"><b>Time(s)   : </b></h6>
                                 <h6 class="m-1">{{sessao.get("crachaTimes")}}</h6>
                                <hr>
                                <h6 class="m-0 font-weight-bold text-success"><b>Campus  : </b></h6>
                                <h6 class="m-1">{{sessao.get("crachaCampus")}}</h6>
                                

                        
    </div>
					
	<div class=" bg-light mb-4 m-2 p-4" style="max-width: 500px;">
                        
                            
                           
                            <h5 class="m-4 font-weight-bold text-dark"><b><img src="https://www.jiftm.com/icon/favicon.ico.ico" class="img-responsive center-block mt-2 mb-2" margin="0 auto" ><a class="text-primary"> JIFTM 2019</a></b></h5>

                                
                                <center><img src="http://guiadolitoral.uol.com.br/imgnoticia/conheca-a-historia-por-tras-da-iconica-foto-de-einstein-mostrando-a-lingua-4030-f1.jpg" class="img-responsive center-block mt-2 mb-2" margin="0 auto" width="200"><br></center>
                                
                                <hr>
                                 <h6 class="m-0 font-weight-bold text-success" ><b>Nome   : <h6 class="m-0  text-dark">{{sessao.get("crachaNome")}}<h6></b></h6>
                                <hr>
                                <h6 class="m-0 font-weight-bold text-success"><b>Time(s)   : </b></h6>
                                 <h6 class="m-1">{{sessao.get("crachaTimes")}}</h6>
                                <hr>
                                <h6 class="m-0 font-weight-bold text-success"><b>Campus  : </b></h6>
                                <h6 class="m-1">{{sessao.get("crachaCampus")}}</h6>
                                

    </div>
</div>


<div style ="font-family: Arial, Helvetica, sans-serif;  " class="col-xl-6 d-flex justify-content-center ">
    <div class=" bg-light mb-4  m-2 p-4 " style="max-width: 500px;" >
                       
                            
                           
                            <h5 class="m-4 font-weight-bold text-dark"><b><img src="https://www.jiftm.com/icon/favicon.ico.ico" class="img-responsive center-block mt-2 mb-2" margin="0 auto" ><a class="text-primary"> JIFTM 2019</a></b></h5>

                                
                                <center><img src="http://guiadolitoral.uol.com.br/imgnoticia/conheca-a-historia-por-tras-da-iconica-foto-de-einstein-mostrando-a-lingua-4030-f1.jpg" class="img-responsive center-block mt-2 mb-2" margin="0 auto" width="200"><br></center>
                                
                                <hr>
                                <h6 class="m-0 font-weight-bold text-success" ><b>Nome   : <h6 class="m-0  text-dark">{{sessao.get("crachaNome")}}<h6></b></h6>
                                <hr>
                                <h6 class="m-0 font-weight-bold text-success"><b>Time(s)   : </b></h6>
                                 <h6 class="m-1">{{sessao.get("crachaTimes")}}{{sessao.get("crachaTimes")}}{{sessao.get("crachaTimes")}}{{sessao.get("crachaTimes")}}{{sessao.get("crachaTimes")}}{{sessao.get("crachaTimes")}}{{sessao.get("crachaTimes")}}</h6>
                                <hr>
                                <h6 class="m-0 font-weight-bold text-success"><b>Campus  : </b></h6>
                                <h6 class="m-1">{{sessao.get("crachaCampus")}}</h6>
                                

                        
    </div>
					
	<div class=" bg-light mb-4 m-2 p-4 " style="max-width: 500px;">
                        
                            
                           
                            <h5 class="m-4 font-weight-bold text-dark"><b><img src="https://www.jiftm.com/icon/favicon.ico.ico" class="img-responsive center-block mt-2 mb-2" margin="0 auto" ><a class="text-primary"> JIFTM 2019</a></b></h5>

                                
                                <center><img src="http://guiadolitoral.uol.com.br/imgnoticia/conheca-a-historia-por-tras-da-iconica-foto-de-einstein-mostrando-a-lingua-4030-f1.jpg" class="img-responsive center-block mt-2 mb-2" margin="0 auto" width="200"><br></center>
                                
                                <hr>
                                 <h6 class="m-0 font-weight-bold text-success" ><b>Nome   : <h6 class="m-0  text-dark">{{sessao.get("crachaNome")}}<h6></b></h6>
                                <hr>
                                <h6 class="m-0 font-weight-bold text-success"><b>Time(s)   : </b></h6>
                                 <h6 class="m-1">futebol paracatu</h6>
                                <hr>
                                <h6 class="m-0 font-weight-bold text-success"><b>Campus  : </b></h6>
                                <h6 class="m-1">{{sessao.get("crachaCampus")}}</h6>
                                

    </div>

				
    
				

				