

{%if (sessao.get("buscaEfetivadaViewAluno") != "") and (sessao.get("viewAluno") != "")%}


    <div class="col-xl-12 ">
        <div class="card shadow mb-4 mx-auto col p-5">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Dados do aluno: </h6>
                <div class="dropdown no-arrow">
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                    </div>
                </div>
            </div>
            <div class="form-group col-md-4 mt-4">

                <label style="display:block;width:90%;word-break:break-all;" >Foto Atual: {{sessao.get("nomeLastFoto")}}</label>

                <img src="/img/{{sessao.get("raAluno")}}{{sessao.get("nomeLastFoto")}}"  class="border border-success rounded p-1 m-1"  height="150" width="150">



            </div>

            <div class="card-body">

                <fieldset>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nome">*Nome:</label>                                        
                            <input type="text" disabled class="nome form-control" id="nome" value="{{sessao.get("nomeAluno")}}"  name="nome"  required autofocus>

                        </div>
                        <div class="form-group col-md-6">
                            <label for="siape">*Registro Acadêmico (RA):</label>                                        
                            <input type="text" disabled class="form-control"  value="{{sessao.get("raAluno")}}" id="ra" name="ra" placeholder="RA" required> 

                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cpf">*Data de Nascimento:</label>
                            <input  type="text" class="form-control" disabled value="{{sessao.get("data_nascimentoAluno")}}" id="datanascimento" name="datanascimento" placeholder="DD/MM/AAAA" required> 

                        </div>
                        <div class="form-group col-md-4">
                            <label for="sexo">*Sexo:</label>
                            <select  name="sexo" disabled id="sexo"  class="sexo form-control" required>
                                <option value="">Selecione...</option>
                                <option value="m" {% if(sessao.get("sexoAluno") == "m")%}selected{%endif%}>Masculino</option>
                                <option value="f" {% if(sessao.get("sexoAluno") == "f")%}selected{%endif%}>Feminino</option>
                            </select>

                        </div>
                        <div class="form-group col-md-2">
                            <label for="telefone" >Telefone:</label>
                            <input  disabled type="text" value="{{sessao.get("telefoneAluno")}}" class="telefone form-control" id="telefone"  name="telefone" required>
                        </div>
                    </div>        
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="campus">Campus:</label>

                            <select  disabled name="campus" id="campus"  class="campus form-control">
                                <option value="">Selecione...</option>
                                <option value="Ituiutaba" {% if(sessao.get("campusAluno") == "Ituiutaba")%}selected{%endif%}>Ituiutaba</option>
                                <option value="Paracatu" {% if(sessao.get("campusAluno") == "Paracatu")%}selected{%endif%}>Paracatu</option>
                                <option value="Campina Verde" {% if(sessao.get("campusAluno") == "Campina Verde")%}selected{%endif%}>Campina Verde</option>
                                <option value="Ibiá" {% if(sessao.get("campusAluno") == "Ibiá")%}selected{%endif%}>Ibiá</option>
                                <option value="João Pinheiro" {% if(sessao.get("campusAluno") == "João Pinheiro")%}selected{%endif%}>João Pinheiro</option>
                                <option value="Patos de Minas" {% if(sessao.get("campusAluno") == "Patos de Minas")%}selected{%endif%}>Patos de Minas</option>
                                <option value="Patrocínio" {% if(sessao.get("campusAluno") == "Patrocínio")%}selected{%endif%}>Patrocínio</option>
                                <option value="Uberaba" {% if(sessao.get("campusAluno") == "Uberaba")%}selected{%endif%}>Uberaba</option>
                                <option value="Uberaba Parque Tecnológico" {% if(sessao.get("campusAluno") == "Uberaba Parque Tecnológico")%}{{selected}}{%endif%}>Uberaba Parque Tecnológico</option>
                                <option value="Uberlândia Fazenda" {% if(sessao.get("campusAluno")== "Uberlândia Fazenda")%}selected{%endif%}>Uberlândia Fazenda</option>
                                <option value="Uberlândia Centro" {% if(sessao.get("campusAluno") == "Uberlândia Centro")%}selected{%endif%}>Uberlândia Centro</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefone">RG: </label>
                            <input disabled type="text" class="rg form-control"  value="{{sessao.get("rgAluno")}}"  id="rg"  name="rg" required>

                        </div>


                    </div>


                </fieldset>


            </div>
        </div>
    </div>
{% endif%}






