
{% extends "base.twig" %}
{% block title %}<title>JIF - Galerias de Fotos</title>{% endblock %}


{% block content %}
    <div class="col-lg-8 mt-2">

        <!-- Title -->
        <div class="mt-4">
            {%if sessao.get("logado") == ""%}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">

                    <strong>Atenção para Técnicos e Administradores !</strong> Faça login na parte superior!! 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif%}
        </div>


        <div class="col-xl-12 ">
            <div class="mb-4 mx-auto col">
                <div id="div_retorno">
                </div>

            </div>

        </div>


        <div class="col-xl-12 ">
            <div class="card bg-light mb-4 mx-auto col p-5">
                <div class="container">
                    <div class="row">
                        <div id="processando">
                        </div>

                        <form id="buscarCracha" enctype="multipart/form-data">
                            <h5 class="m-0 font-weight-bold text-success"><b>Buscar um crachá: </b></h5></br></br>
                            <fieldset>
                                <div class="form-row">
                                    <div class="form-group col-md-10">
                                        <label for="descricao">RA:</label>
                                        <input pattern=".{11,11}"type="text" class="form-control"  id="ra" name="ra" maxlength="11" minlength="11" placeholder="Digite o RA (CPF)" required> 

                                    </div>
                                </div>

                            </fieldset>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-success btn btn-primary btn-lg pull-right" />
                                Buscar
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <hr><!-- Lista de fotos -->

        {%if sessao.get("crachaNome") != ""%}



            <center><div class="col-xl-6 d-flex justify-content-center ">
                    <div class="card bg-light mb-4 mx-auto col p-4">
                        <div class="container">
                            
                           
                            <h5 class="m-4 font-weight-bold text-dark"><b><img src=" /icon/favicon.ico.ico" class="img-responsive center-block mt-2 mb-2" margin="0 auto" ><a class="text-primary"> JIFTM 2019</a></b></h5>

                                
                                <center><img src="/img/{{sessao.get("crachaFoto")}}" class="img-responsive center-block mt-2 mb-2" margin="0 auto" width="200"><br></center>
                                
                                <hr>
                                <div class="col-md-10"> <h6 class="m-0 font-weight-bold text-success" ><b>Nome   : <h6 class="m-0  text-dark">{{sessao.get("crachaNome")}}<h6></b></h6></div>
                                <hr>
                                <h6 class="m-0 font-weight-bold text-success"><b>Time(s)   : </b></h6>
                                 <h6 class="m-1">{{sessao.get("crachaTimes")}}</h6>
                                <hr>
                                <h6 class="m-0 font-weight-bold text-success"><b>Campus  : </b></h6>
                                <h6 class="m-1">{{sessao.get("crachaCampus")}}</h6>
                                

                        </div>
                    </div>
                </div>
            </center>
        {%else%}


        {%endif%}


        <div id="disqus_thread"></div>




    </div>

{%endblock%}
